<template>
    <nav-bar />
    <slot />
    <div class="mobile-nav">
        <NavBottomNav />
    </div>
</template>
<style lang="scss" scoped>
.mobile-nav{
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
    }
}
</style>