<template>
    <div class="stacked-left">
        <div class="stacked-content">
            <slot />
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .stacked-content{
        max-width: 500px;
        margin-left: 15%;
    }
</style>