<template>
    <div class="w-100">
        <client-only>
            <quill-editor theme="snow" :toolbar="toolbarOptions" placeholder="Write a short summary about your event" contentType="text" v-model:content="content" @textChange="valueChange"></quill-editor>
        </client-only>
    </div>
</template>

<script lang="ts">


export default defineComponent({
  emits: ['change'],
  props: {
    content: {
        type: String,
        default: ''
    }
  },
  setup(props, context){
    const toolbarOptions: any[] = ['bold', 'italic', 'underline', 'strike', 'blockquote', {'list': 'ordered'}, {'list': 'bullet'}, {'script': 'sub'}, {'script': 'super'}];
    const content = ref('')


    const valueChange = () => {
        context.emit('change', content.value)
    }

    onMounted(() => {
        content.value = props.content
    })

    return {
        toolbarOptions,
        content,
        valueChange
    }
  }
})

</script>

<style lang="scss">
    .ql-toolbar.ql-snow {
    border: 1px solid $faded-orange;
    border-radius: 5px;
}

.ql-container.ql-snow {
    border: 1px solid $faded-orange;
    margin-top: 2px;
    border-radius: 5px;
    min-height: 150px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 1px solid $faded-orange;
}
</style>