<template>
    <v-app class="bg-primary">
      <NuxtLayout>
        <NuxtPage />
      </NuxtLayout>
    </v-app>
</template>


<style>
    @import url('./assets/styles/style.css');
    @import url('./assets/styles/style2.css');
</style>
