<template>
    <div>
        <div class="w-100">
            <div @click="browse" :class="`file-upload my-2 ${size}`">
                <div class="pa-4 d-flex flex-column justify-between align-center">
                    <img v-if="src" :src="src" alt="Banner Image">
                    <div v-else class="upload-icon">
                        <v-icon icon="mdi-upload"></v-icon>
                    </div>
                    <p class="mt-2 text-center"><span class="text-secondary">Click to upload</span> or drag and drop</p>
                </div>
            </div>
            <p>Image size 2560 x 650 pixels. JPG and PNG files. Displayed on event page</p>
        </div>
        <input @change="onChange" type="file" ref=iptRef class="d-none">
    </div>
</template>

<style lang="scss" scoped>
p{
    font-size: 0.8em;
}

.file-upload{
    position: relative;
    height: 125px;
    p{
        font-size: 0.9em;
    }

    &.sm{
        max-width: 160px;
        height: 160px
    }

    .upload-icon{
        border: 3px solid mix($faded-orange, #FFF, 30%);
        border-radius: 50%;
        padding: 7px;
    }

    img{
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
}
</style>

<script lang="ts">
import { defineComponent, type Ref } from 'vue'

export default defineComponent({
    props: {
        size: {
            type: String,
            default: ''
        },
        defaultSrc: {
            type: String,
            default: ''
        }
    },
    emits: ['change'],
    setup(props, context) {
        const src: Ref<string> = ref('')
        const iptRef: Ref<HTMLInputElement | undefined> = ref()

        const browse = () => {
            console.log('browsing')
            console.log(`ipt ref value is ${JSON.stringify(iptRef.value)}`);
            if (!iptRef.value) {
                console.log(`value naaaa`)
                return;
            }

            iptRef.value.click();
        }

        const onChange = () => {

            console.log('changed')
            if (!iptRef.value) {
                return;
            }
            console.log(iptRef.value.files);

            const files = iptRef.value.files;

            if (!files || files.length === 0) {
            return;
            }

            const url = URL.createObjectURL(files[0]);
            src.value = url;

            console.log(`the image file is ${JSON.stringify(files)}`)

            context.emit('change', url, files[0])
        } 

        onMounted(() => {
            src.value = props.defaultSrc
        })
        

        return {
            src,
            iptRef,
            browse,
            onChange
        }
    },
})
</script>
