<template>
    <div>
        <form id="login_form" class="w-100" style="display:flex ; flex-direction:column;" @submit.prevent="logNewUser">
            <!-- @submit.prevent="logNewUser" -->

            <div class="name d-flex">
                <div class="f_name">
                    <label for="firstname">First Name</label>
                    <input type="text" placeholder="Your First Name" id="firstname" v-model="userName.firstName"
                        @blur="showerr('fname')">
                    <div class="errors" v-if="errorFlags.fname && isValid.userName.firstName.$invalid">
                        <div class="error-msg">{{ isValid.userName.firstName.$silentErrors[0].$message }}</div>
                    </div>
                </div>
                <div class="l_name">
                    <label for="">Last Name</label>
                    <input type="text" placeholder="Your Last Name" v-model="userName.lastname" @blur="showerr('lname')">
                    <div class="errors" v-if="errorFlags.lname && isValid.userName.lastname.$invalid">
                        <div class="error-msg">{{ isValid.userName.lastname.$silentErrors[0].$message }}</div>
                    </div>
                </div>
            </div>

            <div id="email">
                <label for="">Email</label>
                <div class="w-100">
                    <input type="email" placeholder="Enter your email address" v-model="email" @blur="showerr('email')">
                    <div class="errors" v-if="errorFlags.email && isValid.email.$invalid">
                        <div class="error-msg">{{ isValid.email.$silentErrors[0].$message }}</div>
                    </div>
                </div>
            </div>
            <div id="password" class="">
                <label for="">Password</label>
                <div class="d-flex w-100">
                    <input class="password" :type="showPassword ? 'text' : 'password'" placeholder="Enter your password"
                        v-model="password" @blur="showerr('pass')">
                    <button type="button" role="button" class="btn password-btn"
                        @click="showPassword = !showPassword"><v-icon icon="mdi-eye"></v-icon></button>
                </div>
                <div class="errors" v-if="errorFlags.pass && isValid.password.$invalid">
                    <div class="error-msg">{{ isValid.password.$silentErrors[0].$message }}</div>
                </div>
            </div>
            <div id="confirmPassword" class="">
                <label for="">Confirm password</label>
                <div class="d-flex w-100">
                    <input class="password" :type="confirmShowPassword ? 'text' : 'password'"
                        placeholder="Re-enter your password" v-model="confirmPassword" @blur="showerr('cpass')">
                    <button type="button" role="button" class="btn password-btn"
                        @click="confirmShowPassword = !confirmShowPassword"><v-icon icon="mdi-eye"></v-icon></button>
                </div>
                <div class="errors" v-if="errorFlags.cpass && isValid.confirmPassword.$invalid">
                    <div class="error-msg">{{ isValid.confirmPassword.$silentErrors[0].$message }}</div>
                </div>
            </div>
            <div id="submit">
                <a>Forgot Password?</a>

                <v-btn type="submit" role="submit" :disabled="loading" :loading="loading" block class="text-none mb-4"
                    color="#765FBE" size="large" variant="flat">
                    SIGN UP
                </v-btn>
            </div>
            <p class="text-error" v-if="errorMsg">{{ errorMsg }}</p>

        </form>
        <div id="recovery">
            <p id="recover">Already have an account? <span>
                    <NuxtLink to="/accounts/login">Sign In</NuxtLink>
                </span> </p>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.errors {
    font-size: smaller;
    color: rgb(203, 24, 24);
}

input {
    padding: 5px 10px;
    border-radius: 7px;
    width: 100%;
    outline: none;

    &.password {
        border-radius: 7px 0 0 7px;
        border-right: none !important;
    }
}

.password-btn {
    background: transparent;
    border-radius: 0 7px 7px 0;
    border: 1px solid $faded-orange;
    border-left: none
}

.name {
    gap: 15px;
}

label {
    font-size: 0.8em;
}
</style>

<script lang="ts">
import { type Ref } from 'vue'
// Your import statement
import { User } from '@/fetchApis/Fetch';
import { useVuelidate } from '@vuelidate/core'
import { required, email, alpha, sameAs, minLength, helpers } from '@vuelidate/validators';
import Swal from 'sweetalert2'
import 'sweetalert2';

export default defineComponent({
    setup() {
        const router = useRouter()
        const email: Ref<string> = ref("")
        const errkey = ref(0)
        const password: Ref<string> = ref('')
        const passwrdLength = ref(6)
        const confirmPassword: Ref<string> = ref('')
        const errorMsg: Ref<string> = ref('')

        const errorFlags = ref({
            fname: false,
            lname: false,
            pass: false,
            email: false,
            cpass: false,
        } as { [key: string]: boolean });

        const showerr = (field: string) => {
            // Set the specified field to true
            errorFlags.value[field] = true;

            // Log the updated errorFlags
            console.log(errorFlags.value);
        };


        const userName = ref({
            firstName: '',
            lastname: ''
        })

        const showPassword: Ref<boolean> = ref(false)
        const confirmShowPassword: Ref<boolean> = ref(false)

        const loading = ref(false)

        const rules = computed(() => ({
            email: { required, email },
            password: {
                required, minLength: helpers.withMessage(
                    'Password should be atleast 6 characters long',
                    minLength(passwrdLength.value)
                ),

            },
            confirmPassword: { required, sameAs: helpers.withMessage('Passwords din\'t match !', sameAs(password)) },
            userName: {
                firstName: { required, alpha },
                lastname: { required, alpha },
            }
        }))

        const isValid = useVuelidate(rules, {
            email,
            password,
            confirmPassword,
            userName,
        })

        // const hashPassword = async (pass: string) => {
        //     const saltRounds = 10; // Adjust the number of salt rounds as needed
        //     const salt = await bcrypt.genSalt(saltRounds);
        //     const hashedPassword = await bcrypt.hash(pass, salt);
        //     return hashedPassword;
        // };

        const fetchDataWithCustomOptions = async (firstName: string, lastname: string, email: string, password: string) => {
            const url = 'https://backend-5eii.onrender.com/create';

            const options = {
                method: 'POST',  // specify the HTTP method
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',  // specify custom headers
                },
                body: JSON.stringify({
                    firstName: firstName,
                    lastname: lastname,
                    email: email,
                    password: password
                }),  // add request body if needed
            };

            try {
                const result = await User(url, options);
                if (result.status === 200) {
                    loading.value = !loading.value
                    router.push({
                        path: '/accounts/login',
                        query: { pop: 1 }
                    })
                } else {
                    console.log(isValid)
                    Swal.fire(
                        `Submission Failed`,
                        `${result.data.message}`,
                        'error' // Specify the error icon
                    );
                    loading.value = false
                }
                console.log(result);
            } catch (err) {
                console.error('Fetch error:', err);
            }
        };

        const logNewUser = async () => {
            console.log(isValid)
            loading.value = !loading.value
            // as soon as we submit, we put a loader 
            if (await isValid.value.$validate()) {
                fetchDataWithCustomOptions(userName.value.firstName, userName.value.lastname, email.value, password.value)
                //     hashPassword(password.value)
                // .then((hashedPassword) => {

                // })
                // .catch((error) => {
                //     console.error('Error hashing password:', error);
                // });

            } else {
                Swal.fire(
                    'Submission Failed!',
                    'Invalid input',
                    'error' // Specify the error icon
                );
                loading.value = !loading.value
            }
            // if form is successfully subimmited, remove the loader 
            // loading.value = !loading.value
            // if(isRegistered){
            //     router.push('/profile')
            // }
        }


        return {
            email,
            password,
            confirmPassword,
            confirmShowPassword,
            logNewUser,
            showPassword,
            userName,
            errorMsg,
            loading,
            errkey,
            isValid,
            showerr,
            errorFlags
        }
    },
})
</script>