<template>
    <div>
        <form id="login_form" class="w-100" style="display:flex ; flex-direction:column;" @submit.prevent="logInUser">
            <!--  -->

            <div id="email">
                <label for="">Email</label>
                <div class="w-100">
                    <input type="email" placeholder="Enter your email address" v-model="email">
                </div>

            </div>
            <div id="password" class="">
                <label for="">Password</label>
                <div class="d-flex w-100">
                    <input class="password" :type="showPassword ? 'text' : 'password'" placeholder="Enter your password"
                        v-model="password">
                    <button type="button" role="button" class="btn password-btn"
                        @click="showPassword = !showPassword"><v-icon icon="mdi-eye"></v-icon></button>
                </div>
            </div>
            <div id="submit">
                <a href="">Forgot Password?</a>
                <v-btn type="submit" role="submit" :disabled="loading" :loading="loading" block class="text-none mb-4"
                    color="#765FBE" size="large" variant="flat">
                    LOG IN
                </v-btn>
                <!-- <button type="submit" role="submit" class="btn w-100 my-2">Log In</button> -->
            </div>

        </form>

        <div id="recovery">
            <p id="recover">Don't have an account? <span>
                    <NuxtLink to="/accounts/signup">Sign Up</NuxtLink>
                </span> </p>
        </div>
    </div>
</template>

<style lang="scss" scoped>
input {
    padding: 5px 10px;
    border-radius: 7px;
    width: 100%;
    outline: none;

    &.password {
        border-radius: 7px 0 0 7px;
        border-right: none !important;
    }
}

.password-btn {
    background: transparent;
    border-radius: 0 7px 7px 0;
    border: 1px solid $faded-orange;
    border-left: none
}

button[type="submit"] {
    background-color: #765FBE;
    border: 1px solid #765FBE;
    color: #fff;
}
</style>

<script lang="ts">
import { type Ref } from 'vue'
import { useRoute } from 'vue-router';
import { signInUser } from '~~/composables/useUserAuth';
import Swal from 'sweetalert2'
import 'sweetalert2';
import { User } from '@/fetchApis/Fetch';
import { useCounterStore } from '../../assets/store/store'
import { useSuccessToast } from '../../assets/popups/popup'

export default defineComponent({
    setup() {
        const pop = ref(false);
        const email = ref("")
        const password = ref('')
        const showPassword: Ref<boolean> = ref(false)
        const loading = ref(false)
        const router = useRouter()
        const route = useRoute();
        const store = useCounterStore()
        onMounted(() => {
            if (route.query.pop) {
                pop.value = true
            }

            useSuccessToast(pop,'User account created successfully')
            
        });

        // const storeAccessToken = computed(() => store.state.accessToken);

        const fetchDataWithCustomOptions = async (email: string, password: string) => {
            const url = 'https://backend-5eii.onrender.com/retrieve';

            const options = {
                method: 'POST',  // specify the HTTP method
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',  // specify custom headers
                },
                body: JSON.stringify({
                    email: email,
                    password: password
                }),  // add request body if needed
            };

            try {
                const result = await User(url, options);
                if (result.status === 200) {
                    // localStorage.setItem('responseObj',  result.data.accessToken)
                    store.setToken(result.data.accessToken)
                    // console.log(store.getToken)
                    // console.log(`The localstorage ${localStorage.getItem('responseObj')}`)
                    // console.log(result)
                    loading.value = !loading.value
                    router.push({
                        path: '/profile',
                        query: { pop: 1 }
                    })
                } else {
                    Swal.fire(
                        `LogIn Failed`,
                        `${result.data.message}`,
                        'error' // Specify the error icon
                    );
                    loading.value = false
                }
                console.log(result);
            } catch (err) {
                console.error('Fetch error:', err);
            }
        };


        const logInUser = async () => {
            loading.value = !loading.value
            fetchDataWithCustomOptions(email.value,  password.value)
        }

        // const logInUser = async () => {
        //     const userdata = await signInUser(email.value, password.value)

        //     if (userdata.success) {
        //         console.log(userdata)

        //         // should remove this timeout 

        //         setTimeout(() => {
        //             router.push('/profile')
        //         }, 1000)
        //     }
        //     else {
        //         console.log(userdata.message)
        //         if (Array.isArray(userdata.message)) {
        //             errors.value = userdata.message
        //         } else {
        //             error.value = userdata.message
        //         }

        //     }
        // }

        return {
            email,
            password,
            logInUser,
            showPassword,
            loading
        }
    },
})
</script>

