<template>
    <div>

        <div class="wrapper d-flex py-8">
            <div class="desc mb-8">
                <h4 class="text-uppercase text-secondary">{{ title }}</h4>
                <p>This information will be displayed publicly</p>
            </div>

            <div class="content">
                    <slot />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    props: {
        title: {
            type: String,
            default: "No Title"
        }
    }
    // setup() {
        
    // },
})
</script>


<style lang="scss" scoped>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .wrapper{
        gap: 15%;
        @media screen and (max-width: 768px) {
            flex-direction: column; 
        }
        .content{
            max-width: 450px;

            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
        p{
            font-size: 0.9em;
        }
    }
</style>