<template>
    <div class="mt-14 bg-primary">
        <h2 class="mb-8 mt-10 mx-12">Account</h2>
    
        <div class="tabs mx-12">
            <v-tabs
            v-model="tab"
            color="purple-darken-3">

                <v-tab :value="1" class="text-capitalize">Personal Information</v-tab>
                <v-tab :value="2" class="text-capitalize">Password</v-tab>
                <v-tab :value="3" class="text-capitalize">Payment</v-tab>
                <v-tab :value="4" class="text-capitalize">Email Preferences</v-tab>
                <v-tab :value="5" class="text-capitalize">Delete Account</v-tab>
                
            </v-tabs>
            <v-divider></v-divider>
            <v-window v-model="tab">
                <v-window-item :value="1">
                    <ProfileEditInfo :src="user?.user_metadata?.avatar_url ? user?.user_metadata?.avatar_url : ''"/>
                </v-window-item>

                <v-window-item :value="2">
                        <ProfileEditPassWord />
                </v-window-item>

                <v-window-item :value="3">
                    <NuxtLayout name="stacked">
                        <ProfileEditPayment />
                    </NuxtLayout>
                </v-window-item>

                <v-window-item :value="4">
                        <ProfileEmailPreferences />          
                </v-window-item>

                <v-window-item :value="5">
                     <NuxtLayout name="stacked">
                        <ProfileDeleteAccount />
                    </NuxtLayout>
                </v-window-item>
            </v-window>
        </div>
    </div>
    
</template>

<style lang="scss">
    *{
        p, h4{
            margin: 0;
            padding: 0;
        }
    }
</style>

<script lang="ts">
import { defineComponent, type Ref } from 'vue'

definePageMeta({
    middleware: ['auth']
})


export default defineComponent({

    

    setup() {
        const user = useEventDeyUser()
        const tab = ref('')

        return {
            tab,
            user
        }
    },
})
</script>
