<script lang="ts">
import { defineComponent, type Ref } from 'vue';;
import { useUserData } from './decodedData'
import { useRoute } from 'vue-router';
import { useSuccessToast } from '../../assets/popups/popup'
import { Bar } from 'vue-chartjs'


definePageMeta({
    middleware: ['auth']
})

export default defineComponent({
    setup() {
        const tab: Ref = ref('')
        const tabInterests: Ref = ref('')
        const userdata = ref()
        const pop = ref(false);
        const route = useRoute();
        const interests = ref(['Music', 'Food & Drinks', 'Community', 'Arts', 'Entertainment', 'Health', 'Science & Tech', 'Travel & Outdoor', 'Fashion', 'Family & Education', 'Government', 'Religion & Spirituality', 'Charity & Causes', 'Sports & Fitness', 'Hobbies', 'Home & Lifestyle', 'Holiday', 'School Activities', 'Auto, Boat & Air'])
        const music = ref(['Alternative', 'Blues & Jazz', 'Classical', 'Country', 'Cultural', 'EDM/Electronic', 'Amapiano', 'Hip Hop/Rap', 'Indie', 'Latin', 'Metal', 'Opera', 'Pop', 'R&B', 'Rock', 'Religious/Spiritual', 'Top 40', 'Acoustic', 'Americana', 'Bluegrass', 'Blues', 'DJ/Dance', 'Trap', 'Experimental', 'Afrobeats', 'Afrofusion', 'Afro-Highlife', 'Raggae', 'Psychedelic', 'Punk/Hardcore', 'World', 'Folk', 'Grime', 'Drill'])

        onMounted(() => {
            console.log(Bar)
            userdata.value = useUserData().userData.value
            console.log(`decode is ${JSON.stringify(userdata.value)}`)
            if (route.query.pop) {
                pop.value = true
            }
            useSuccessToast(pop, 'You have successfully logged in.')
        })

        return {
            userdata,
            tab,
            tabInterests,
            interests,
            music
        }
    },
})
</script>

<template>
    <div class="mt-14 bg-primary">
        <div class="profile my-8 mx-12">
            <div v-if="userdata" class="d-flex">
                <div id="avatar" v-if="userdata.picture">
                    <img :src="userdata.picture"/>
                </div>
                <div id="avatar" v-else>
                    <v-icon icon="mdi-account" size="x-large"> </v-icon>
                </div>
                <!-- <div v-if="user?.avatar" id="avatar">
                <img referrerpolicy="no-referrer" :src="user?.avatar" :alt="user?.firstname ? (user?.firstname + ' ' + user?.lastname) : user?.fullname">
            </div> -->
                <div class="user mx-6">
                    <h2 v-if="userdata.firstname && userdata.lastname" class="mb-1">{{ userdata.fname + " " + userdata.lname }}</h2>
                    <h2 v-else> {{ userdata.name }}</h2>
                    <p class="mb-2 mt-0 mx-0">
                        0 Following . Joined 2023
                    </p>
                    <h4 class="mx-0">
                        <NuxtLink to="profile/edit">Edit profile</NuxtLink>
                    </h4>
                </div>

            </div>
        </div>
        
        <div class="tabs mx-12">
            <v-tabs v-model="tab" color="secondary">

                <v-tab :value="1" class="text-capitalize">Orders</v-tab>
                <v-tab :value="2" class="text-capitalize">Interests</v-tab>
                <v-tab :value="3" class="text-capitalize">Likes</v-tab>
                <v-tab :value="4" class="text-capitalize">Following</v-tab>

            </v-tabs>
            <v-divider></v-divider>
            <v-window v-model="tab">
                <v-window-item v-for="n in 4" :key="n" :value="n">
                    <div v-if="n === 1">
                        <div>
                            <v-row class="my-0">
                                <v-col cols="4" style="display: flex; align-items: center;" class=" float-left">
                                    <v-btn prepend-icon="mdi-filter-multiple" class="text-none" size="small">
                                        Filter
                                    </v-btn>
    
                                    <v-divider vertical color="black" class="mx-4" inset></v-divider>
                                    <h5> Showing 12 publised events</h5>
                                </v-col>
                                <v-col cols-8>
                                    <v-text-field variant="outlined" color="orange" class="w-50 float-right"
                                        label="Search for an order" prepend-icon="mdi-magnify"></v-text-field>
                                </v-col>
                            </v-row>
                        </div>
                        <div>
                            <div>
                                <v-table density="compact"  width="600px" class=" bg-transparent text-dark" overflow-y: auto>
                                    <thead class="bg-secondary">
                                      <tr>
                                        <th class="text-left">
                                          ORDER ID
                                        </th>
                                        <th>
                                            TICKET NAME
                                        </th>
                                        <th>
                                            QUANTITY
                                        </th>
                                        <th>
                                            PRICE
                                        </th>
                                        <th>
                                            DATE
                                        </th> 
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Item Name</td>
                                        <td>item Calori</td>
                                        <td>Item Name</td>
                                        <td>item Calories</td>
                                        <td>good</td>
                                      </tr>
                                    </tbody>
                                  </v-table>
                            </div>
                        </div>
                    </div>
                    <!-- <div id="explore-events">
                        <div id="gift-pic">
                            <img src="~/assets/images/icons/no-content/Group3.png" alt="">
                            <br>
                            <p id="explore-text">
                                You haven't selected any interest yet.<br>
                                Click the below to pick your interests.
                            </p>
                            <div id="explore-btn">
                                <a id="button-1" href="">Select interest</a>
                            </div>
                        </div>
                    </div> -->
                    <div v-if="n === 2">
                        <v-tabs v-model="tabInterests" class="my-5" color="secondary">

                            <v-tab :value="1" class="text-capitalize">Interest selection </v-tab>
                            <v-tab :value="2" class="text-capitalize">Interest location</v-tab>
                            <v-tab :value="3" class="text-capitalize">Follow favorites</v-tab>

                        </v-tabs>
                        <v-window v-model="tabInterests">
                            <v-window-item v-for="n in 3" :key="n" :value="n">
                                <div v-if="n === 1">
                                    <div class="my-5">
                                        <p class="lead text-secondary" style="font-size:x-large;">Inform us of your
                                            passions. 🤩
                                        </p>
                                        <p class="text-grey" style="font-size: smaller;">From the several listed
                                            categories,
                                            select the event tags you want to view most
                                            frequently.</p>
                                    </div>
                                    <div>
                                        <v-container>
                                            <v-row align="center">
                                                <v-col v-for="item in interests" :key="item" cols="auto">
                                                    <v-btn style="border:1px solid rgb(51, 34, 105)" class="text-none"
                                                        color="black" size="small" variant="outlined">{{ item }}</v-btn>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </div>
                                    <v-divider class="my-5"></v-divider>
                                    <div>
                                        <div class="my-5">
                                            <h3>MUSIC</h3>
                                        </div>
                                        <v-container>
                                            <v-row align="center">
                                                <v-col v-for="item in music" :key="item" cols="auto">
                                                    <v-btn style="border:1px solid orange" class="text-none" color="black"
                                                        size="small" variant="outlined">{{ item }}</v-btn>
                                                </v-col>
                                            </v-row>
                                        </v-container>
                                    </div>
                                </div>
                                <div v-if="n === 3">
                                    <div class="my-5">
                                        <p class="lead text-secondary" style="font-size:x-large;">Follow your top
                                            favorites
                                        </p>
                                        <p class="text-grey" style="font-size: smaller;">See the latest events from top
                                            organisers and curated collections based on your selections.</p>
                                    </div>
                                    <div>
                                        <div class="d-flex flex-wrap justify-content-between">
                                            <div class="flex-fill"> <v-card max-width="380" style="border:1px solid orange;"
                                                    variant="outlined">
                                                    <v-container>
                                                        <v-row dense>
                                                            <h5 class="my-3" style="color:  rgb(51, 34, 105);">FOOD</h5>
                                                            <v-col cols="12">
                                                                <v-card color="green" class="text-none"
                                                                    style="border:1px solid green" variant="tonal">
                                                                    <v-row>
                                                                        <v-col cols="3" class="me-3">
                                                                            <div>
                                                                                <v-avatar class="ma-3" size="80"
                                                                                    rounded="0">
                                                                                    <v-img
                                                                                        src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"></v-img>
                                                                                </v-avatar>
                                                                            </div>
                                                                        </v-col>
                                                                        <v-col cols="8">
                                                                            <div class="ma-3">
                                                                                <!-- <v-card-title style="padding:0px">
                                                                            Courtney Henry
                                                                          </v-card-title>
                                                                          <v-card-subtitle style="padding:0px;">Popular in food</v-card-subtitle>
                                                                         -->

                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2 font-weight-bold">Courtney
                                                                                    Henry</v-list-item-subtitle>
                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2">Popular in
                                                                                    food</v-list-item-subtitle>
                                                                                <v-btn class="text-none"
                                                                                    style="border:1px solid rgb(51, 34, 105)"
                                                                                    variant="outlined" size="small"
                                                                                    color="black">
                                                                                    Follow
                                                                                </v-btn>
                                                                            </div>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card>
                                                            </v-col>

                                                            <v-col cols="12">
                                                                <v-card color="green" style="border:1px solid green"
                                                                    class="text-none" variant="tonal">
                                                                    <v-row>
                                                                        <v-col cols="3" class="me-3">
                                                                            <div>
                                                                                <v-avatar class="ma-3" size="80"
                                                                                    rounded="0">
                                                                                    <v-img
                                                                                        src="https://cdn.vuetifyjs.com/images/cards/halcyon.png"></v-img>
                                                                                </v-avatar>
                                                                            </div>
                                                                        </v-col>
                                                                        <v-col cols="8">
                                                                            <div class="ma-3">
                                                                                <!-- <v-card-title style="padding:0px">
                                                                            Courtney Henry
                                                                          </v-card-title>
                                                                          <v-card-subtitle style="padding:0px;">Popular in food</v-card-subtitle>
                                                                         -->

                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2 font-weight-bold">Courtney
                                                                                    Henry</v-list-item-subtitle>
                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2">Popular in
                                                                                    food</v-list-item-subtitle>
                                                                                <v-btn class="text-none"
                                                                                    style="border:1px solid rgb(51, 34, 105)"
                                                                                    variant="outlined" size="small"
                                                                                    color="black">
                                                                                    Follow
                                                                                </v-btn>
                                                                            </div>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card>
                                                            </v-col>
                                                        </v-row>
                                                    </v-container>
                                                </v-card></div>
                                            <div class="flex-fill"> <v-card max-width="380" class=""
                                                    style="border:1px solid orange;" variant="outlined">
                                                    <v-container>
                                                        <v-row dense>
                                                            <h5 class="my-3" style="color:  rgb(51, 34, 105);">FOOD</h5>
                                                            <v-col cols="12">
                                                                <v-card color="green" class="text-none"
                                                                    style="border:1px solid green" variant="tonal">
                                                                    <v-row>
                                                                        <v-col cols="3" class="me-3">
                                                                            <div>
                                                                                <v-avatar class="ma-3" size="80"
                                                                                    rounded="0">
                                                                                    <v-img
                                                                                        src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"></v-img>
                                                                                </v-avatar>
                                                                            </div>
                                                                        </v-col>
                                                                        <v-col cols="8">
                                                                            <div class="ma-3">
                                                                                <!-- <v-card-title style="padding:0px">
                                                                            Courtney Henry
                                                                          </v-card-title>
                                                                          <v-card-subtitle style="padding:0px;">Popular in food</v-card-subtitle>
                                                                         -->

                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2 font-weight-bold">Courtney
                                                                                    Henry</v-list-item-subtitle>
                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2">Popular in
                                                                                    food</v-list-item-subtitle>
                                                                                <v-btn class="text-none"
                                                                                    style="border:1px solid rgb(51, 34, 105)"
                                                                                    variant="outlined" size="small"
                                                                                    color="black">
                                                                                    Follow
                                                                                </v-btn>
                                                                            </div>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card>
                                                            </v-col>

                                                            <v-col cols="12">
                                                                <v-card color="green" style="border:1px solid green"
                                                                    class="text-none" variant="tonal">
                                                                    <v-row>
                                                                        <v-col cols="3" class="me-3">
                                                                            <div>
                                                                                <v-avatar class="ma-3" size="80"
                                                                                    rounded="0">
                                                                                    <v-img
                                                                                        src="https://cdn.vuetifyjs.com/images/cards/halcyon.png"></v-img>
                                                                                </v-avatar>
                                                                            </div>
                                                                        </v-col>
                                                                        <v-col cols="8">
                                                                            <div class="ma-3">
                                                                                <!-- <v-card-title style="padding:0px">
                                                                            Courtney Henry
                                                                          </v-card-title>
                                                                          <v-card-subtitle style="padding:0px;">Popular in food</v-card-subtitle>
                                                                         -->

                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2 font-weight-bold">Courtney
                                                                                    Henry</v-list-item-subtitle>
                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2">Popular in
                                                                                    food</v-list-item-subtitle>
                                                                                <v-btn class="text-none"
                                                                                    style="border:1px solid rgb(51, 34, 105)"
                                                                                    variant="outlined" size="small"
                                                                                    color="black">
                                                                                    Follow
                                                                                </v-btn>
                                                                            </div>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card>
                                                            </v-col>
                                                        </v-row>
                                                    </v-container>
                                                </v-card></div>
                                            <div class="flex-fill"> <v-card max-width="380" class=""
                                                    style="border:1px solid orange;" variant="outlined">
                                                    <v-container>
                                                        <v-row dense>
                                                            <h5 class="my-3" style="color:  rgb(51, 34, 105);">FOOD</h5>
                                                            <v-col cols="12">
                                                                <v-card color="green" class="text-none"
                                                                    style="border:1px solid green" variant="tonal">
                                                                    <v-row>
                                                                        <v-col cols="3" class="me-3">
                                                                            <div>
                                                                                <v-avatar class="ma-3" size="80"
                                                                                    rounded="0">
                                                                                    <v-img
                                                                                        src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"></v-img>
                                                                                </v-avatar>
                                                                            </div>
                                                                        </v-col>
                                                                        <v-col cols="8">
                                                                            <div class="ma-3">
                                                                                <!-- <v-card-title style="padding:0px">
                                                                            Courtney Henry
                                                                          </v-card-title>
                                                                          <v-card-subtitle style="padding:0px;">Popular in food</v-card-subtitle>
                                                                         -->

                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2 font-weight-bold">Courtney
                                                                                    Henry</v-list-item-subtitle>
                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2">Popular in
                                                                                    food</v-list-item-subtitle>
                                                                                <v-btn class="text-none"
                                                                                    style="border:1px solid rgb(51, 34, 105)"
                                                                                    variant="outlined" size="small"
                                                                                    color="black">
                                                                                    Follow
                                                                                </v-btn>
                                                                            </div>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card>
                                                            </v-col>

                                                            <v-col cols="12">
                                                                <v-card color="green" style="border:1px solid green"
                                                                    class="text-none" variant="tonal">
                                                                    <v-row>
                                                                        <v-col cols="3" class="me-3">
                                                                            <div>
                                                                                <v-avatar class="ma-3" size="80"
                                                                                    rounded="0">
                                                                                    <v-img
                                                                                        src="https://cdn.vuetifyjs.com/images/cards/halcyon.png"></v-img>
                                                                                </v-avatar>
                                                                            </div>
                                                                        </v-col>
                                                                        <v-col cols="8">
                                                                            <div class="ma-3">
                                                                                <!-- <v-card-title style="padding:0px">
                                                                            Courtney Henry
                                                                          </v-card-title>
                                                                          <v-card-subtitle style="padding:0px;">Popular in food</v-card-subtitle>
                                                                         -->

                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2 font-weight-bold">Courtney
                                                                                    Henry</v-list-item-subtitle>
                                                                                <v-list-item-subtitle style="color:black"
                                                                                    class="mb-2">Popular in
                                                                                    food</v-list-item-subtitle>
                                                                                <v-btn class="text-none"
                                                                                    style="border:1px solid rgb(51, 34, 105)"
                                                                                    variant="outlined" size="small"
                                                                                    color="black">
                                                                                    Follow
                                                                                </v-btn>
                                                                            </div>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card>
                                                            </v-col>
                                                        </v-row>
                                                    </v-container>
                                                </v-card></div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="n === 2">
                                    <div class="my-5">
                                        <p class="lead text-secondary" style="font-size:x-large;">Pick where you'd like
                                            to
                                            go.
                                        </p>
                                        <p class="text-grey" style="font-size: smaller;">We'll remember this location
                                            for
                                            you</p>
                                    </div>
                                    <div><v-text-field label="Event Location" prepend-inner-icon="mdi-map-marker"
                                            variant="outlined" color="orange"></v-text-field>
                                    </div>
                                </div>
                            </v-window-item>
                        </v-window>
                    </div>
                    <div v-if="n === 3">
                        <div class="sub-main d-flex flex-wrap justify-content-start gap-50 px-4 px-md-6 py-10">
                            <!-- class="sub-main gap-30 flex-wrap px-4 px-md-6"                 -->
                            <div class="main-sub">
                                <div class="heart">
                                    <v-icon icon="mdi-heart" color="red" size="xl"></v-icon>
                                </div>
                                <!-- <NuxtLink :to="`/events/${store._id}`"> -->

                                <NuxtImg class="main-sub_img" provider="cloudinary" format="avif"
                                    src="eventsImages/m41pzQKLvgSmlgko3KFJ8T.jpg" />
                                <!-- <img class="main-sub_img" :src="store.thumbnail.url" alt=""> -->
                                <!-- </NuxtLink> -->
                                <div class="title" ref="title">
                                    <h4>ssuuna</h4>
                                </div>
                                <div class="container_txt mt-2">
                                    <h3>title</h3>
                                    <div>
                                        <p>meet link</p>
                                    </div>
                                    <p class="ct-p text-secondary">Sat, Sept 17, 10:00AM</p>
                                    <p>
                                        <NuxtImg id="ct-img" provider="cloudinary" format="avif"
                                            src="v1706868724/2_mxgvhv.svg" />
                                        <del>N</del> 5000
                                        <del>N</del>75,000
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="n === 4">
                        <v-row class="my-0">
                            <v-col cols="4" style="display: flex; align-items: center;" class=" float-left">
                                <v-btn prepend-icon="mdi-filter-multiple" class="text-none" size="small">
                                    Filter
                                </v-btn>

                                <v-divider vertical color="black" class="mx-4" inset></v-divider>
                                <h5> 1,192 following</h5>
                            </v-col>
                            <v-col cols-8>
                                <v-text-field variant="outlined" color="orange" class="w-50 float-right"
                                    label="Search for an organiser" prepend-icon="mdi-magnify"></v-text-field>
                            </v-col>
                        </v-row>
                        <div>
                            <v-row>
                                <v-col cols="1">
                                    <div>
                                        <v-avatar class="ma-3" size="60" rounded="5">
                                            <v-img src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"></v-img>
                                        </v-avatar>
                                    </div>
                                </v-col>
                                <v-col cols="8">
                                    <div class="ma-3 ms-0">
                                        <v-list-item-subtitle style="color:black"
                                            class="mb-2 ms-0 font-weight-bold">Courtney
                                            Henry</v-list-item-subtitle>
                                        <v-btn class="text-none" style="border:1px solid rgb(51, 34, 105)"
                                            variant="outlined" size="small" color="black">
                                            Music
                                        </v-btn>
                                    </div>
                                </v-col>
                                <v-col cols="3">
                                    <div class="ma-4 float-right">
                                        <v-btn class="text-none" style="border:1px solid rgb(51, 34, 105)"
                                            variant="outlined" size="small" color="black">
                                            Following
                                        </v-btn>
                                    </div>
                                </v-col>
                            </v-row>
                            <v-divider></v-divider>
                        </div>

                        <div class="border-bottom border-black">
                            <v-row>
                                <v-col cols="1">
                                    <div>
                                        <v-avatar class="ma-3" size="60" rounded="5">
                                            <v-img src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"></v-img>
                                        </v-avatar>
                                    </div>
                                </v-col>
                                <v-col cols="8">
                                    <div class="ma-3 ms-0">
                                        <v-list-item-subtitle style="color:black"
                                            class="mb-2 ms-0 font-weight-bold">Courtney
                                            Henry</v-list-item-subtitle>
                                        <v-btn class="text-none" style="border:1px solid rgb(51, 34, 105)"
                                            variant="outlined" size="small" color="black">
                                            Music
                                        </v-btn>
                                    </div>
                                </v-col>
                                <v-col>
                                    <div class="ma-4 float-right">
                                        <v-btn class="text-none" style="border:1px solid rgb(51, 34, 105)"
                                            variant="outlined" size="small" color="black">
                                            Following
                                        </v-btn>
                                    </div>
                                </v-col>
                            </v-row>
                            <v-divider></v-divider>
                        </div>
                        <div class="border-bottom border-black">
                            <v-row>
                                <v-col cols="1">
                                    <div>
                                        <v-avatar class="ma-3" size="60" rounded="5">
                                            <v-img src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"></v-img>
                                        </v-avatar>
                                    </div>
                                </v-col>
                                <v-col cols="8">
                                    <div class="ma-3 ms-0">
                                        <v-list-item-subtitle style="color:black"
                                            class="mb-2 ms-0 font-weight-bold">Courtney
                                            Henry</v-list-item-subtitle>
                                        <v-btn class="text-none" style="border:1px solid rgb(51, 34, 105)"
                                            variant="outlined" size="small" color="black">
                                            Music
                                        </v-btn>
                                    </div>
                                </v-col>
                                <v-col>
                                    <div class="ma-4 float-right">
                                        <v-btn class="text-none" style="border:1px solid rgb(51, 34, 105)"
                                            variant="outlined" size="small" color="black">
                                            Following
                                        </v-btn>
                                    </div>
                                </v-col>
                            </v-row>
                            <v-divider></v-divider>
                        </div>
                    </div>
                </v-window-item>
            </v-window>
        </div>

    </div>
</template>



<style lang="scss" scoped>
#avatar {
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: grey;
    display: grid;
    place-items: center;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

a {
    color: currentColor;
}

h4 {
    text-decoration: underline;
}

p {
    color: $text-col;
}
</style>
