<template>
    <div>
        <v-app-bar color='primary' :elevation="0" :height="72">
        <div class="nav d-flex align-center w-100 px-6">
            <NuxtLink id="eventdey" class="text-body-1 font-weight-bold" to="/">eventsdey</NuxtLink>
            <ul class="d-flex mx-auto actions">
                <li><button><v-icon icon="mdi-magnify" size="x-small"/></button></li>
                <li class="mx-md-4 mx-2"><NuxtLink to="/events">Events</NuxtLink></li>
                <li class="mx-md-4 mx-2"><NuxtLink to="/analytics">Analytics</NuxtLink></li>
                <li class="mx-md-4 mx-2"><a href="#">Hire</a></li>
                <li class="mx-md-4 mx-2"><a href="#">Resources</a> <v-icon icon="mdi-chevron-down" size="x-small"/></li>
                <li class="mx-md-4 mx-2"><a href="#">Help</a></li>
            </ul>
            <ul id="account_actions" class="d-flex align-center">
                <li><NuxtLink to="/events/create" class="evt-create text-secondary mx-2">Create an event</NuxtLink></li>
                <li v-if="!user"><NuxtLink class="btn btn-secondary mx-4" to="/accounts/signup">Log In</NuxtLink></li>
                <li v-if="user">
                    <div class="ed-container d-flex  mx-4">
                        
                        <div class="">
                            <v-menu
                            transition="scale-transition"
                            origin="bottom left"
                            class="rounded-lg"
                            >
                            <template v-slot:activator="{ props }">
                                <div class="d-flex gap-10 align-center" v-bind="props">
                                    <div class="avatar">
                                        <v-icon icon="mdi-account" size="x-large"></v-icon>
                                    </div>
                                    <v-icon icon="mdi-chevron-down" size="large"></v-icon>
                                </div>
                            </template>
                            <v-list class="px-4">
                                <v-list-item class="px-0" v-for=" (list, i) of menuActions" :key="i">
                                <v-list-item-title >
                                    <nuxt-link v-text="list.name" :to="list.link"></nuxt-link>
                                </v-list-item-title>
                                </v-list-item>

                                <v-divider />

                                <v-list-item class="px-0" v-for=" (list, i) of otherActions" :key="i">
                                <v-list-item-title >
                                    <nuxt-link v-text="list.name" :to="list.link"></nuxt-link>
                                </v-list-item-title>
                                </v-list-item>

                                <v-divider />

                                <v-list-item class="px-0" >
                                <v-list-item-title >
                                    <nuxt-link to="">Switch to attending</nuxt-link>
                                </v-list-item-title>
                                </v-list-item>

                                <v-list-item class="px-0" @click="signOut">
                                <v-list-item-title >
                                    <div>Sign Out</div>
                                </v-list-item-title>
                                </v-list-item>
                            </v-list>
                            </v-menu>
                        </div>
                        <!-- <div v-if="user.user_metadata?.avatar_url" class="avatar" @click="goToProfile">
                            <img referrerpolicy="no-referrer" :src="user.user_metadata.avatar_url" :alt="user.displayName">
                        </div> -->
                    </div>
                </li>
                <!-- <li v-if="user"><button class="btn btn-secondary" @click="signOutUser">Sign out</button></li> -->
                <!-- @click="signOut" -->
            </ul>
        </div>
    </v-app-bar>
    </div>
</template>
<style lang="scss" scoped>
    .nav{
        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            z-index: 10;
            background: $faded-orange;
            bottom: 0;
            left: 0;
        }
        @media screen and (max-width: 768px) {
            .actions{
                display: none !important;
            }
            #eventdey{
                margin: 0 auto;
            }
            .evt-create{
                display: none;
            }     
        }

        li{
            list-style-type: none;
            color: $faded-grey;
            font-size: 0.9em;

            .avatar{
                min-width: 36px;
                max-width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: grey;
                display: grid;
                place-items: center;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            a{
                color: currentColor;
                position: relative;

                &.active{
                    color: rgb(var(--v-theme-secondary)) !important;
                    &:before{
                        content: '';
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        background: currentColor;
                        height: 2px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
</style>

<script>
import { useCounterStore } from '../../assets/store/store'
export default {
    setup() {
        const store = useCounterStore()
        const user = computed(() => store.getToken)

        const menuActions = [{name: "Profile", link: '/profile'},
        {name: 'Orders', link: ''},
        {name: 'Account', link: ''},
        {name: 'Get Help', link: ''}]

        const otherActions = [
            {name: 'Language & Translation', link: ''},
            {name: 'NGN', link: ''}
        ]
        // const user = useSupabaseUser();
        // const supabase = useSupabaseClient();

        const signOut= () => {
            store.delToken()
            navigateTo("/accounts/login")
        }

        const goToProfile = () => {
            navigateTo('/profile')
        }
        
        return {
            signOut,
            goToProfile,
            user,
            menuActions,
            otherActions
        }

    },
}
</script>