<template>
    <v-bottom-navigation bg-color="primary" height="72">
            <div class="action-bar w-100">
                <v-divider class="absolute" />
                <div class="actions d-flex justify-space-between" style="height: 72px;">
                    <nuxt-link class="h-100" v-for="link of actions" :to="link.page">
                        <div class="h-100 pa-4 pa-sm-6 d-flex flex-column  align-center" >
                            <v-icon v-if="link.icon" :icon="`mdi-${link.icon}`" size="x-large"/>
                            <p class="text-grey ma-0 pa-0">{{ link.action }}</p>
                        </div>
                    </nuxt-link>
                </div>
            </div>
        </v-bottom-navigation>
</template>
<script>
    export default {
        setup(){
            const actions = [{action: 'Home', icon: 'home-variant-outline', page: '/'} ,
                 {action: 'Explore', icon: 'magnify', page: '/events'},
                 {action: 'Orders', icon: 'ticket-confirmation-outline', page: ''},
                 {action: 'Likes', icon: 'heart-outline', page: ''},
                 {action: 'Profile', icon: 'account-outline', page: '/profile'}]

            return{
                actions
            }
        }
    }
</script>