<template>
    <!-- footer -->

    <div class="footer">

        <div id="foot_sect1" class="gap-30">
            <div class="w-40 foot">
                <div class="ml-6">
                    <NuxtImg provider="cloudinary" format="avif" src="c_scale,h_80,w_52/v1706899057/logo_yg25oy.svg" />
                    <!-- <img src="~~/assets/images/logos/Frame-35199.png" alt="company logo"> -->
                </div>
                <h2 class="w-75 text-light">Event listing, matchmaking and support</h2>
                <form class="d-flex">
                    <input type="text" placeholder="Enter your email address">
                    <button class="btn btn-accent"><v-icon icon="mdi-chevron-right" size="x-small" /></button>
                </form>
            </div>
            <div class="foot1">
                <div class="foot-link">
                    <div id="foot-link">
                        <span>Explore</span>
                        <a href="">Events</a>
                        <a href="">Connect</a>
                        <a href="">Hire</a>
                        <a href="">Resources</a>
                        <a href="">Help</a>
                    </div>
                    <div id="foot-link">
                        <span>Company</span>
                        <a href="">About</a>
                        <a href="">Careers</a>
                        <a href="">Blog</a>
                        <a href="">Press</a>
                        <a href="">Investors</a>
                    </div>
                    <div id="foot-link">
                        <span>Social</span>
                        <a href="">Instgram</a>
                        <a href="">Twitter</a>
                        <a href="">Facebook</a>
                        <a href="">LinkedIn</a>
                    </div>
                    <div id="foot-link">
                        <span>Contact</span>
                        <a href="">hello@eventsdey.com</a>
                    </div>

                </div>


            </div>

        </div>
        <div id="foot_span">

            <div class="foot_span1 mx-auto">
                <p class="text-no-wrap">&copy; Eventsdey {{ currentYear }}</p>

            </div>
            <div class="foot_span gap-20 px-4 flex-wrap">
                <p> <strong><i class="bi bi-globe"></i></strong> English (US)</p>
                <p><del>N</del> NGN</p>
                <p>Privacy policy</p>
                <p>Terms & conditions</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    setup() {
        const currentYear = ref(new Date().getFullYear());
        return {
            currentYear
        };
    }
}

</script>