<template>
    <div class="ticket-table w-100">
        <div class="my-2">

        </div>
        <!-- <v-divider thickness="5"/> -->
        <table class="my-2 w-100">
            <thead>
                <tr class="w-100 flex justify-between col-purple-300 mt-8">
                    <th class="text-uppercase py-4">Ticket Name</th>
                    <th class="text-uppercase py-4">Ticket type</th>
                    <th class="text-uppercase py-4">Ticket qty</th>
                    <th class="text-uppercase py-4">Ticket sold</th>
                    <th class="text-uppercase py-4">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="ticket in dataSource" class="py-6">
                    <td>
                        <p>{{ ticket.name }}</p>
                        <span>On sale</span>
                    </td>
                    <td>
                        Paid
                    </td>
                    <td>
                        {{ ticket.quantity }}
                    </td>
                    <td>
                        2000
                    </td>
                    <td>
                        {{ ticket.price }}
                    </td>
                    
                </tr>
                
            </tbody>
        </table>
    </div>
</template>

<style lang="scss" scoped>
*{
    padding: 0;
    margin: 0;
}
 .ticket-table{
    table{
        border-collapse: collapse;
        tr{
            display: grid;
            grid-template-columns: 37.5% repeat(4, 1fr);
            width: 100%;
            overflow: hidden;
            border-radius: 5px 5px 0 0;
            padding: 0 20px;
            border-bottom: 1px solid $faded-orange;

            td, th{
                text-align: start;
            }
        }
    }
 }
</style>
<script lang="ts">
    // import { ticket } from '~~/interfaces/eventCreate';
export default defineComponent({
    props: {
        dataSource: {
            type: Array as any,
            required: true
        }
    }
})
</script> 