<template>
    <div class="mt-16">
        <!-- section1  -->
        <div class="section1">
            <NuxtImg id="dummy1" provider="cloudinary" format="avif" src="Union_pzpkjw.png" />
            <!-- <img id="dummy1" src="~/assets/images/pictures/dummy/Union.png" alt=""> -->
            <div id="subsectA">
                <div id="txt">
                    <h3><span>One-stop ticket hub</span> for events</h3>

                </div>
                <p class="my-4">Our user-friendly software selects event listings based on your location or top priorities,
                    making your search much more fun.</p>
                <div class="my-10 pl-16">
                    <nuxt-link id="event1" to="/events">Explore Events</nuxt-link>
                    <a id="event2" href="">Organize an event</a>
                </div>
            </div>
            <div id="subsectB">
                <div id="img">
                    <NuxtImg class="rounded-lg" provider="cloudinary" format="avif" src="v1706462499/1_mhozye.png" />
                    <!-- <img class="rounded-lg" src="~/assets/images/pictures/desktop1/1.png" alt=""> -->
                    <NuxtImg class="rounded-lg" provider="cloudinary" format="avif" src="v1706462484/2_iu1oyv.png" />
                    <!-- <img class="rounded-lg" src="~/assets/images/pictures/desktop1/2.png" alt=""> -->
                </div>

                <div id="img1">
                    <NuxtImg class="rounded-lg" provider="cloudinary" format="avif" src="v1706462481/3_gmkaf5.png" />
                    <!-- <img class="rounded-lg" src="~/assets/images/pictures/desktop1/3.png" alt=""> -->
                </div>
            </div>
            <NuxtImg class="rounded-lg" id="dummy1" provider="cloudinary" format="avif" src="Union1_wdza3s.png" />
            <!-- <img class="rounded-lg" id="dummy" src="~/assets/images/pictures/dummy/Union1.png" alt=""> -->

        </div>
        <div class="section2 px-4 px-md-12 py-12">
            <div id="subsectC">
                <div id="txt1">
                    <h3>Events tailored to </h3>
                    <h3> your <span>preferences</span></h3>
                </div>
                <p>Our user-friendly software selects event listings based on your location or top priorities, making your
                    search much more fun.</p>

                <div class="d-flex mt-8 buttons">
                    <nuxt-link class="btn btn-secondary mr-2 d-inline text-no-wrap" to="/events">Explore Events</nuxt-link>
                    <a class="btn btn-secondary-alt mx-2 d-inline text-no-wrap">Pick your interests</a>
                </div>
            </div>
            <div id="subsectD">
                <div class="my-6" id="fd1">
                    <p>Music</p>
                </div>
                <div class="my-6" id="fd2">
                    <p>Arts</p>
                </div>
                <div class="my-6" id="fd3">
                    <p>Finance</p>
                </div>
                <div class="my-6" id="fd4">
                    <p>Food & Drinks</p>
                </div>
                <div class="my-6" id="fd5">
                    <p>Business</p>
                </div>
                <div class="my-6" id="fd6">
                    <p>Travel & Outdoor</p>
                </div>
                <div class="my-6" id="fd7">
                    <p>Education</p>
                </div>
                <div class="my-6" id="fd8">
                    <p>Health</p>
                </div>
                <div class="my-6" id="fd9">
                    <p>Sport & Fitness</p>
                </div>
                <div class="my-6" id="fd10">
                    <p>Hobbies</p>
                </div>
                <div class="my-6" id="fd11">
                    <p>Agriculture</p>
                </div>
                <div class="my-6" id="fd12">
                    <p>Technology</p>
                </div>
            </div>
        </div>

        <!-- section 3 -->

        <!-- section 4 -->
        <div class="section4 px-4 px-md-6">
            <div class="subsectF">
                <div class="subA">
                    <NuxtImg provider="cloudinary" format="avif" src="v1706462498/12_uvdkzw.png" />
                    <!-- <img src="~/assets/images/pictures/desktop1/12.png" alt=""> -->
                </div>
                <div class="subB">
                    <div class="sub-txt">
                        <h2><strong>Organize </strong> your next event with Eventsdey</h2>
                        <p>Our user-friendly software selects event listings based on your location or top priorities,
                            making your search much more fun.</p>
                    </div>
                    <div class="subcat-1">
                        <div class="subcat">
                            <div class="subcatimg">
                                <NuxtImg provider="cloudinary" format="avif" src="v1706462491/13_y4on7t.png" />
                                <!-- <img src="~/assets/images/pictures/desktop1/13.png" alt=""> -->
                            </div>
                            <div class="subcat-txt">
                                <h3>EVENT TICKETING</h3>
                                <p>Create, promote and sell tickets for your events without stress.</p>
                            </div>
                        </div>
                        <div class="subcat">
                            <div class="subcatimg">
                                <NuxtImg provider="cloudinary" format="avif" src="v1706462491/13_y4on7t.png" />
                                <!-- <img src="~/assets/images/pictures/desktop1/13.png" alt=""> -->
                            </div>
                            <div class="subcat-txt">
                                <h3>SALES DASHBORD</h3>
                                <p>Track ticket sales, orders, revenues, event reports in a quick glance.</p>
                            </div>
                        </div>

                    </div>
                    <div class="subcat-1">
                        <div class="subcat">
                            <div class="subcatimg">
                                <NuxtImg provider="cloudinary" format="avif" src="v1706462491/13_y4on7t.png" />
                            </div>
                            <div class="subcat-txt">
                                <h3>EVENT TICKETING</h3>
                                <p>Create, promote and sell tickets for your events without stress.</p>
                            </div>
                        </div>
                        <div class="subcat">
                            <div class="subcatimg">
                                <NuxtImg provider="cloudinary" format="avif" src="v1706462491/13_y4on7t.png" />
                            </div>
                            <div class="subcat-txt">
                                <h3>TEAM MANAGEMENT</h3>
                                <p>Manage team members for your event by granting them roles & permissions</p>
                            </div>
                        </div>
                    </div>
                    <nuxt-link id="event6" to="/events/create">Create an event</nuxt-link>
                </div>

            </div>

            <div class="subsectF">
                <div class="subC" id="talent">
                    <strong>TALENTS</strong>
                    <h3>Have all your performances and works showcased on one platform</h3>
                    <p>Publicize your works, establish contacts with potential employers, and interact with other
                        entertainers. We serve as the platform for international talent on social media.</p>
                    <a id="event7" href="">Get started</a>
                    <a id="event8" href="">Learn More</a>
                    <div id="sub-talent">
                        <div id="subcat-talent">
                            <div class="subtalent1">
                                <div class="subtalent-img">
                                    <NuxtImg provider="cloudinary" format="avif" src="v1706462483/19_hlvuqt.png" />
                                    <!-- <img src="~/assets/images/pictures/desktop1/16.png" alt=""> -->
                                </div>
                                <div class="subtalent-txt">
                                    <h2>Stage decorator</h2>
                                    <p>•Mainland block party</p>
                                </div>
                            </div>
                            <div class="subtalent1">
                                <div class="subtalent-img">
                                    <NuxtImg provider="cloudinary" format="avif" src="v1706462483/19_hlvuqt.png" />
                                    <!-- <img src="~/assets/images/pictures/desktop1/17.png" alt=""> -->
                                </div>
                                <div class="subtalent-txt">
                                    <h2>Master of Ceremony (MC)</h2>
                                    <p>•Headies awards 2022</p>
                                </div>
                            </div>
                            <div class="subtalent1">
                                <div class="subtalent-img">
                                    <NuxtImg provider="cloudinary" format="avif" src="v1706462479/20_z5ktzp.png" />
                                    <!-- <img src="~/assets/images/pictures/desktop1/18.png" alt=""> -->
                                </div>
                                <div class="subtalent-txt">
                                    <h2>Ballet dancer</h2>
                                    <p>•Laugh with Jossy</p>
                                </div>
                            </div>
                            <div class="subtalent1">
                                <div class="subtalent-img">
                                    <NuxtImg provider="cloudinary" format="avif" src="v1706462483/19_hlvuqt.png" />
                                    <!-- <img src="~/assets/images/pictures/desktop1/19.png" alt=""> -->
                                </div>
                                <div class="subtalent-txt">
                                    <h2>Pianist</h2>
                                    <p>•Burna boy band</p>
                                </div>
                            </div>
                            <div class="subtalent1">
                                <div class="subtalent-img">
                                    <NuxtImg provider="cloudinary" format="avif" src="v1706462479/20_z5ktzp.png" />
                                    <!-- <img src="~/assets/images/pictures/desktop1/20.png" alt=""> -->
                                </div>
                                <div class="subtalent-txt">
                                    <h2>Cinematographer</h2>
                                    <p>•Anikulakpo - A Netflix Movie</p>
                                </div>
                            </div>
                        </div>
                        <div id="subcat-talent1">
                            <NuxtImg provider="cloudinary" format="avif" src="v1706462488/15_heh8au.png" />
                            <!-- <img src="~/assets/images/pictures/desktop1/15.png" alt=""> -->
                        </div>
                    </div>
                    <div id="eclipse">
                        <NuxtImg provider="cloudinary" format="avif" src="v1706462481/2_yc0ixv.svg" />
                        <!-- <img src="~/assets/images/pictures/desktop1/2.svg" alt=""> -->
                    </div>
                </div>
                <div class="subC" id="hiring">
                    <strong>HIRING</strong>
                    <h3>Employ the best artists and performers.</h3>
                    <p>Access top entertainers from around you and the globe, evaluate their portfolios, and manage your
                        hiring process in a few simple steps.</p>
                    <a id="event7" href="">Start Hiring</a>
                    <a id="event8" href="">Learn More</a>
                    <div id="eclipse1">
                        <NuxtImg provider="cloudinary" format="avif" src="v1706462472/3_whn3w7.svg" />
                        <!-- <img src="~/assets/images/pictures/desktop1/3.svg" alt=""> -->
                    </div>
                    <div id="hiring-img">
                        <NuxtImg provider="cloudinary" format="avif" src="v1706462490/14_ewtftk.png" />
                        <!-- <img src="~/assets/images/pictures/desktop1/14.png" alt=""> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <nav-footer />
</template>

<style>
img {
    object-fit: cover;
}
</style>

<script>

definePageMeta({
    layout: "home"
})
export default {
    // setup() {

    // },
}
</script>

