<template>
    <div class="py-8">
        <p>Thank you for using Eventbrite Events. If there is anything we can do to keep you with us, please <a class="text-secondary">let us know</a></p>
        <p class="py-4">Please take a moment to let us know why you are leaving:</p>

        <div class="checkbox-group ml-4 pb-8">
            <FormInputCheck action="The product lacks the necessary features" type="Radio"/>
            <FormInputCheck action="I do not recall signing up for Eventsdey" type="Radio"/>
            <FormInputCheck action="The product is too difficult to use" type="Radio"/>
            <FormInputCheck action="The pricing is confusing" type="Radio"/>
            <FormInputCheck action="I chose a different solution" type="Radio"/>
            <FormInputCheck action="The pricing is too high" type="Radio"/>
            <FormInputCheck action="I do not host event" type="Radio"/>
            <FormInputCheck action="Other (Please Explain)" type="Radio"/>

            <textarea name="" id="" cols="30" rows="10" class="input" placeholder="Write your reason if you select other"></textarea>
        </div>

        <v-divider />

        <div class="confirm py-8">
            <h4 class="text-secondary text-uppercase my-2">Account closure confirmation</h4>
            <p class="my-2">Please enter "CLOSE" and your password to confirm that you wish to close your account</p>

            <div class="input-group">
                <label>Type "CLOSE"</label>
                <input type="text" class="input" placeholder='Enter "CLOSE"'>
            </div>
            <div class="input-group">
                <label>Password</label>
                <input type="text" class="input" placeholder='Password'>
            </div>
        </div>

        <button class="btn btn-secondary">Delete account</button>

    </div>
</template>