<template>
    <div class="py-8">
        <p class="my-4">Add a payment method using our secure payment system, then start planning your next event</p>
        <button class="my-4 btn btn-secondary">Add payment method</button>
    </div>
</template>