<template>
    <div class="py-8 w-100">

        <p class="my-2">Change your password to a new one.</p>

        <div class="input-group my-4">
            <label for="">Current Password</label>
            <div class="d-flex">
                <input class="input password" :type="showPassword ? 'text' : 'password'" placeholder="Enter current password">
                <button type="button" role="button" class="btn password-btn" @click="showPassword=!showPassword"><v-icon icon="mdi-eye"></v-icon></button>
            </div>
        </div>
        <div class="input-group my-4">
            <label for="">New Password</label>
            <div class="d-flex w-100">
                <input class="input password" :type="showPassword ? 'text' : 'password'" placeholder="Enter new password">
                <button type="button" role="button" class="btn password-btn" @click="showPassword=!showPassword"><v-icon icon="mdi-eye"></v-icon></button>
            </div>
        </div>

        

        <button class="btn btn-secondary">Save Changes</button>

    </div>
</template>
<script lang="ts">
import { defineComponent, type Ref } from 'vue'

export default defineComponent({
    setup() {
        const showPassword: Ref<boolean> = ref(false)

        return{
            showPassword
        }
    },
})
</script>
<style scoped>
    .password{
        max-width: 500px;
    }
</style>

