<template>
    <div>


        <LayoutProfileWrapper title="Profile Photo">

            <div class="d-flex flex-column align-center">
                <div class="imgbox">
                <div class="avatar">
                    <img v-if="src" referrerpolicy="no-referrer" :src="src" alt="">
                    <v-icon v-else icon="mdi-account" size="x-large"></v-icon>
                </div>
                </div>

                <p>Profile Image</p>
                <a href="">Change Image</a>
            </div>
        </LayoutProfileWrapper>
        <v-divider />

        <LayoutProfileWrapper title="Contact Information">

            <div class="d-flex gap-10">

                <div class="input-group w-100">
                    <label for="">First Name</label>
                    <input type="text" class="input" placeholder="Your First Name" v-model="userContact.firstName" >
                </div>

                <div class="input-group w-100">
                    <label for="">Last Name</label>
                    <input type="text" class="input" placeholder="Your Last Name" v-model="userContact.lastName">
                </div>

            </div>

            <div class="input-group w-100">
                <label for="">Email Address</label>
                <input type="text" class="input" placeholder="Your Email Address" v-model="userContact.email
                ">
            </div>

            <!-- Country and State Picker -->
            <FormInputRegionPicker />
            <div class="d-flex gap-10">
                <div class="input-group w-100">
                    <label for="">City</label>
                    <select class="input w-100" v-model="userContact.location.city">
                        <option value="Uyo">Uyo</option>
                        <option value="Lagos">Lagos</option>
                    </select>
                </div>
                <div class="input-group w-100">
                    <label for="">Postal Code</label>
                    <input type="text" class="input w-100" placeholder="Enter Your Postal Code" v-model="userContact.location.postalCode">
                </div>
            </div>

            <div class="input-group w-100">
                    <label for="">Facebook</label>
                    <input type="text" class="input w-100" placeholder="https://facebook.com/username" v-model="userContact.facebook">
            </div>
            
        </LayoutProfileWrapper>
        <v-divider />

        <LayoutProfileWrapper title="Mail/Shipping Address">

            <div class="input-group">
                <label for="">Address</label>
                <input type="text" class="input w-100" placeholder="Enter Address" v-model="userMailInfo.address">
            </div>

            <div class="input-group w-100">
                <label for="">Address 2</label>
                <input type="text" class="input w-100" placeholder="Enter Address" v-model="userMailInfo.address2">
            </div>
            <!-- Country and State Picker -->
            <FormInputRegionPicker />
            <div class="d-flex gap-10">

                <div class="input-group w-100">
                    <label for="">City</label>
                    <select class="input w-100" v-model="userMailInfo.location.city">
                        <option value="Uyo">Uyo</option>
                        <option value="Lagos">Lagos</option>
                    </select>
                </div>

                <div class="input-group w-100">
                    <label for="">Postal Code</label>
                    <input type="text w-100" class="input" placeholder="Enter Your Postal Code" v-model="userMailInfo.location.postalCode">
                </div>

            </div>
        </LayoutProfileWrapper>
        
        <div class="save my-4">
            <button class="btn btn-secondary">Save changes</button>
        </div>
    </div>
</template>

<style lang="scss" scoped>

    *{
        padding: 0;
        margin: 0;
    }


    .avatar{
        min-width: 96px;
        max-width: 96px;
        height: 96px;
        border-radius: 50%;
        border: 1px solid $faded-orange;
        background-color: grey;
        display: grid;
        place-items: center;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .content{
        *{
            margin-bottom: 7px;
        }
    }

    p{
        font-size: 0.9em;
    }
    .save{
        margin-left: calc(271px + 15%);
    }
</style>

<script lang="ts">
import { defineComponent } from 'vue'


export default defineComponent({
    props: {
        src: {
            type: String,
            default: ''
        }
    },
    setup() {


        const states = ref('')
        const userContact = ref({
            firstName: '',
            lastName: '',
            email: '',
            location: {
                country: '',
                state: '',
                postalCode: '',
                city: ''
            },
            facebook: ''    
        })

        const userMailInfo =  ref({
            address: '',
            address2: '',
            location: {
                country: '',
                state: '',
                postalCode: '',
                city: ''
            }
        })

        // const log = () => {
        //     console.log(userContact.value, userMailInfo.value)
        // }

        return {
            userContact,
            userMailInfo,
            // log,
            states
        }
    },
})
</script>
