<template>
    <div class="py-8">

        <div class="mb-8">
            <h4 class="text-secondary text-uppercase my-2">Attending events</h4>
            <p class="my-2">News and updates about events created by events organizers</p>

            <div class="checkbox-group">

                <h5>Email me</h5>

                <FormInputCheck @change="attendingInfo.email.updates = !attendingInfo.email.updates"  action="Updates about new Eventsdey features and announcements"/>
                <FormInputCheck @change="attendingInfo.email.guide = !attendingInfo.email.guide" action="Eventsdey weekly event guide: A digest of personalized event recommendations "/>
                <FormInputCheck @change="attendingInfo.email.additionalInfo = !attendingInfo.email.additionalInfo" action="Request for additional information on an event after you have attended"/>
                <FormInputCheck @change="attendingInfo.email.unsubscribe = !attendingInfo.email.unsubscribe" action="Unsusbcribe from all Eventbrite newsletters and updates for attendees"/>
            </div>

            <div class="checkbox-group">

                <h5>Notifications</h5>

                <FormInputCheck @change="attendingInfo.notify.newEvent = !attendingInfo.notify.newEvent" action="When an organizer you follow announces a new event"/>
                <FormInputCheck @change="attendingInfo.notify.collections = !attendingInfo.notify.collections" action="Recieve updates on collections you follow"/>
                <FormInputCheck @change="attendingInfo.notify.sales = !attendingInfo.notify.sales" action="Reminder about events onsales"/>
                <FormInputCheck @change="attendingInfo.notify.likes = !attendingInfo.notify.likes" action="Reminder about events I've liked"/>
            </div>
        </div>
        <v-divider />

        <div class="my-8">
            <h4 class="text-secondary text-uppercase my-2">organizing events</h4>
            <p class="my-2">News and updates about events created by events organizers</p>

            <div class="checkbox-group">

                <h5>Email me</h5>

                <FormInputCheck @change="organizingEvents.email.updates = !organizingEvents.email.updates" action="Updates about new Eventsdey features and announcements"/>
                <FormInputCheck @change="organizingEvents.email.tips = !organizingEvents.email.tips" action="Monthly tips and tools for organizing events"/>
                <FormInputCheck @change="organizingEvents.email.sales = !organizingEvents.email.sales" action="Event Sales Recap"/>
                <FormInputCheck @change="organizingEvents.email.unsubscribe = !organizingEvents.email.unsubscribe" action="Unsusbcribe from all Eventbrite newsletters and updates for organizers"/>
            </div>

            <div class="checkbox-group">

                <h5>Notifications</h5>

                <FormInputCheck @change="organizingEvents.notify.nextEvents = !organizingEvents.email.nextEvents" action="Important reminders for my next events"/>
                <FormInputCheck @change="organizingEvents.notify.confirmation = !organizingEvents.email.confirmation" action="Order confirmation for my attendees"/>
            </div>
        </div>

        <button @click="save" class="btn btn-secondary">Save Preferences</button>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'


export default defineComponent({
    setup() {
        const attendingInfo = ref({
            email: {
                updates: false,
                guide: false,
                additionalInfo: false,
                unsubscribe: false
            },
            notify: {
                newEvent: false,
                collections: false,
                sales: false,
                likes: false
            }
        })
        const organizingEvents = ref({
            email: {
                updates: false,
                tips: false,
                sales: false,
                unsubscribe: false
            },
            notify: {
                nextEvents: false,
                confirmation: false
            }
        })

        const save = () => {
        console.log({...attendingInfo.value}, {...organizingEvents.value})
        }

        return{
            attendingInfo,
            organizingEvents,
            save
        }
    },
})
</script>
