<template>
    <v-card color="primary">
        <v-card-item>
            <v-card-title color="secondary">
                Add new ticket
            </v-card-title>
        </v-card-item>
        <v-divider class="mx-6 mt-4"/>
        <v-card-item>
            <div class="d-flex gap-30 my-2">
                <button :class="`btn border-purple-400 ${ticketData.type === 'PAID' &&  'col-purple-100'}`" @click="ticketData.type = 'PAID'">Paid Ticket</button>
                <button :class="`btn border-purple-400 ${ticketData.type === 'FREE' &&  'col-purple-100'}`" @click="ticketData.type = 'FREE'">Free Ticket</button>
            </div>
        </v-card-item>

        <v-card-item>
            <div class="input-group my-2">
                <label for="">Ticket name</label>
                <input type="text" class="input" placeholder="Your Ticket Name" v-model="ticketData.name">
            </div>
            <div class="input-group my-2">
                <label for="">Quantity</label>
                <input type="text" class="input" placeholder="Your Ticket Qunatity" v-model="ticketData.quantity">
            </div>

            <div class="input-group">
                <label for="">Price(NGN)</label>
                <input type="text" class="input" placeholder="Ticket Price" v-model="ticketData.price">
            </div>

            <div class="d-flex gap-30">
                <div class="input-group my-2">
                    <label for="">Sales start on</label>
                    <input type="date" class="input" name="" id="" v-model="ticketData.startSelling">
                </div>
                <div class="input-group my-2">
                    <label for="">Sales end on</label>
                    <input type="date" class="input" name="" id="" v-model="ticketData.endSelling">
                </div>
            </div>

            <div class="d-flex gap-30">
                <div class="input-group my-2">
                    <label for="">Sales start at</label>
                    <input type="time" class="input" name="" id="" v-model="ticketData.saleStartTime">
                </div>
                <div class="input-group my-2">
                    <label for="">Sales start at</label>
                    <input type="time" class="input" name="" id="" v-model="ticketData.saleEndTime">
                </div>
            </div>
        </v-card-item>
        <v-card-item>
            <p class="my-2">Advanced settings</p>
            <div class="d-flex justify-end my-2 mb-6 gap-30">
                <button class="btn btn-secondary-alt" >Cancel</button>
                <button class="btn btn-secondary" @click="finish">Save</button>
            </div>
        </v-card-item>
    </v-card>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { type Ticket  } from '~~/interfaces/eventCreate'

export default defineComponent({
    emits: ['done'],
    setup(props, context) {
        const ticketData = reactive<Ticket>({
            type: "FREE",
            name: '',
            quantity: '',
            price: '',
            startSelling: '',
            endSelling: '',
            saleStartTime: '',
            saleEndTime: ''
        })
        const finish = () => {
            context.emit('done', ticketData)
        }
        return{
            finish,
            ticketData
        }
    },
})
</script>
