<template>
  <div>
    <template  v-if="store">
      <v-card class="" height="auto" width="100%"  title="Card title">
      <NuxtImg 
        class="main-sub_img"
        provider="cloudinary"
        format="avif"
        :src="'c_scale,h_200,w_800/eventsImages/' + store.eventId + 'B.' + store.bannerFormat"
      />
    </v-card>
    <v-divider class="mb-10 mt-10"></v-divider>
      <EventDetails :eventData="store" />
    </template>
    <template v-else >
      <v-card  height="auto" width="100%"  title="Card title">
        <v-skeleton-loader type="image"></v-skeleton-loader>
      </v-card>
    </template>
  </div>
</template>
 
<script lang="ts">
import { type EventData, type Location } from '~~/interfaces/eventCreate'
import { User } from '../../fetchApis/Fetch'
import moment from 'moment'
import EventDetails from './EventDetails.vue'

export default defineComponent({
  components: {
    EventDetails
  },
  setup() {
    const event = ref<any>(null)

    const route = useRoute()
    const store = ref()
    const getEvent = async () => {
      const url = 'https://backend-5eii.onrender.com/getEvent';

      const options = {
        method: 'POST',  // specify the HTTP method
        credentials: 'include',
        headers: {
          'Content-Type': 'application/json',  // specify custom headers
        },
        body: JSON.stringify({
          eventId: route.params.id,
        }),
      };

      try {
        console.log('here')
        const result = await User(url, options);
        if (result.status === 200) {
          store.value = result.data
          console.log(store.value)
        } else {
          console.log(result.data)
          store.value = null
        }

      } catch (err) {
        console.error('Fetch error:', err);
      }
    }

    onMounted(() => {
      console.log(route.params.id)

      getEvent()
    })

    return {
      store,
      moment,
    }
  }
})
</script>
<style scoped>
/* Apply the same styles as v-img to NuxtImg */
.main-sub_img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Similar to v-img's contain property */
}
</style>