<template>
    <div class="my-16">
        <!-- <NuxtLayout name="stacked"> -->
            <NuxtLayout name="stacked" class="mt-10">
                <h2 class="my-6 font-weight-medium">Create event - {{ tabs[tab] }}</h2>
            </NuxtLayout>

            <NuxtLayout name="stacked">
                <ul class="tabs d-flex gap-40 w-100">
                    <li :class="tab == i ? 'active text-purple-darken-2' : '' " v-for=" (el, i) in tabs" :key="i">{{ el }}</li>
                </ul>
            </NuxtLayout>

            <NuxtLayout v-if="tab == 0" name="stacked">
                <EventCreateInfo :isValidCheck="isInfoValid" @next="nextHandler"/>
            </NuxtLayout>

            <NuxtLayout v-if="tab == 1" name="stacked">
                <EventCreateDetails :isValidCheck="isDetailsValid" @next="nextHandler"/>
            </NuxtLayout>

            <EventTickets :isValidCheck="isTicketsValid" @next="nextHandler" v-if="tab == 2"/>

            <EventPublish v-if="tab == 3"/>
        
        <v-bottom-navigation bg-color="primary" height="72">
            <div class="action-bar w-100 py-6">
                <div class="actions d-flex gap-40">
                    <div class="mr-auto prev">
                        <v-icon icon="mdi-chevron-left"></v-icon>
                        <span @click="tab > 0 ? tab -= 1 : tab">Prev</span>
                    </div>
                    <div>Save Draft</div>
                    <div><v-icon icon="mdi-eye"></v-icon>Preview</div>
                    <div @click="validtyChecker"><span>Next</span> <v-icon icon="mdi-chevron-right"></v-icon></div>
                </div>
            </div>
        </v-bottom-navigation>
    </div>
    
</template>

<style lang="scss" scoped>
    p, h4{
        margin: 0;
        padding: 0;
    }

    .tabs{
        li{
            list-style-type: none;
            position: relative;
            &.active:before{
                content: '';
                position: absolute;
                width: 120%;
                height: 3px;
                background-color: currentColor;
                top: 30px;
                left: -10%;
            }
        }
    }
    .action-bar{
        position: relative;
        *{
            cursor: pointer;
        }
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $faded-orange;
            top: 0;
            left: 0;
        }
        .prev{
            color: $faded-grey;
        }
    }
</style>

<script lang="ts">
import { useCreateEvent } from '~~/stores/createEvent'

definePageMeta({
    middleware: ['auth']
})
export default defineComponent({
    setup(){
        const tab = ref<number>(0)
        const tabs = ref(['Event Info', 'Event Details', 'Tickets', 'Publish'])
        const store = useCreateEvent()

        const isInfoValid = ref(false)
        const isDetailsValid = ref(false)
        const isTicketsValid = ref(false)

        const validtyChecker = () => {

            switch(tab.value){
                case 0: 
                    isInfoValid.value = true
                break;
                case 1:
                    isDetailsValid.value = true
                break;
                case 2: 
                    isTicketsValid.value = true
                break;
            }

            console.log(tab.value)
        }

        const nextHandler = (validity: boolean) => {
            switch(tab.value){
                case 0: 
                    isInfoValid.value = false
                    if (validity){
                        tab.value += 1
                    }
                break;
                case 1:
                    isDetailsValid.value = false
                    if (validity){
                        tab.value += 1
                    }
                break;
                case 2: 
                    isTicketsValid.value = false
                    if (validity){
                        tab.value += 1
                    }
                break;
            }
        }

        onUnmounted(() => {
            store.$reset()
        })

        return{
            tab,
            tabs,
            validtyChecker,
            nextHandler,
            isInfoValid,
            isDetailsValid,
            isTicketsValid
        }
    }
})
</script>