<template>
    <v-container>
      <v-row style="align-items:flex-start">
        <v-col cols="12" md="8">
          <v-card>
            <v-container>
              <p class="text-h4 text--primary font-weight-bold">
                {{ eventData.title }}
              </p>
              <p class="pt-5">
                <span class="me-1">By</span>
                <span class="text-blue">{{eventData.organizer}}</span>
                <v-divider vertical size="x-large" color="black" class="mx-4" inset></v-divider>
                <span>Event Website</span>
              </p>
              <v-card-text>
                <p class="text-h4">ABOUT</p>
                <v-divider class="mx-3 mt-4 mb-10"></v-divider>
                <div class="text--primary" style="font-size: 1.1rem;">
                  {{eventData.description}}
                </div>
              </v-card-text>
              <v-card-text>
                <p class="text-h4">DIRECTIONS</p>
                <v-divider class="mx-3 mt-4 mb-10"></v-divider>
                Directions to the event go here...
              </v-card-text>
            </v-container>
          </v-card>
        </v-col>
        <v-col cols="12" md="4" style="position: sticky; top: 20%">
          <v-card class="pa-5">
            <v-card-title>
              <span class="text-grey me-1">From</span>
              <span class="text-h4 text-blue font-weight-bold">{{eventData.ticket[0].price}}</span>
            </v-card-title>
            <v-divider class="mx-3 my-3"></v-divider>
            <v-container class="pa-2">
              <p>
                <v-icon color="red" icon="mdi-backspace-outline" class="pe-4"></v-icon>
                No under age
              </p>
              <p>
                <v-icon color="info" icon="$calendar" class="pe-4"></v-icon>
               {{ eventData.startDate }}
              </p>
              <p>
                <v-icon color="info" icon="mdi-map-marker-radius" class="pe-4"></v-icon>
                  {{ eventData.location }}
              </p>
            </v-container>
            <v-divider></v-divider>
            <v-card-actions>
                <TicketDialog :eventData="eventData"/>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </template>
  
  <script>

import TicketDialog from './TicketDialog.vue';
  export default {
    props: {
    // Define the prop type
    eventData: {
      type: Object,
      required: true
    }
  },

    components: {
    TicketDialog,
  },

  }
  </script>
  