<template>
    <div>
        <div class="filter-item">
            <div id="filter-item">
                <div class="filter">
                    <div class="item"></div>
                    <p>Music</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Health</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Food & Drinks</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Education</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Arts</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Travel & Outdoor</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Science</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Film</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Technology</p>
                </div>
                <div class="filter">
                    <div class="item"></div>
                    <p>Economy and Growth</p>
                </div>
            </div>
            <button>
                <span>
                    <NuxtImg provider="cloudinary" format="avif" src="v1706869623/Mask_q6xzao.png" alt="" />
                </span>
                Filter
            </button>
        </div>

        <div class="desktop2">
            <!-- main -->
            <div class="main">
                <div v-if="store?.length > 0"
                    class="sub-main d-flex flex-wrap justify-content-start gap-50 px-4 px-md-6">
                    <!-- class="sub-main gap-30 flex-wrap px-4 px-md-6"                 -->
                    <div v-for="(store,index) of store" :key="store.eventId" class="main-sub">
                        <div class="heart">
                            <v-icon icon="mdi-heart" size="xl"></v-icon>
                        </div>
                        <NuxtLink :to="`/events/${store.eventId}`">

                            <NuxtImg class="main-sub_img" provider="cloudinary" format="avif"
                                :src="'eventsImages/' + store.eventId + 'T.' + store.thumbnailFormat" />
                            <!-- <img class="main-sub_img" :src="store.thumbnail.url" alt=""> -->
                        </NuxtLink>
                        <div class="title" ref="title">
                            <h4>{{ store.title }}</h4>
                        </div>
                        <div class="container_txt mt-2">
                            <div>
                                <p v-if="store.meetType === 'VIRTUAL'">{{ store.meetLink }}</p>
                            </div>
                            <p class="ct-p text-secondary">Sat, Sept 17, 10:00AM</p>
                            <p>
                                <NuxtImg id="ct-img" provider="cloudinary" format="avif"
                                    src="v1706868724/2_mxgvhv.svg" />
                                    Price: <span v-html="formatPrice(priceRange(index))"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div v-else class="w-100 d-flex flex-column align-center">
                    <div class="imgbox">
                        <img src="~/assets/images/icons/no-content/Group3.png">
                    </div>
                    <div>
                        <h2 class="text-center">You don't have any events</h2>
                    </div>
                </div>

            </div>

            <div class="d-flex w-100 justify-center">
                <button class="btn btn-secondary" @click="toEvents">Create an Event</button>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, onMounted } from 'vue';
import { User } from '../../fetchApis/Fetch';

export default {
  setup() {
    const store = ref(null);
    const tickets = ref([]);
    const router = useRouter();
    
    const getEvents = async () => {
      const url = 'https://backend-5eii.onrender.com/getEvents';
      const options = { method: 'GET', credentials: 'include' };

      try {
        const result = await User(url, options);
        if (result.status === 200) {
          store.value = result.data;
          tickets.value = store.value.map((item) => item.ticket);
          console.log(tickets.value)
        } else {
          console.log(result.data);
          store.value = null;
        }
      } catch (err) {
        console.error('Fetch error:', err);
      }
    };

    const pricerange = (index) => {
      const parsedArry = JSON.parse(tickets.value[index]);
      const pricesArry = parsedArry.map((item) => item.price);

      return {
        lowestPrice: Math.min(...pricesArry),
        highestPrice: Math.max(...pricesArry)
      };
    };

    const priceRange = (index) => pricerange(index);

    const formatPrice = (priceRange) => {
      if (priceRange.lowestPrice === priceRange.highestPrice) {
        return `&#x20A6; ${priceRange.lowestPrice}`;
      } else {
        return `&#x20A6; ${priceRange.lowestPrice} - &#x20A6; ${priceRange.highestPrice}`;
      }
    };

    const toEvents = () => {
      // Assuming router is properly set up
      router.push('/events/create');
    };

    onMounted(() => {
      getEvents();
    });

    return { store, tickets, priceRange, toEvents, formatPrice };
  }
};
</script>
<style>
.sub-main .main-sub {
    flex: 0 0 auto;
    width: 270px;
    height: 350px;
    position: relative;

}

.title {
    border: 0.5px solid black;
    overflow: hidden;
}

.title h4:hover {
    animation: slide 8s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(80%);
    }
}

.main-sub .main-sub_img {
    width: 100%;
    height: 200px;
    border-radius: 7px;
}

.main-sub .heart {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 80%;
    top: 20px;
    border-radius: 100%;
    background-color: #2C2B2EE5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>