<template>
    <v-row style="background-color: white;">
        <v-col cols="8">
            <v-stepper v-model="step" :items="items" show-actions>
                <template v-slot:item.1>
                    <h3 class="font-weight-bold text-h4">Select your Tickets</h3>
                    <h3 class="text">Choose what tickets you want</h3>
                    <br>
                    <v-sheet max-height="230px" style="overflow-y: auto;">

                        <v-card v-if="eventData" v-for="(ticket, index) in parsedTickets" :key="ticket.name" border
                            border-grey class="mx-auto my-2" width="100%">
                            <v-row>
                                <v-col cols="9">
                                    <v-card-title class="text-left">{{ ticket.name }}</v-card-title>
                                    <v-card-subtitle class="text-left">&#x20A6; {{ ticket.price }}</v-card-subtitle>
                                </v-col>
                                <v-col cols="3">
                                    <v-text-field class="pt-4" label="Tickets" v-model="ticketQuantities[index]"
                                        density="compact" style="width: 70px" type="number" variant="outlined"
                                        @input="updateTicketQuantity(index, $event.target.value)" min="0"
                                        max="20"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-expansion-panels>
                                <v-expansion-panel title="More Details"
                                    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima">
                                </v-expansion-panel>
                            </v-expansion-panels>
                        </v-card>

                        <v-card v-else border border-grey class="mx-auto my-2" width="100%">
                            <v-row>
                                <v-col cols="9">
                                    <v-card-title class="text-left"><v-skeleton-loader
                                            type="text"></v-skeleton-loader></v-card-title>
                                    <v-card-subtitle class="text-left"><v-skeleton-loader
                                            type="text"></v-skeleton-loader></v-card-subtitle>
                                </v-col>
                                <v-col cols="3">
                                    <v-skeleton-loader type="text"></v-skeleton-loader>
                                </v-col>
                            </v-row>
                            <v-skeleton-loader type="text"></v-skeleton-loader>
                        </v-card>
                    </v-sheet>
                </template>
                <template v-slot:item.2>
                    <h3 class="text-h6 text-grey">Make Payment of <span
                            style="font-weight: bold; color: black;">&#x20A6; {{ total + 1.84 }}</span> for
                        {{ totaltickets }} tickets</h3>
                    <v-btn @click="sendEmail" :loading="loading" color="purple" variant="elevated" class="ma-1">Pay</v-btn>
                    <br>
                </template>
            </v-stepper>
        </v-col>
        <v-col cols="4">
            <v-card class="pa-3">
                <v-row>
                    <v-col cols="12">

                        <NuxtImg v-if="eventData" class="main-sub_img" provider="cloudinary" format="avif"
                            :src="'c_scale,h_300,w_800/eventsImages/' + eventData.eventId + 'T.' + eventData.bannerFormat" />
                    </v-col>
                    <v-col cols="12" v-if="eventData">
                        <h3>{{ eventData.title }}</h3>
                        <span class="text-grey">{{ eventData.location }}</span>
                    </v-col>
                    <div style="max-height:200px; width:100%; overflow: scroll;">
                        <v-simple-table class="pa-3">
                            <template v-slot:default>
                                <tbody>
                                    <tr style=" position: sticky;
                                    top: 0; background-color:grey; color:white;">
                                        <th class="text-start" style="width: 33.33%;">Order Summary</th>
                                        <th class="text-center" style="width: 33.33%;">QTY</th>
                                        <th class="text-start" style="width: 33.33%;">Amount</th>
                                    </tr>
                                    <tr v-for="(price, index) in ticketTotalPrices" style="text-align: center;">
                                        <template
                                            v-if="ticketQuantities[index] !== 0 && !isNaN(ticketQuantities[index])">
                                            <td class="text-start">Ticket #{{ index + 1 }}: {{ parsedTickets[index].name
                                                }}</td>
                                            <td class="text-center">{{ ticketQuantities[index] }}x</td>
                                            <td class="text-start">&#x20A6; {{ price }}</td>
                                        </template>
                                    </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </div>

                    <v-divider class="px-3"></v-divider>

                    <v-simple-table class="pa-3">
                        <template v-slot:default>
                            <tbody>
                                <tr>
                                    <th class="pr-15 text-start">Ticket Quantity</th>
                                    <td class="pl-15">{{ totaltickets }}</td>
                                </tr>
                                <tr>
                                    <th class="pr-15 text-start">Subtotal</th>
                                    <td class="pl-15">&#x20A6; {{ total }}</td>
                                </tr>
                                <tr v-if="total !== 0">
                                    <th class="pr-15 text-start">Fees</th>
                                    <td class="pl-15">&#x20A6; 1.84</td>
                                </tr>
                                <tr>
                                    <th class="pr-15 text-start">Total</th>
                                    <td v-if="total !== 0" class="pl-15">&#x20A6; {{ total + 1.84 }}</td>
                                    <td v-else class="pl-15">&#x20A6; 0</td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </v-row>
            </v-card>
        </v-col>
    </v-row>
</template>
<script>
import { ref, watch, computed } from 'vue';
import emailjs from '@emailjs/browser';
import { useUserData } from '../profile/decodedData'
import { getCurrentInstance } from 'vue';

export default {
    props: {
        // Define the prop type
        eventData: {
            type: Object,
            required: true
        }
    },
    setup(props) {
        const {emit}=getCurrentInstance();
        const router = useRouter()
        const shipping = ref(0);
        const step = ref(1);
        const userdata = ref()
        const items = ref(['Tickets', 'Your Details']);
        const loading=ref(false)

        const parsedTickets = computed(() => JSON.parse(props.eventData.ticket));
        const ticketQuantities = ref(Array(parsedTickets.value.length).fill(0));
        const ticketTotalPrices = ref(Array(parsedTickets.value.length).fill(0));

        // onMounted(() => {
        //     userdata.value = useUserData().userData.value
        //     console.log(`decode is ${JSON.stringify(userdata.value.name)}`)
        //     console.log(`decode is ${JSON.stringify(userdata.value.email)}`)
        // })

        onMounted(() => {
            userdata.value = useUserData().userData.value
      
            if (!userdata.value) {
                // router.push('/accounts/login') // Redirect to login page if userdata is null
                router.push({
                    path: '/accounts/login',
                    query: { redirect: router.currentRoute.value.fullPath }
                })
            } else {
                console.log(`decode is ${JSON.stringify(userdata.value.name)}`)
                console.log(`decode is ${JSON.stringify(userdata.value.email)}`)
            }
        })


        const sendEmail = () => {
            loading.value=true
            emailjs.init({
                publicKey: 'ugpCyUHKtdXj31VFy',
                // Do not allow headless browsers
                blockHeadless: true,
                limitRate: {
                    // Set the limit rate for the application
                    id: 'app',
                    // Allow 1 request per 10s
                    throttle: 10000,
                },
            });


            var templateParams = {
                to_name: userdata.value.name,
                receiver: userdata.value.email,
                ticketName: props.eventData.title
            };

            emailjs.send('service_57xld0b', 'template_kjs0tkb', templateParams).then(
                (response) => {
                    console.log('SUCCESS!', response.status, response.text);
                    emit('close-dialog');
                    loading.value=false
                },
                (error) => {
                    console.log('FAILED...', error);
                    emit('close-dialog');
                    loading.value=false
                },
            );
        }

        const total = computed(() =>
            ticketTotalPrices.value.reduce((accumulator, currentValue) => accumulator + currentValue, 0)
        );

        const totaltickets = computed(() =>
            ticketQuantities.value.reduce((accumulator, currentValue) => accumulator + currentValue, 0)
        );

        const updateTicketQuantity = (index, value) => {
            ticketQuantities.value[index] = parseInt(value);
            subtotal(index)
        };

        const subtotal = (index) => {
            const subtotalValue = ticketQuantities.value[index] * parsedTickets.value[index].price;
            ticketTotalPrices.value[index] = subtotalValue;
            console.log(`The subtotaol is ${ticketTotalPrices.value}`);
        };

        watch(ticketQuantities, (newVal, oldVal) => {
            console.log('ticketQuantities changed:', newVal);
        }, { deep: true });

        return {
            shipping,
            step,
            items,
            total,
            sendEmail,
            parsedTickets,
            totaltickets,
            ticketQuantities,
            loading,
            ticketTotalPrices,
            updateTicketQuantity
        };
    }
};

</script>
<style scoped>
/* Apply the same styles as v-img to NuxtImg */
.main-sub_img {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* Similar to v-img's contain property */
}
</style>