<template>
  <v-dialog transition="dialog-bottom-transition" width="90%"  v-model="dialog">
    <template v-slot:activator="{ props: activatorProps }">
      <v-btn v-bind="activatorProps" class="mt-5" color="blue" variant="elevated" block size="large" rounded="lg">
      GET TICKET[S]
      </v-btn>
    </template>
    <template v-slot:default="{ isActive }">
      <Process :eventData="eventData" @close-dialog="closeDialog"/>
    </template>
  </v-dialog>
</template>

<script>
import Process from './ticketProcess.vue'
import { ref } from 'vue';

export default {
  props: {
    // Define the prop type
    eventData: {
      type: Object,
      required: true
    }
  },
  components: {
    Process
  },
  setup() {
    const dialog = ref(false);

    const closeDialog = () => {
      dialog.value = false;
    };

    return {
      dialog,
      closeDialog
    };
  }
}
</script>
