<template>
    <div style="padding: 10%;">
      <div class="border border-secondary px-5">
        <div class="mb-16 mt-6">
          <div>
            <h3 class="text-secondary float-left">Events</h3>
          </div>
          <div class="float-right">
            <v-btn append-icon="mdi-download-outline" class="text-none" variant="tonal" color="secondary">
              Button
            </v-btn>
          </div>
        </div>
        <div><canvas height="100" width="300" ref="myChart"></canvas></div>
        <v-divider class="my-10"></v-divider>
        <div class="my-10">
          <v-row justify="space-around">
            <v-col cols="3" class="border border-secondary d-flex align-center justify-center" style="height: 100px;">
              <div class="text-center">
                <h3 style="margin-bottom: 0;">24.4k</h3>
                <h4 style="margin-top: 0;">Total&nbsp;Attendees</h4>
              </div>
            </v-col>
            <v-col cols="3" class="border border-secondary" style="height: 100px;">
              <div class="text-center">
                <h3 style="margin-bottom: 0;">24.4k</h3>
                <h4 style="margin-top: 0;">Total&nbsp;Attendees</h4>
              </div>
            </v-col>
            <v-col cols="3" class="border border-secondary" style="height: 100px;">
              <div class="text-center">
                <h3 style="margin-bottom: 0;">24.4k</h3>
                <h4 style="margin-top: 0;">Total&nbsp;Attendees</h4>
              </div>
            </v-col>
          </v-row>
        </div>
      </div>
    </div>
    
  </template>
    
  <script lang="ts">
  import Chart from 'chart.js/auto';
  
  export default defineComponent({
    setup() {
      const myChart = ref<HTMLCanvasElement | undefined>(undefined);
  
      const PopChart = () => {
        if (myChart.value) {
          new Chart(myChart.value, {
            type: 'line',
            data: {
              datasets: [{
                type: 'line',
                label: 'Data',
                data: [10, 20, 30, 40],
                tension: 0.2,
                order: 1,
              },
              {
                type: 'line',
                label: 'Dataset 2',
                data: [19, 27, 90, 70],
                tension: 0.2,
                order: 1,
              },
              {
                type: 'line',
                label: 'Dataset 3',
                data: [80, 2, 30, 90],
                tension: 0.2,
                order: 1,
              }],
              labels: ['Jan', 'Feb', 'Mar', 'Apr']
            },
            options: {
              scales: {
                y: {
                  title: {
                    display: true,
                    text: 'Number of Events'
                  },
                  beginAtZero: true,
                  grid: {
                    display: true,
                  }
                },
                x: {
                  title: {
                    display: true,
                    text: 'Months'
                  },
                  grid: {
                    display: false
                  }
                }
              }
            }
          });
        }
      }
  
      onMounted(() => {
        console.log(myChart.value);
        PopChart();
      });
  
      return {
        myChart
      };
    }
  });
  </script>
  <style scoped lang="scss"></style>
    