<template>
  <v-container class="mt-15 pt-15">
    <v-card width="550px" height="340px" id="myTicket">
      <v-card-text>
        <v-row class="">
          <v-col cols="3">
            <v-img
              src="https://res.cloudinary.com/dn6stpnn2/image/upload/c_scale,h_300,w_800/v1707902378/eventsImages/m41pzQKLvgSmlgko3KFJ8T.jpg"
              contain width="100%" alt="banner"></v-img>
          </v-col>
          <v-col cols="7">
            <h3>Event Ticket Name Event Ticket Name Event Ticket Name </h3>
          </v-col>
          <v-col cols="2">
            <h6>This is your</h6>
            <h5>E-ticket</h5>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <h5 class="text-center">PLEASE HAVE THIS TICKET READY ON YOUR DEVICE FOR SCANNING</h5>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="8">
            <v-card-text>
              <a href="http://www.eventsdey.com" target="_blank" class="text-indigo-darken-2">
                www.eventsdey.com
              </a>
              <div class="my-2">
                <h6 class="text-disabled">EVENT DATE AND TIME</h6>
                <h5 class="font-weight-medium">Saturday 18 September 2021 2:03PM</h5>
              </div>
              <div class="my-2">
                <h6 class="text-disabled">TICKET PRICE</h6>
                <h5 class="font-weight-medium">$123</h5>
              </div>
              <div class="my-2">
                <h6 class="text-disabled">VENUE</h6>
                <h5 class="font-weight-medium">Santorini</h5>
              </div>
            </v-card-text>
          </v-col>
          <v-col cols="4">
            <img :src="qrImage" alt="QR Code" class="border" />
            <p class="text-center">OrderId: #9090995</p>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-btn @click="convertToImage">Convert</v-btn>
    <div id="ticket"></div>
  </v-container>
</template>

<script>
import QRCode from 'qrcode-generator';
import * as htmlToImage from 'html-to-image';
import emailjs from '@emailjs/browser';

export default {
  data() {
    return {
      qrImage: '',
      myTicket: ''
    };
  },

  methods: {
    convertToImage() {
      const node = document.getElementById('myTicket');

      htmlToImage.toPng(node)
        .then(function (dataUrl) {
          const img = new Image(dataUrl);
          console.log(dataUrl)
          img.src = dataUrl;
          img.alt = 'ssuuna'
          const divimg = document.getElementById('ticket')

          divimg.appendChild(img);
          console.log(divimg) // Append to element with ID "ticket"
        })
        .catch(function (error) {
          console.error('Oops, something went wrong!', error);
        });
    },

    sendEmail() {
      emailjs.init({
        publicKey: 'ugpCyUHKtdXj31VFy',
        // Do not allow headless browsers
        blockHeadless: true,
        limitRate: {
          // Set the limit rate for the application
          id: 'app',
          // Allow 1 request per 10s
          throttle: 10000,
        },
      });

      var templateParams = {
        from_name: 'James',
        to_name:'John johns',
        message: 'Check this out!',
        receiver:'ssuunafranc@gmail.com'
      };

      emailjs.send('service_57xld0b', 'template_kjs0tkb', templateParams).then(
        (response) => {
          console.log('SUCCESS!', response.status, response.text);
        },
        (error) => {
          console.log('FAILED...', error);
        },
      );
    },

  },

  mounted() {
    // Create a QRCode object
    const qr = QRCode(0, 'H');
    qr.addData('https://eventsdey.vercel.app/'); // Add the URL or data you want to encode
    qr.make();

    // Get the QR code as a base64-encoded image
    this.qrImage = qr.createDataURL(4); // Size multiplier: 4
  },
};
</script>