@font-face {
    font-family: 'Apercu';
    src: url(./font/Apercu-Font-Family/Apercu\ Pro\ Regular.otf);
}

body{
    margin: 0;
    font-family: 'Apercu';
}
body a{
    text-decoration: none;

}
.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #FFD2A6;
    background-color: #F5F0EB;

}
.nav-container h3, a{
    color: #2C2B2E;
}
#nav-link1{
    width: 55%;
    display: flex;
    justify-content: center;

}
#nav-link1 a{
    margin: 0 30px;
    color: #B7B7B7;
}
#nav-link2 a{
    padding: 10px 10px;
}
#nav-link2 #nav-alink1{
    color: #332269;
}
#nav-link2 #nav-alink2{
    background-color: #DAD2F6;
    color: #2C2B2E;
    border-radius: 5px;
}
.bi-search{
    color: #B7B7B7;
}
.bi-caret-down{
    position: relative;
    top: 2px;
    left: 3px;
}


/* desktop 2 */
.desktop2{
    width: 100%;
    background-color: #F5F0EB;
}

.filter-item{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 5%;

}
#filter-item{
    width: 100%;
    height: 100px;
    display: flex;
}
.filter{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
}
.item{
    width: 30%;
    height: 30px;
    border-radius: 100%;
    background-color: #D9D9D9;
}
.filter-item button{
    width:10%;
    height: 50px;
    background: transparent;
    border: 1px solid #FFD2A6;
    margin: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
.main{
    width: 100%;
}
.sub-main{
    width: 90%;
    height: 450px;
    margin: 0 5%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}
.sub-main .subcat{
    width: 25%;
    height: 400px;
    position: relative;
}
.subcat img{
    width: 100%;
    height: 250px;
}
.subcat #heart{
    height: 40px;
    width: 45px;
    position: absolute;
    left: 80%;
    top: 20px;
    border-radius: 100%;
    background-color: #2C2B2EE5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_txt{
    height: 150px;
}
.container_txt h3{
    color: #2C2B2E;
    line-height: 0;
}
.container_txt p{
    margin: 0;
    color: #515A6A;
    line-height: 1.5;
}
.container_txt .ct-p{
    margin: 10px 0;
}
.container_txt #ct-img{
    width: 15px;
    height: 12px;
    margin-right:10px ;
}
.bi-heart{
    color: #f9f9f9;
}

/* footer */

.footer{
    width: 100%;
    height: 400px;
    background-color: #332269;
    padding: 50px 0px;
    margin: 0;
    box-sizing: border-box;

}
.footer #foot_sect1{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.foot{
    width: 45%;
}
.foot1{
    width: 50%;
}
#foot-img{
    width: 5%;
    height: 40px;
}
.foot h2{
    width: 60%;
    color: #F4F1FF;
}
.foot #foot-input{
    width: 90%;
}
#foot-input form{
    height: 50px;
    display: flex;
    align-items: center;
}
form input{
    height: 45px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: transparent;
}
form button{
    width: 10%;
    height: 40px;
    background-color: #FFD2A6;
    border: 1px solid #FFD2A6;
    margin: 10px;
    border-radius: 5px;
}
.foot-link{
    display: flex;
}
#foot-link{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#foot-link a{
    padding: 8px 0;
    color: #FFFFFF;

}
#foot_span{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 100%;
    color: #DAD2F6;
    
}
.foot_span{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65px;

}
.foot_span p{
    font-size: 14px;
}
