

body{
    margin: 0;
    font-family: 'Apercu';
    background-color: #F5F0EB;

}
body a{
    text-decoration: none;

}
.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #FFD2A6;
    background-color: #F5F0EB;

}
.nav-container h3, a{
    color: #2C2B2E;
}
#nav-link1{
    width: 55%;
    display: flex;
    justify-content: center;

}
#nav-link1 a{
    margin: 0 30px;
    color: #B7B7B7;
}
#nav-link2{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;
}
#nav-link2 img{
    padding: 10px 0px;
}
#nav-link2 #nav-alink1{
    color: #332269;
}

.bi-search{
    color: #B7B7B7;
}

#nav-link2 .bi-caret-down{
    position:relative;
    top: -23px;
}

/* part1 */
#part1{
    width: 100%;
    height: 700px;
    background-color: #F5F0EB;
}
#part1 #event{
    color: #2C2B2E;
    margin: 0px;
    padding: 50px 12%;
    /* font-size: 25px; */

}

#section{
    margin:0px auto;
    width:21%;
    text-align: center;
}
#section img{
    width: 60%;
    /* height: 200px; */
}
#section p{
    color: #2C2B2E;
}
#section a{
    padding: 10px 10px;
    color: #FFFFFF;
    background-color: #332269;
    position: relative;
    top: 30px;
}


/* part2 */
#part2{
    width: 100%;
    height: 1150px;
    padding:20px 0;
    background-color: #F5F0EB;
}
#part2 input{
    border: 1px solid #FFD2A6;
    outline: none;
}
#part2 label{
    color: #515A6A;
}
#part2 #txt, 
.eventdetails #txt, 
.ticket #txt{
    display: flex;
    width: 50%;
    margin: 30px 10%;
}
#txt h3{
    color: #2C2B2E;
}
#part2 #part2_link, 
.eventdetails #part2_link, 
.ticket #part2_link,
.info_container .box{
    display: flex;
    width: 50%;
    margin: 0px 10%;
}
#part2_link a, .box a{
    color: #B7B7B7;
    padding: 10px 0;
}
#part2_link .same, .box .same{
    margin-left: 10%;
}
#part2_link .active{
    color: #2C2B2E;
}
#part2 #basic_info{
    width: 50%;
    margin: 30px 10%;
}
#basic_info h3{
    color: #332269;
}
#basic_info #title_organizer{
    width: 50%;
}
#title_organizer .event {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#title_organizer .event input{
    height: 40px;
}
#basic_info #cat_format, #location .location_format{
    width: 50%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}
#cat_format .cat_format{
    width: 45%;
}
.cat_format .custom-select{
    border: 1px solid #FFD2A6;
}
.custom-select select{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    color:#B7B7B7;
}
.custom-select {
  position: relative;
}
.select select {
    display: none; /*hide original SELECT element:*/
}

/* .select-selected {
    background-color: #B7B7B7;
} */

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
/* .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
} */

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
/* .select-items {
    position: absolute;
    background-color: #FFFFFF;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
} */

/*hide the items when the select box is closed:*/
/* .select-hide {
    display: none;
} */
/* 
.select-items div:hover, .same-as-selected {
    background-color: #B7B7B7;
} */




#cat_format .cat_format{
    display: flex;
    flex-direction: column;
    
}
#part2 #location{
    width: 50%;
    margin: 30px 10%;
}
#location h3{
    color: #332269;
}
#location #location_btn{
    margin: 30px 0;
    width: 50%;
    display: flex;
    cursor: pointer;
}
#lb3, #lb4, #lb5, #lb6{
    padding: 15px 15px;
    border-radius: 5px;
    color: #2C2B2E;
}
#location_btn #lb3{
    background-color: #F4F1FF;
    border: 1px solid #CBBDF8;
    
}
#location_btn #lb4{
    border: 1px solid #CBBDF8;
    margin-left: 20px;
}
#virtual{
    width: 50%;
    border: 1px solid;
    margin: 30px 0;
    display: none;
}
#external_link{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
#external_link input{
    height: 40px;
}

#location #enter-location{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#location .location_format{
    display: none;
}
#enter-location input{
    height: 40px;
}
#part2 #date_time{
    width: 50%;
    margin: 30px 10%;
}
#date_time h3{
    color: #332269;
}

#date_time #dt_btn a{
    padding: 8px 8px;
    border-radius: 8px;
    color: #2C2B2E;
}
#date_time #dt_btn{
    margin: 30px 0;
    width: 50%;
    display: flex;
    cursor: pointer;
}
#dt_btn #lb5{
    background-color: #F4F1FF;
    border: 1px solid #CBBDF8;
}
#dt_btn #lb6{
    border: 1px solid #CBBDF8;
    margin-left: 20px;
}
#recurring-events{
    display: none;
}
#date_time .format{
    display:flex;
    width: 50%;
    justify-content: space-between;
}

.format .date_time{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.date_time input{
    height: 40px;
}
#date_time #time_zone{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
#time_zone input{
    height: 40px;
}
#schedule-recurrence{
    width: 50%;
}


/* event details */
.eventdetails #event_image{
    width: 50%;
    margin: 0 10%;
}
#event_image h3{
    color: #332269;
}
#event_image #event_banner, #event_thumbnail, #event_description{
    margin: 50px 0;
    width: 80%;
}
#event_image #event_banner .last, #event_thumbnail .last, #event_description .last{
    /* line-height: 0.5; */
    color: #515A6A;
}
#event_image #event_banner .first, #event_thumbnail .first, #event_description .first{
    color: #2C2B2E;
    font-weight: 500;
}

#event_banner img, #event_thumbnail img{
    margin: 0;
    padding: 0;
}
#event_description #symbols{
    width: 95%;
    height: 40px;
    border: 1px solid #FFD2A6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
#symbols img{
    width: 5%;
    height: 20px;
}
#event_image textarea{
    width: 94.4%;
    border-radius: 5px;
    margin-top: 2px;
    border: 1px solid #FFD2A6;
    outline: none;
    background: transparent;
}


/* footer */
.foot #sec1{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
#sec #first{
    color: #B7B7B7;
}
.sec .second{
    color: #2C2B2E;
}

/* ticket */
.ticket{
    width: 100%;
    height: 500px;
}
.ticket_show{
    width: 35%;
    position: absolute;
    top: 75%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
.ticket_show img{
    margin: 0;
}
.ticket_show p{
    width: 90%;
    margin: 0;
    text-align: center;
    color: #969CA5;
}
.ticket_show #ticket_links{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
#ticket_links a{
    padding: 10px 10px;
    border-radius: 5px;

}
#ticket_links #tl1{
    color: #2C2B2E;
    border: 1px solid #332269;
}
#ticket_links #tl2{
    background-color: #332269;
    color: #FFFFFF;

}







/* publish-now section */

/* body{
    background: #F5F0EB;
} */


.info_container{
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;
    
}
.info_container #txt{
    margin: 0px 10%;
}


.info_container .box a:after:visited{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color:#765FBE;
}
.info_container .event_topics .active{
    width: 70%;
    height: 3px;
    background-color:#DAD2F7;;
}

/* design part */

.designer_box{ 
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}
.designer_box .d_box{
    width: 35%;
    height: 200px;
    background: #FEF1E3;
    font-size: 13px;
    padding:0% 3% 0% 3%;
    box-sizing: border-box;
    border: 1px solid #FFD2A6;
    border-radius: 5px;

}

.designer_box .d_box h3{
    color: #332269;

}
.designer_box .d_box .liner{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
   border-top: 1px solid #FFD2A6;

}

.designer_box img{
    width: 60%;
    height: 200px;
    
    
}

/* form part */


.querry{
    width: 26%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10%;

}


.querry1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 24px;
    box-sizing: border-box;
}
.querry1 input{
    width: 14%;
    height: 14px;
    
    
 }

.querry1 div{
    width: 100%;
    height: 30px;
   
}
.querry1 div h3{
   font-size: 15px;
   margin: 0px;
   font-weight: lighter;
}
#event-type{
    height: 300px;
}
#public-event{

    justify-content: center;

}
.date-time{
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}
.date-time .box{
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.date-time .box .time-box{
    width: 100%;
    height: inherit;
}
.date-time .box h6{
   margin: 0px;
   font-size: 14px;
   color: #515A6A;
   font-weight: normal;
}

.date-time .box .time-box input{
    width: 90%;
    height: 37px;
    background: #FEF1E3;
    border: 1px solid #FFD2A6;
    border-radius: 4px;
    color: #515A6A;
}

/* When the event is selcted as private */

.querry .audiences{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.audiences .link{
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CBBDF8;
    border-radius: 5px;
    cursor: pointer;
}
.audiences .active{

    background-color: #F4F1FF;
}
#private-event, #private-event2{
    display: none;
}


.querry .password{
    width: 100%;
   margin-top: 15%;
   display: none;
}
.querry .password .details{
    width: 90%;
    height: 50px;
    border: 1px solid #FFD2A6;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    box-sizing: border-box;
}
.querry .password .details input{
    width: 90%;
    height: 40px;
    outline: none;
    padding-left: 5px;
    border: none;
    background-color: transparent;
}
.querry .password .details i{
    cursor: pointer;
}
.password h5{
    margin: 0px;
}