

body{
    margin: 0;
    background-color: #F5F0EB;

}
body a{
    text-decoration: none;

}
.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #FFD2A6;
    background-color: #F5F0EB;
}
.nav-container #eventdey{
    color: #2C2B2E;
    font-weight: 600;
    margin-left: 30px;
    font-size: 20px;
}
#nav-link1{
    width: 45%;
    display: flex;
    justify-content: center;
    transform: translateX(100px);

}
#nav-link2{
    width: 19%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
#nav-link1 a{
    margin: 0 30px;
    color: #B7B7B7;
    position: relative;

}
#nav-link2 a{
    padding: 10px 10px;
    margin: 0 12px;
}
#nav-link2 #nav-alink1, #nav-link2x #nav-alink1{
    color: #332269;
}
#nav-link2 #nav-alink2{
    background-color: #DAD2F6;
    color: #2C2B2E;
    border-radius: 5px;
}
.nav-alink{
    background-color: #332269;
    border-radius: 5px;
    color: #FFFFFF;
}
.bi-search{
    color: #B7B7B7;
}
#nav-link1 a .bi-chevron-down{
    position: absolute;
    top: 2px;
    left: 110%;
}
#nav-link2x{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
#nav-link2x .bi-chevron-down{
    position:relative;
    top: -15px;
}

/* section 1 */

.section1{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(95.64deg, #ECE7FF 0%, #F9E4D0 100.01%);
    position: relative;
    overflow: hidden;
}
.section1x{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(95.64deg, #ECE7FF 0%, #F9E4D0 100.01%);
    position: relative;
    overflow: visible;
}
.section1x #dummy1{
    width: 20%;
    height:420px !important;
    position: absolute;
    top: 500px;
    left: 5%;
}
.section1 #dummy1{
    width: 20%;
    height:300px;
    position: absolute;
    top: 500px;
    left: 5%;
    object-fit: contain;
}
#subsectA{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 150px 0;
    box-sizing: border-box;
}

.section1 #dummy{
    width: 30%;
    height: 450px;
    position: absolute;
    top: 100px;
    left: 52.5%;
    object-fit: contain;

}
.section1x #dummy{
    width: 23%;
    height: 450px;
    position: absolute;
    top: 100px;
    left: 56.5%;

}
#subsectA #txt{
    width: 80%;
    margin: 0 10%;
    word-spacing: 1px;
    height: 150px;
}
#subsectA #txt h3{
    width: 65%;
    font-size: 38px;
    color: #2C2B2E;
    line-height: 1.5;
}
#subsectA #txt span{
    color:#765FBE;
}
#subsectA p{
    width: 87%;
    font-size: 1em;
    color: #515A6A;
    margin: 20px 10%;
}
#subsectA #sublink{
    margin: 30px 10%;
}
#subsectA a{
    width: 30%;
    padding: 10px 10px;
    border: 1px solid #332269;
}
#subsectA #event1{
    background-color: #332269;
    color: #F4F1FF;
    border-radius: 5px ;
}
#subsectA #event2{
    color: #2C2B2E;
    margin: 0 5%;
    border-radius: 5px ;

}
#subsectB{
    width: 35%;
    margin-right: 55px;
    padding: 50px 0;
    box-sizing: border-box;
    overflow: visible;
    z-index: 2;
}

#subsectB #img{
    width: 100%;
    height: 270px;
    display: flex;
    margin: 20px 0;
    gap: 1em;
}
#subsectB #img img{
    width: calc(50% - 0.5em);
    height: 270px;
}
#subsectB #img1{
    width: 100%;
    height: 250px;
    display: flex;
    margin: 0;

}

#subsectB #img1 img{
    width: 100%;
    height: 250px;
}

/* section 2 */

.section2{
    width: 100%;
    background-color: #F5F0EB;
    display: flex;
    justify-content: space-between;
}
#subsectC{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#subsectC #txt1 h3{
    font-size: 38px;
    color: #2C2B2E;
    line-height: 1.5;
}
#subsectC #txt1 span{
    color:#765FBE;
}
#subsectC p{
    width: 87%;
    font-size: 1em;
    color: #515A6A;
    margin: 20px 0;
}
#subsectC #sublink1{
    width: 50%;
    margin: 30px 10%;
}
#subsectC #event3{
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    border-radius: 5px ;
}
#subsectC #event4{
    color: #765FBE;
    margin: 0 5%;
    border-radius: 5px ;

}
#subsectD{
    width: 45%;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* grid-template-columns: repeat(3, 0.75fr); */
}

#subsectD div[id^='fd']{
    height: 70px;
    width: calc(33% - 20px);
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: wrap;
}
.subD{
    width: 90%;
    height: 90px;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    white-space: wrap;
}

.subD p{
    text-align: center;
}

.subD1{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subD2{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.subD3{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subD4{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fd1{
    background-color:rgba(255, 84, 3, 0.05);
    border: 1px solid #FF5403;
}
#fd2{
    background-color: rgba(218, 210, 246, 0.4);
    border: 1px solid #765FBE;
}
#fd3{
    background-color: rgba(77, 119, 255, 0.15);
    border: 1px solid #4D77FF;
}
#fd4{
    background-color: rgba(99, 183, 93, 0.1);
    border: 1px solid #63B75D;
}
#fd5{
    background-color: #E4E7EC;
    border: 1px solid #515A6A;
}
#fd6{
    background-color: rgba(253, 46, 179, 0.1);
    border: 1px solid #FD2EB3;
}
#fd7{
    background-color: rgba(251, 180, 72, 0.15);
    border: 1px solid #FBB448;
}
#fd8{
    background-color: rgba(250, 112, 112, 0.1);
    border: 1px solid #FA7070;
}
#fd9{
    background-color: rgba(218, 210, 246, 0.35);
    border: 1px solid #765FBE;
}
#fd10{
    background-color: rgba(68, 142, 246, 0.15);
    border: 1px solid #448EF6;
}
#fd11{
    background-color: rgba(0, 163, 136, 0.1);
    border: 1px solid #00A388;
}
#fd12{
    background-color: rgba(236, 119, 69, 0.1);
    border: 1px solid #EC7745;
}

/* section 3 */

.section3{
    width: 100%;
    background-color: #F4F1FF;
    padding: 70px 0;
}

.section3 h3{
    color: #332269;
    font-size: 25px;
    text-align: center;
    
}
.section3 #sect3_txt{
    color: #515A6A;
    width: 45%;
    margin: auto;
    font-size: 16px;
    text-align: center;

}
.dummy-events{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    flex-wrap: wrap;

}
.dummy-events .event{
    min-width: 220px;
    border-radius:10px ;
    flex: 1 0 23%;
    
    /* border: 1px solid rgb(43, 219, 16) ; */
}
.dummy-events .event .event-img{
    width: 100%;
    height: 400px;
    transition: 0.5 ease-in-out;
    border-radius:10px ;
    overflow: hidden;

}
.dummy-events .event img{
    width: 100%;
    height: 400px;
    transition: all .05s ease-in-out;
    border-radius: 10px;
    /* margin-inline:  3.5%; */
}
.dummy-events .event:hover img {
    width: 100%;
    height: 400px;
    /* transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03); */
    background-size: 0px;

    color: rgba(255, 0, 0, 0.912);
}


.dummy-events .event-txt{
    width: 100%;
    height: 30px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.dummy-events .event-txt p{
    font-size: 15px;
}
.section3 #event5{
    padding: 10px 10px;
    color: #2C2B2E;
    margin: 0 auto;
    border: 1px solid #2C2B2E;
    border-radius: 5px;
    transform: translateX(calc(50% - 64px));

}

/* section 4 */

.section4{
    width: 100%;
    background-color: var(--v-theme-primary);
    padding: 60px 0;
    box-sizing: border-box;

}
.subsectF{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: auto;
    flex-wrap: wrap;
}
.subA{
    width: 40%;

}
.subB {
    width:53%;
    padding: 10px 0;
    box-sizing: border-box;
}
.subB p{
    margin: 0;
}
.sub-txt strong{
    color: #765FBE;
}
.sub-txt h2{
    color: #2C2B2E;
    width: 45%;
    font-size: 25px;
}
.sub-txt p{
    color: #515A6A;
    width: 85%;
}
.subA img{
    width: 100%;
    height: 500px;
}

.subcat-1{
    display: flex;
    flex-wrap: wrap
}

.subcat{
    /* width: 50%; */
    flex: 1 1 50%;
    display: flex;
    min-width: 225px;
    gap: 1em;
    margin: 15px 0;
}
.subcat img{
    width: 45px !important;
    height: 45px !important;
}
.subcatimg img{
    width: 100%;
    height: 20px;
    margin: 15px 0;
}

.subcat .subcat-txt{
    width: 100%;
    color: #515A6A;
}
.subcat .subcat-txt h3{
    color: #2C2B2E;
    font-size: 15px;
}
.subcat .subcat-txt p{
    width: 95%;
    margin: -5px 0;
    font-size: 15px;
}
#event6{
    width: 30%;
    padding: 10px 10px;
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    position: relative;
    top: 40px;
    border-radius: 5px ;

}


.subC{
    width: 45%;
    min-width: 327px;
    height: 800px;
    border-radius:40px ;
    margin: 50px 0;
    padding: 50px  30px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.subC a{
    width: 30%;
    padding: 10px 10px;
}
.subC #event7{
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    border-radius: 5px ;

}
.subC strong{
    color: #765FBE;
    margin-bottom: 30px;
}
.subC h3{
    color: #332269;
    line-height: 1.5;
}
.subC p{
    color: #515A6A;
    margin: 25px 0;
}

.subC #event8{
    color: #2C2B2E;
    border-radius: 5px ;
}
.subsectF #talent{
    background-color: #FBFFF1;
}
#hiring{
    background-color: #ECFFF4;
}
#sub-talent{
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}
#subcat-talent{
    width: 59%;
    border: 1px solid #6C3F13;
    border-radius: 10px;
    padding: 20px;
}
#subcat-talent1{
    width: 40%;

}
#subcat-talent1 img{
    width: 70%;
    margin: 0 15%;
}
#sub-talent h4{
    color: #2C2B2E;
    font-size: 16px;
 
}
#sub-talent p {
    color: #515A6A;
    margin: -4px ;
    font-size: 0.8em;
    color: #B7B7B7;
}
.subtalent1{
    display: flex;
    gap: 1em;
    height: 80px;
}
.subtalent-img{
    width: 20%;
    height: 55px;
    margin: 20px 0;
}
.subtalent-img img{
    width: 100%;
    height: 45px;
}
.subtalent-txt{
    width: 100%;

}
.subtalent-txt h2{
    color: #2C2B2E;
    font-size: 0.9em;
    width: 100%;
    padding: 8px 0;
}
#subtalent2{
    width: 40%;
}
#subtalent2 img{
    width: 100%;
}
#eclipse{
    width: 30%;
    height: 200px;
    position: absolute;
    top:600px;
    left: 70%;
}
#eclipse img{
    width: 100%;
    height:200px ;
}
#eclipse1{
    width: 30%;
    height: 200px;
    position: absolute;
    top:600px;
    left: 0;
}
#eclipse1 img{
    width: 100%;
    height:200px ;
}
#hiring-img{
    width: 60%;
    height: 400px;
    position: absolute;
    top: 400px;
    left: 46%;
}
#hiring-img img{
    width: 80%;
    height: 400px;
    transform: translate(20px, 30px);
    object-fit: contain;
}
.subsectG{
    width: 90%;
    margin: 45px auto;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subsectG p{
    max-width: 480px;
    padding: 0px 30px;
    color: #332269;
    text-align: center;
}
#subG{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}
#subG img{
    width: 20%;
    object-fit: contain;
}

/* footer */

.footer{
    width: 100%;
    background-color: #332269;
    padding: 50px 0px;
    margin: 0;
    box-sizing: border-box;

}
.footer #foot_sect1{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}


.foot form{
    gap: 10px;
}
.foot h2{
    color: #fff;
    margin: 25px 0;
 }

 .foot input{
    flex: 1 1 auto;
    background: #fff;
    border: 1px solid  #FFD2A6;
    border-radius: 5px;
    padding: 5px 10px;
 }

 /* .foot button{
    background-color: #FFD2A6;
    color: white;
 } */
#foot-img{
    width: 5%;
    height: 40px;
}


#foot-input form{
    height: 50px;
    display: flex;
    align-items: center;
}
/* form input{
    height: 45px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: transparent;
}
form button{
    width: 10%;
    height: 40px;
    background-color: #FFD2A6;
    border: 1px solid #FFD2A6;
    margin: 10px;
    border-radius: 5px;
} */
.foot-link{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    min-width: 227px;
}
#foot-link{
    display: flex;
    flex-direction: column;
}
#foot-link a{
    padding: 8px 0;
    color: #FFFFFF;
    font-size: 0.8em;

}

#foot-link span{
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 0.7em;
}
#foot_span{
    display: flex;
    width: 100%;
    color: #DAD2F6;
    flex-wrap: wrap;
}
.foot_span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0px;
}

.foot_span p{
    white-space: nowrap;
}
.foot_span1{
    width: 40%;
    display: flex;
    align-items: center;
    padding:0 43px ;
}
.foot_span p, .foot_span1 p{
    font-size: 14.2px;
}

.foot1{
    flex-shrink: 1;
    min-width: 227px;
}





/* desktop 13 */

.desktop13{
    background-color: #F5F0EB;
    border: 1px transparent;
    width: 100%;
    padding-top: 50px;
}

.part1{
    width: 89%;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    margin: 0px 4.5%;
    height: 250px;
}
.part1 #boxA{
    width: 39%;
    background-color: #FEF1E3;
    border-radius: 10px;
}
#boxA h3{
    color: #332269;
    margin: 20px 5%;
}
#boxA #boxA-txt{
    color: #765FBE;
    line-height: 3;
}
#boxA p{
    line-height: 0.5;
}
#boxA #boxA-span{
    margin: 1px 5%;
}

#boxA img{
    margin-right: 10px;
}
.part1 #boxB{
    width: 59%;

}   
#boxB img{
    width: 100%;
    height: 245px;
}
/* part 2 */
.part2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;

}
.box hr{
    margin: 60px 0;
    border: 1px solid #CCCCCC;
}
#boxC{
    width: 65%;
}
#boxC .box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
.box .box-row{
    padding: 30px 0;
    box-sizing: border-box;
    width: 54%;
}
.box .box-row1{
    width: 40%;
}
.box-row h3, .box-row1 h3{
    color: #332269;
}
.box-row p{
    color: #515A6A;
}
.box-row1 p{
    margin: 0;
    color: #515A6A;
    width: 90%;
    line-height:2;

}
#boxC #hr{
    width:90%;
    margin-left: 1.5%;
    border:1px solid #CCCCCC;
}

.box #about-event p{
    width:90%;
    margin: 5px 0px;
}
.box #about-event h3{
    margin: 20px 0px;
}
.box #speakers h3{
    margin: 20px 0px;
}
.box #organize h3{
    margin: 20px 0px;

}
#organize #organizer{
    width: 70%;
    margin: 0px;
    display: flex;
    gap: 0.5em;
}
.box-row .speaker-img{
    width: 100%;
    height: 320px;
    margin: auto;
    display: flex;
    gap: 1em;
    
}
.speaker-img .img-row{
    width: 35%;
    margin-bottom: 50px;
}
.img-row img{
    width: 100%;
    height: 200px;
}
.img-row h4{
    font-size: 16px;
    margin: 0;
    color: #2C2B2E;
}
.img-row p{
    font-size: 14px;
    margin: 10px 0;
}
.img-row .ir-p1{
    color: #765FBE;
}
.img-row span{
   float: right;
}
.box-row1 .map{
    width: 100%;
    margin: 20px 0;
}

.map img{
    width: 90%;
}

#organizer-img{
    width: 30%;
}
#organizer-img img{
    width: 100%;
}
#organizer-txt h4{
    width: 100%;
    margin: 5px 0;
    color: #2C2B2E;
}
#organize .organizer-link{
    margin: 15px 0;
}
.organizer-link a{
    padding: 5px 10px;
    border-radius: 5px;
}
.organizer-link #ol1{
    background-color: #765FBE;
    color: #FFFFFF;
}
.organizer-link #ol2{
    border: 1px solid #332269;
}


#organizer .organizer-social{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.organizer-social p{
    color: #765FBE;
}

.partners{
    display: flex;
    gap: 0.5em;
}
.partners-img{
    width: 25%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-img img{
    width: 100%;

}
#date, #map, #partner{
    padding: 40px 10px;
    box-sizing: border-box;
}

#boxD{
    width: 25%;
    padding-top: 35px;
    transform: translateX(-45px);
}
#boxD #boxD-at{
    margin: 0;
}
#boxD p{
    color: #515A6A;
}
#boxD #span{
    background-color: #EB5757;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 8px 10px;
    position: relative;
    top: 10px;
}
#boxD .ticket{
    margin: 50px 0;
    border: 1px solid #FFD2A6;
    border-radius: 10px;
}
.ticket .sub-ticket{
    width: 90%;
    margin: 0 5%;
}
.sub-ticket h3{
    color: #332269;
}
.sub-ticket p{
    color: #2C2B2E;
    padding: 0;
    margin: 20px 0;
}
.sub-ticket hr{
    margin: 25px 0;
}
#qty label{
    color: #515A6A;
}
#qty .qty-input{
    display: flex;
    align-items: center;
}
.qty-input button{
    width: 15%;
    height: 45px;
    border: 1px solid #332269;
    background-color: transparent;
    border-radius: 5px;
    margin-inline: 5px;
}
.qty-input input{
    height: 45px;
    width: 60%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #FFD2A6;
}
.sub-ticket #checkout{
    width: 97%;
    height: 40px;
    background-color: #332269;
    border-radius:5px ;
    cursor: pointer;
    margin: 20px 1.5%;
}
.sub-ticket #checkout a{
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* signup and login */

#signup-form h3, #login form h3{
    color: #2C2B2E;
}
#signup-form h2, #login-form h2{
    color: #765FBE;
    font-size: 30px;
}
#signup-form p, #login-form p{
    margin: 0;
}
.signup, .login{
    width: 100%;
    display: flex;
    position: relative;
}
#signup-form, #login-form{
    width: 54%;
    padding: 80px 50px;
    background-color:#F5F0EB;
    box-sizing: border-box;

}
#signup-form input, #login-form input{
    border: 1px solid #FFD2A6;
    color: #2C2B2E;
}

#signup-form label, #login-form label{
    color: #515A6A;
}
#signup-form #signup_form, #login-form #login_form{
    width: 80%;
}
#signup_form #name, #login_form #name{
    display: flex;
    margin: 10px 0;
}
#signup_form #email, #login_form #email{
    margin: 10px 0;
}
#signup_form #password, #login_form #password{
    margin: 10px 0;
}
#signup_form #submit, #login_form #submit{
    margin: 10px 0;
}
#signup_form #recover, #login_form #recover{
    border: 1px solid;
}
#signup_form .form_input, #login_form .form_input{
    width: 97.5%;
    /* border: 1px solid #FFD2A6; */
}
.form_input1{
    width: 100%;
}
.form_input input{
    width: 99%;
}
.form_input1 input{
    width: 99%;
    border:1px  transparent !important;
}
#form_input{
    width: 97%;
    border: 1px solid #FFD2A6;
    display: flex;
    border-radius: 5px;
    background-color: #FFFFFF;
}
#name{
    width: 97%;
    display: flex;
    justify-content: space-between;
}
#name .input{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.input input{
    width: 99%;
}
#form_input{
    position: relative;
    display: flex;
}
.eye{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit #login, #signup{
    margin: 10px 0;
    width: 97%;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #775fbeb6;
    border: 1px solid #775fbeb6;
    display: flex;
    align-items: center;
    justify-content: center;
}
#login a, #signup button{
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid transparent;
}

#recovery{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
#recovery span{
    position: relative;
    left: 2%;
}
#recovery a{
    color:#765FBE;
}
#continue{
    width: 77%;
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#continue p{
    color: #B7B7B7;
}
#continue .line{
    width: 35%;
    border: 1px solid #FFD2A6;

}

#social-handle{
    width: 77%;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin: 20px 0%;
}
#social-handle .cir{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid #FFD2A6;
    background-color: #FEF1E3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cir img{
    width: 45%;
}
#signup-form1{
    background: linear-gradient(100.54deg, #ECE7FF -31.94%, #F9E4D0 102.02%);
    width: 45%;
    max-height: 100vh;
    height: 100vh;
    display: flex ;
    overflow: hidden;
    padding: 0 5px;
    position: fixed;
    top: 0;
    right: 0;
}
#signup-form1 .img{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
#signup-form1 .img img{
    width: 90%;
}
#imgA{
    padding: 40px 0;
}


/* desktop29 */
.pay{
    display: flex;
    width: 100%;
    background: #F5F0EB;
    padding: 50px 50px;
    box-sizing: border-box;
}

#payment-details h3{
    color: #332269;
}
#payment-details input{
    border: 1px solid #FFD2A6;
    outline: none;
    border-radius: 5px;
}
#payment-details #name{
    display: flex;
    margin: 10px 0;
}
#payment-details #name input, #email input{
    height: 40px;
}
#payment-details #email{
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    width: 96%;
}
.check{
    margin: 30px 0;
}
#payment-details label{
    color: #515A6A;
}
#payment-details .card{
    width: 94%;
    border: 1px solid #FFD2A6;    
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    margin: 30px 0;
}
.card #round{
    margin-left: 60%;
    border: 1px solid;
}
.card #round1{
    margin-left: 74.2%;
    border: 1px solid;
}
.card p{
    margin: 0 15px;
    color: #2C2B2E;
}
.card .bi-credit-card{
    margin: 0 20px;
}
#payment-details .visa{
    width: 94%;
    height: 230px;
    border: 1px solid #FFD2A6;
    border-radius: 5px; 
    margin: 10px 0;
    padding: 20px 15px;
    box-sizing: border-box;
    display:none; 

}
#payment-details .barter{
    width: 94%;
    height: 140px;
    border: 1px solid #FFD2A6;
    border-radius: 5px; 
    margin: 10px 0;
    padding: 20px 0px;
    box-sizing: border-box;
    display:none; 
}
.barter a{
    background-color: #332269;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 5%;
    color: #FFFFFF;
}
.visa img{
    width: 20%;
    height: 30px;
    color: #515A6A;
}
.visa input{
    height: 40px;
}
.visa label{
    color: #515A6A;
}

.visa #card_number{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.visa #card_detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.card_input input{
    width: 100%;
}

#payment-final{
    width: 30%;
    border: 1px solid #FFD2A6;
    margin: 0 4%;
    border-radius: 10px;

}
#payment-final img{
    width: 90%;
    height: 300px;
    margin: 20px 5%;
}
#payment-final #container{
    position: relative;
}
#container #heart{
    height: 40px;
    width: 45px;
    position: absolute;
    left: 80%;
    top: 40px;
    border-radius: 100%;
    background-color: #2C2B2EE5;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container h3, table,h4,p,#ct-x{
    margin: 15px 5%;

}
#container #contained_txt {
    margin-top: -15px;
    height: 150px;
}
#contained_txt #ct-x{
    width: 50%;
    height: 30px;
    color: #332269;

}
#contained_txt #ct-x img {
    width: 15px;
    height: 12px;    
    margin: 0 4px;
}

#contained_txt h3{
    color: #2C2B2E;
}
#contained_txt p{
    color: #515A6A;
}

#total_pay{
    color: #2C2B2E;
}
#payment-final #payment-submit{
    height: 40px;
    width: 90%;
    background-color: #332269;
    margin: 20px 5%;
    border-radius:5px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#payment-final #payment-submit a{
    height: 40px;
    width: 90%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* desktop 2 */
.desktop2{
    width: 100%;
    background-color: #F5F0EB;
}

.filter-item{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left:  5%;
    margin-bottom: 40px;
    visibility: hidden;

}
#filter-item{
    width: 100%;
    height: 100px;
    display: flex;
}
.filter{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
}
.item{
    width: 30%;
    height: 30px;
    border-radius: 100%;
    background-color: #D9D9D9;
}
.filter-item button{
    width:10%;
    height: 50px;
    background: transparent;
    border: 1px solid #FFD2A6;
    margin: 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
.main{
    width: 100%;
}

.container_txt{
    height: 150px;
}
.container_txt h3{
    color: #2C2B2E;
}
.container_txt p{
    margin: 0;
    color: #515A6A;
    line-height: 1.4;
}
.container_txt .ct-p{
    margin: 10px 0;
}
.container_txt #ct-img{
    width: 15px;
    height: 12px;
    margin-right:10px ;
}
.heart .bi-heart{
    color: #f9f9f9; 
}
.heart .bi-heart-fill{
    display: none;
}
















/* Micah Part */










/* Desktop-15  */

/* #active-x1{
    border: 1px solid #DAD2F7;
} */
#active-xi{
    border: 1px solid #CCCCCC;
}
#active-xi-xi{
    border: 1px solid #CCCCCC;
}
#text-colour{
    color: #2C2B2E !important;
    border-bottom: 4px solid #DAD2F7;
}
#interest-links1 #text-colour1{
    color:#765FBE !important ;
    border-bottom: 4px solid #765FBE;
}
#interest-links1 #text-colour2{
    color: #2C2B2E !important;
    border-bottom: 4px solid #DAD2F7;

}

#interest-links1 #text-colour3{
    border-bottom: 4px solid ;

}

.text-colour{
    border-bottom: 4px solid;
}
#flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 5%;
    width: 85%;
}

.fc-box{
    padding: 10px 8px;
    border: 1px solid #CBBDF8;
    border-radius: 4px;
}
#flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 5%;
    width: 83%;
}
#head-text{
    font-size: 30px;
    font-weight: 500;
    font-size: 25px;
    color: #2C2B2E; 
    margin:50px  5%;
}
#gold-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    width: 88%;
}

#gold-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    width: 86%;

}
#gold-container3{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}
.gc-box{
    border: 1px solid #FFD2A6;
    padding: 10px 8px;
    border-radius: 5px;
}


#empty-space{
    border: transparent;
    height: 100px;
}
.options-btnxx{
    border: transparent; 
    width: 65px;
    height: 28px;
    position: relative;
    left: 30px;
    padding-bottom: 2px;
    font-family: 'Apercu';
    font-style: normal;
    font-size: 16px;
    color: #B7B7B7;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options-btnxx .bicaret-left{
    color: #B7B7B7 !important;
}








/* Desktop-16 */
#like-event{
    height: 600px;
    width: 65%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.likes-cat{
    width: 30%;
    display: flex;
    flex-direction: column;
}
#red-heart{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #2C2B2E;
    position: relative;
    left: 80%;
    top: 55px;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* t-ket */
#tiket-text{
    font-size: 16px;
    font-weight: bold;
    color: #2C2B2E;
}

.ticket-txt{
    font-size: 14px;
    font-weight: 400;
    color: #515A6A;
}
.tket-text{
    font-size: 13px;
    font-weight: 700;
    color: #2C2B2E;
}
#t-ket{
    height: 14px;
    width: 14px;
    position: relative;
    top: 2px;
    color: #515A6A;
}







/* Desktop-17 */
.desktop17{
    display: none;
}
.interest-container{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-top: 20px;
}
#active-line{
    border: 2px solid #765FBE;
}
#active-h1{
    border: 1px solid #765FBE;
}
#active-hi{
    border: 1px solid #DAD2F6;  
}
#active-hi-hi{
    border: 1px solid #CCCCCC;
}
#interest-link1{
    width:70%;
    display: flex;
    /* justify-content: space-between; */
}
#interest-link1 a{
    padding: 12px 10px;
    display: flex;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #B7B7B7;
    margin-right: 5%;
}
#x1-x1{
    color: #2C2B2E  !important;
    background-color: #F4F1FF;
    border-bottom: 4px solid #765FBE;
}
#interest-a{
    color: #765FBE !important;
}
#interest-text{
    width: 70%;
    margin:50px 5%;
}
#interest-text #interest-txt{
    font-size: 30px;
    font-weight: 800;
    color: #332269;
    margin: 0;
}
#intxt{
    font-size: 16px;
    font-weight: 400;
    color: #515A6A;
    margin: 0 ;
    line-height: 3;
}
#interest-form{
    width: 50%;
    height: 160px;
    margin-top:5%;
    margin-left: 5%;
}
#interest_form label{
    display: flex;
    flex-direction: column;
    font-weight: 400;
}
#in_locate{
    font-weight: 400;
    font-size: 16px;
    color: #515A6A;
    display: flex;
    flex-direction: column;
}
.text_input{
    border: 1px solid #FFD2A6;
    height: 40px;
    padding-left: 15px;
    margin-top: 10px;
    color: #B7B7B7;
}
.null-container{
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-bottom: 10%;
}
#cream-line{
    border-top: 1px solid #FFD2A6;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F0EB;
    position: sticky;
    bottom: 0;

}
.options-btn{
    border: transparent; 
    width: 100px;
    height: 28px;
    padding-bottom: 2px;
    position: relative;
    left: 30px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2C2B2E;
    background-color: #FFFFFF;
}
.bi-caret-left{
    color: #2C2B2E;
    font-size: 15px;
}
.options-btn-x{
    border: 1px transparent ;
    width:65px;
    height: 28px;
    padding-bottom: 2px;
    position: relative;
    right: 30px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #2C2B2E;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.options-btn-x .bi-caret-right{
    color: #2C2B2E;
}









/* Desktop-18 */
#interest-link1 .tc-2, .tc-1{
    color:#765FBE !important;
    border-bottom: 4px solid #765FBE !important;
}
#cream-container{
    width: 85%;
    height: 320px;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cream-order{
    border: 1px solid #FFD2A6;
    height: 300px;
    width: 350px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head-text{
    color:  #332269;        
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.child-div{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(99, 183, 93, 0.1);
    border: 1px solid #63B75D;
    border-radius: 8px;
    background: rgba(99, 183, 93, 0.1);
}
.child-div-2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(99, 183, 93, 0.1);
    border: 1px solid #FF5403;
    border-radius: 8px;
    background: rgba(255, 84, 3, 0.05);
}
.child-div-3{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(99, 183, 93, 0.1);
    border: 1px solid #765FBE;
    border-radius: 8px;
    background: rgba(218, 210, 246, 0.4);
}
.photo-content{
    display: flex;
    flex-direction: row;
}
.bold-txt{
    padding-left: 10px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    color: #2C2B2E;
}
.gray-text{
    /* Desktop/Smallest Text */
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}


#cream-container-2{
    width: 85%;
    height: 320px;
    margin-left: 5%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cream-order{
    border: 1px solid #FFD2A6;
    height: 300px;
    width: 350px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head-text{
    color:  #332269;        
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.child-div-4{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(251, 180, 72, 0.15);
    border: 1px solid #FBB448;
    border-radius: 8px;
}
.child-div-5{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(253, 46, 179, 0.05);
    border: 1px solid #FD2EB3;
    border-radius: 8px;
}
.child-div-6{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(236, 119, 69, 0.1);
    border: 1px solid #EC7745;
    border-radius: 8px;
}
#p1-p1{
    color: #765FBE !important;
}
/* null-container00 */
 .null-area{
     height: 30px;
 }








 /* Desktop-23*/
.acct-txt{
    margin-left: 5%;
    font-size: 20px;
    font-family: 'Apercu';
    font-weight: 500;
    color: #2C2B2E;
}

.account-container{
    width: 68%;
    height: 40px;
    margin-left: 5%;
}
#account-link1{
    width: 75%;
    position: relative;
    top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#account-hilite{
    height: 33px;
    width: 132px;
    background-color: #F4F1FF;
}
#account-link1 a{
    font-size: 14px;
    height: 30px;
    width: 140px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CCCCCC;
}
#body-sect{
    width: 50%;
    height: 250px;
    margin-left: 5%;
    margin-top: 1%;
}
.section-text{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: #515A6A;

}
#security_form{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#secure-border{
    height: 95px;

}
#label-txt{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #515A6A;
}
#secure_input{
    position: relative;
    width: 80%;
    top: 10px;
    border: 1px solid #FFD2A6;
    border-radius: 4px;
    padding-left: 16px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #B7B7B7;
}

#security_form .secure_input{
    width: 95%;
}

#btn-btn{
    height: 180px;
    position: relative;
}
#save_btn{
    border: 1px solid  #765FBE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #765FBE;
    border-radius: 4px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 5%;
}





/* Desktop-24 */
.payment-txt{

    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5%;
    color: #515A6A;
}

#payment_btn{

    width: 158px;
    height: 40px;
    border: transparent;
    background: #332269;
    border-radius: 4px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 5%;
}




/* Desktop-25 */
.emailP-head-txt{
    margin-left: 5%;
    margin-top: 3%;
    line-height: 22px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;

    color: #332269;
}
.little-text{

    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #515A6A;
}
#li-li-txt{
    margin-left: 5%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
}
.check_txt{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.box-border{
    background: #765FBE;
}

.check_txt p{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #515A6A;
}
#null-space{
    border: transparent;
    height: 70px;
}







/* Desktop-27_css */
.dex-tex{
    padding-left: 5%;
    margin-top: 2%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #515A6A;
}
#dex-span{
    color: #765FBE;
}
.dex-txt-container{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.dex-text-bi{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #515A6A;
}
#text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 410px;
    height: 147px;
    margin-left: 5%;
    margin-top:10px;
    
}
#text-input{
    width: 408px;
    height: 140px;
    outline: none;
    border: 1px solid #FFD2A6;
    border-radius: 4px;
    padding-left: 10px;
    padding-bottom: 20%;
}




    /* desktop-34.styles begin */
    #gifts-order{
        height: 200px;
        width: 100%;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 50px;
    }
    #gift-pic{
        height: 150px;
        width: 120px;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #gift-text{
        width: 200px;
        text-align: center;
        font-family: 'Apercu';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        color: #2C2B2E;
    }
    #dim-line{
        border: 1px solid #CCCCCC ;
        width: 70%;
        position: relative;
        left: 15%;
    }
    #d-connect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Apercu';
    }
    #d-text{
        /* font-family: 'Apercu'; */
        color: #515A6A;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
    }
    #d-conet{
        position: relative;
        bottom: 20px;
        color: #332269;
        /* font-family: 'Apercu'; */
    }
    .d-container{
        width: 70%;
        height: 250px;
        position: relative;
        left: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .d-contain1{
        width: 48%;
        height: 180px;
        position: relative;
        right: 0%;
        top: 10%;
    }
    .d-opt{
        height: 150px;
        width: 60%;
        position: relative;
        left: 20px;
        top: 20%;
    }
    #dim-lineST{
        border: 1px solid #CCCCCC ;
        height: 200px;
        position: relative;
        top: 10%;
    }
    .dim-lineX2{
        width: 70%;
        position: relative;
        left: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .lineX2{
        border: 1px solid #CCCCCC;
        width: 45%;
        position: relative;
        right: 0%;
    }
    .d-connt{
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        font-family: 'Apercu';
        color: #2C2B2E;
    }
    .connect{
        color: #515A6A;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }
    .connect-a{
        color: #765FBE;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        text-decoration-line:underline;
    }
    #text-btn{
        height: 50px;
        width: 20%;
        position: relative;
        left: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
    #button-1{
        border: 1px solid #332269;
        border-radius: 4px 4px 4px 4px;
        height: 30px;
        width: 120px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight:500;
        font-size: 14px;
        font-family: 'Apercu';
        font-style: normal;
        background-color: #332269;
        color: #FFFFFF;
    }
    #button-2{
        border: 1px solid #2C2B2E;
        border-radius: 4px 4px 4px 4px;
        height: 30px;
        width: 120px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight:500;
        font-size: 14px;
        font-family: 'Apercu';
        font-style: normal;
        color: #2C2B2E;
    }






    /* Desktop-36 */
#ff-btn{
    width: 120px;
    border: 1px solid  #332269;
    border-radius: 5px;
    position: absolute;
    right: 0;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#filter-btn{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2C2B2E;
    background: transparent;
}







/* ..........Desktop-15 original........... */
.desktop15{
    background-color: #F5F0EB;
}
#profile{
    width: 40%;
    height: 130px;
    display: flex;
    align-items: center;
    margin: 50px 5%;

}
#profile #img{
    width: 20%;
}
#profile #img img{
    width: 100%;
}
.ed-container{
    width: 60%;

}
.ed-connt{
    line-height: 20px;
    position: relative;
    top: 20%;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Apercu';
    color: #2C2B2E;
}
#ed-connect{
    color: #515A6A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10px;
}
.ed-profile{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    font-family: 'Apercu';
    color: #2C2B2E; 
    text-decoration-line:underline;
}
.order-container{
    width: 70%;
    align-items: center;
    margin:0px 5%;
}

#order-link1{
    width: 50%;
    display: flex;
    align-items: center;

}

#order-link1 a{
    height: 20px;
    display: flex;
    align-items: center;
    color: #B7B7B7;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-right: 30px;
    padding: 10px 15px;

}
#ord-line{
    border: 1px solid #E4E7EC;
    width: 89%;
    margin-left: 5%;
    margin-bottom: 50px;
}
#explore-events{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#explore-text{
    width: 400px;
    text-align: center;
    font-family: 'Apercu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #969CA5;
}
#explore-btn{
    position: relative;
    top: 10%;
}





/* Desktop-40 */
.options-btn-s{
    border: transparent;
    width: 100px;
    height: 28px;
    padding-bottom: 2px;
    position: relative;
    left: 38%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2C2B2E;
    background-color: #FFFFFF;
}








/* Desktop-47 */
#parent-div{
    margin-top: 2%;
    margin-left: 5%;
    height: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#parent-txt{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#header-text{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #515A6A;
}
#paid-text{
    position: relative;
    bottom: 16%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #515A6A;
}
.paid-tkt{
    width: 74px;
    height: 20px;
    position: relative;
    top: 5px;
}
#paid-txt{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #765FBE;
}
#btn-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22%;
    margin-top: 2%;
    margin-right: 5%;
}
#info-container{
    width: 94.5%;
    margin-top: 2%;
    margin-left: 5%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.t-info-container{
    padding: 15px;
    width: 600px;
    height: 460px;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #FFD2A6;
    border-radius: 8px;
}
.event-area{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #332269;
}
#vacant-space{
    border: transparent;
    height: 100px;
}
.t-info-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; 
} 
.t-info-container th{
    text-align: left;
    padding: 8px;
    height: 40px;
    background: #DAD2F7;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #2C2B2E;
}
.t-info-container td{ 
    text-align: left;
    line-height: 50px;
    padding: 8px; 
    border-bottom: 1px solid #FFD2A6;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.pink-txt{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #765FBE;
}








/* Organising-Orders-empty page begin */
.organising-h2{
    margin-left: 10%;
    margin-top: 4%;
    color: #2C2B2E;
}
.organizing-ord{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.organizing-ord>p{
    color: #515A6A;
    margin: 1px;
}
/* End of Organising-orders-empty */

/* Begin Organising- Orders-filled  */
.organising-ord-group{
    width: 100%;
    padding: 5% 10%;
    box-sizing: border-box;
}
.order-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.order-filters{
    display: flex;
    align-items: center;
    height: 40px;
}
.order-filters>button{
    background-color: #F4F1FF;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    margin-right: 30px;
}
.order-filters>p{
    padding-left: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-left: 2px solid #B9BDC3;
}
.order-search{
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #FFD2A6;
    color: #515A6A;
}
.order-search > i{
    margin-left: 9px;
}
.order-search> input{
    height: 80%;
    width: 80%;
    border: none;
    outline: none;
    margin-left: 5px;
}
/* Table */
.order-table{
    margin-top: 5%;
    width: 100%;
    border-collapse: collapse;
}
.order-table-id{
    width: 18%;
    text-align: left;
    background-color: #DAD2F7;
    padding-left: 1%;
}
.order-table-id-ticket{
    width: 25%;
    text-align: left;
    background-color: #DAD2F7;
    padding-left: 1%;
}
.order-table-tr{
    border-top: 1px solid #FFD2A6;
    height: 50px;
}
.order-table-head{
    height: 50px;
}
.order-table-tr1{
    height: 50px;
}
.order-table td{
    padding-left: 1%;
}
.order-table span{
    color: #765FBE;
}
/* end of organizing orders filled */
/* begin organizing orders individual */
.individual-order{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.circle3{
    width: 30px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.circle1{
    width: 3px;
    height: 3px;
    border-radius: 100%; 
    background-color: #515A6A;
}
.individual-order>p{
    color: #515A6A;
}
.individual-ticket{
    width: 100%;
    height: 40px;
    align-items: center;
    height: auto;
    display: flex;
}
.individual-paid{
    height: 30px;
    width: 100px;
    background-color: #219653;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    margin-right: 20px;
}
.individual-ord{
    margin-left: 20px;
    color: #515A6A;
}
.ticket5{
    margin-right: 20px;
    color: #515A6A;
}
.individual-ord1{
    color: #765FBE;
    font-weight: 600;
    margin-left: 20px;
    font-size: larger;
}
.individual-event{
    width: 100%;
    border: 1px solid #FFD2A6;
    padding: 3% 2%;
}
.individual-design{
    display: flex;
    height: 150px;
    width: 100%;
}
.designer-connect{
    margin-left: 1%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
}
.designer-connect>h4{
    margin: 3px 0px;
}
.design-p{
    color: #332269;
    font-weight: 600;
}
.ticket-tab{
    width: 26%;
}
.ticket-tab1{
    width: 22%;
}
.ticket-info{
    padding: 5%;
    border: 1px solid #FFD2A6;
    background-color: #F5F0EB;
    border-radius: 5px;
}
/* end of Organizing-orders-individual */

/* Beginning of Organizing-analizing-overview */
.overview-events{
    height: 30px;
    width: 100%;
    border-bottom: 2px solid #E4E7EC;
}
.over-button{
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
    background-color: transparent;

}
.overview-chat{
    width: 100%;
    padding: 3%;
    background-color: #F5F0EB;
    border: 1px solid #FFD2A6;
    border-radius: 10px;
    margin-top: 3%;
    box-sizing: border-box;
}
.over-view-chat-ev{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.past-year button{
    border: 1px solid #FFD2A6;
    height: 40px;
    width: 110px;
    border-radius: 5px;
}
.organizing-img{
    width: 100%;
}
.all-events{
    display: flex;
}
.event-space{
    margin-left: 3%;
}
.total-partition{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.total-events{
    width: 32%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #FADCBE;
    background-color: #FEF1E3;
    padding: 3% 0px;
    box-sizing: border-box;
    border-radius: 5px;
}
.total-events >p{
    margin: 0px;
}
.total-value{
    font-size: 20px;
    margin: 0px;
    color: #332269;
}
.total-env{
    width: 24%;
}
/* style for now */
#overview{
    display: none;
}
/* for styles */

.events-part{
    margin-top: 3%;
}
.event-venue{
    width: 32%;
    height: 330px;
    border: 1px solid #FFD2A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 5px;
}
.event-venue> p{
    width: 100%;
    font-size: 14px;
    color: #332269;
    font-weight: 600;
}
.event-venue>div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.event-distribution{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.pastyear{
    border: 1px solid #FFD2A6;
    height: 30px;
    width: 120px;
    border-radius: 5px;
}
.event-over >p{
    font-size: 14px;
    color: #332269;
}
.event-venue> .event-over1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    color: #332269;
    font-weight: 600;
}
.legend-img{
    height: 90%;
    margin-top: 2%;
}
.order-table1{
    margin: 0px;
}
.over-viewtab{
    width: 12%;
    font-size: 11px;
}
.over-viewtab1{
    font-size: 11px;
    width: 14%;
}
.overview-table-pad{
    padding: 2%;
}
.td-over{
    font-size: 13px;
}
.td-over1{
    font-size: 13px;
}
/* analytics */
.attendee-venue{
    width: 65%;
}
.legend-img1{
    width: 100%;
    margin-top: 0px;
}
.event-p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 0px;
}
.black-pp{
    margin: 0px;
    color: #6C3F13;
    font-weight: 600;
}
#overview{
    display: block;
}
#events-org{
    display: none;
}
#organising-attendees{
    display: none;
}
#tickets-org{
    display: none;
}
.active-but{
    background-color: #F4F1FF !important;
    border-bottom: 2px solid #765FBE !important;
}


@media screen and (max-width: 900px) {

    .section1 {
        height: 500px;
    }


    #subsectA{
        width: 100%;
        padding: 80px 0;
    }

    #subsectA a {
        white-space: nowrap;
    }

    #subsectA p {
        width: 80%;
        margin: 0 10%;
    }

    #subsectB{
        display: none;
    }

    .section2 {
        flex-direction: column;
        /* align-items: center; */
        position: relative;
    }

    #subsectC .buttons {
        position: absolute;
        bottom: 40px;
    }

    #subsectC .buttons a{
        width: auto;
    }

    .subD {
        width: auto;
    }

    #subsectC {
        width: 80%;
    }

    #subsectD {
        width: 100%;
        gap: 20px;
    }

    .subA {
        display: none;
    }

    .subB {
        width: 100%; 
    }
    
}

@media screen and (max-width: 768px) {
    .subC{
        width: 100%;
    }
    .footer #foot_sect1{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    #subsectD div[id^='fd']{
        width: calc(50% - 20px);
    }
}