<template>
    <div class="login bg-primary">
        <div id="login-form" class="login-form">
            <!-- <h3>eventsdey</h3> -->
            <h2>Login In</h2>
            <form-sign-in />
            <div id="continue">
                <div class="line"></div>
                <p>or continue with</p>
                <div class="line"></div>
            </div>
            <v-btn type="submit" :disabled="loading" role="submit" @click="googleSignIn" block class="text-none mb-4"
                rounded="xl" size="large" variant="outlined">
                <div class="cir">
                    <!-- <NuxtImg provider="cloudinary" format="avif" src="v1706485690/10_nhcffm.png"/> -->
                    <img src="~/assets/images/pictures/login/10.png" alt="">
                </div>
                Continue with google
            </v-btn>
            <!-- <div @click="SignOut">
                <p>Logout</p>
            </div> -->
        </div>
    </div>
</template>

<script>
import { SignOut, auth, provider } from '../../Google/auth';
import { signInWithPopup, GoogleAuthProvider } from 'firebase/auth';
import { useCounterStore } from '../../assets/store/store'

export default {
    setup() {
        const store = useCounterStore()
        const router = useRouter()
        const loading = ref(false)

        function googleSignIn() {
            loading.value = true
            signInWithPopup(auth, provider)
                .then((result) => {
                    // console.log('0000000000'+result)
                    // console.log(result)
                    // This gives you a Google Access Token. You can use it to access the Google API.
                    const credential = GoogleAuthProvider.credentialFromResult(result);
                    // console.log(JSON.stringify(credential))
                    const token = credential.accessToken;
                    // console.log(`the accessToken be ${JSON.stringify(token)}`)
                    // The signed-in user info.
                    const user = result.user;
                    // IdP data available using getAdditionalUserInfo(result)
                    // ...

                    const acessToken = JSON.stringify(user.stsTokenManager.accessToken)
                    console.log(JSON.stringify(user.stsTokenManager.accessToken))

                    if (acessToken) {
                        store.setToken(acessToken)
                        
                        console.log(router.currentRoute.value.query.redirect)
                        const redirectTo = router.currentRoute.value.query.redirect || '/profile'
                        
                        router.push({
                            path: redirectTo,
                            query: { pop: 1 }
                        })

                    }
                    loading.value = false
                }).catch((error) => {
                    loading.value = false
                    console.log(error)
                    // Handle Errors here.
                    const errorCode = error.code;
                    const errorMessage = error.message;
                    console.log(errorMessage)
                    // The email of the user's account used.
                    const email = error.customData.email;
                    // The AuthCredential type that was used.
                    const credential = GoogleAuthProvider.credentialFromError(error);
                    console.log(credential)
                    // ...
                });
        }

        return {
            googleSignIn,
            SignOut,
            loading
        }
    },
}
</script>

<style scoped>
@media screen and (max-width: 900px) {
    #login-form {
        width: 100% !important;
    }

    .login {
        align-items: center;
    }
}

.login {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.cir {
    position: relative;
    padding-top: 8px;
    padding-left: 10%;
}
</style>