<template>
    <div class="login bg-primary">
        <div id="login-form">
            <!-- <h3>eventsdey</h3> -->
            <h2>Signup </h2>
            <form-register />
        </div>
    </div>
</template>

<script lang="ts">

export default defineComponent({
    setup() {

        const router = useRouter()
    },
})
</script>

<style scoped>
@media screen and (max-width: 900px) {
    #login-form{
        width: 100% !important;
    }
    .login{
        align-items: center;
    }
}

.login{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.cir{
    position: relative;
    padding-top: 8px;
    padding-left: 10%;
}
</style>