@font-face {
    font-family: 'Apercu';
    src: url(./font/Apercu-Font-Family/Apercu\ Regular.otf)
}

body{
    margin: 0;
    font-family: 'Apercu';
}
body a{
    text-decoration: none;

}
.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #FFD2A6;

}
.nav-container h3, a{
    color: #2C2B2E;
}
#nav-link1{
    width: 55%;
    display: flex;
    justify-content: center;
    margin-left: 10% ;
}
#nav-link1 a{
    margin: 0 30px;
    color: #B7B7B7;
}
#nav-link2{
    margin-left: 10%;
}
#nav-link2 a{
    padding: 10px 10px;
}
#nav-link2 #nav-alink1{
    color: #332269;
}
#nav-link2 #nav-alink2{
    background-color: #DAD2F6;
    color: #2C2B2E;
    border-radius: 5px;
}
.bi-search{
    color: #B7B7B7;
}
.bi-caret-down{
    position: relative;
    top: 2px;
    left: 3px;
}
/* section 1 */

.section1{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(95.64deg, #ECE7FF 0%, #F9E4D0 100.01%);
    position: relative;
    overflow: hidden;

}
#subsectA{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative;

}
.section1 #dummy1{
    width: 20%;
    height:300px;
    position: abso2lute;
    top: 380px;
    left: 5%;
}
#subsectA h3{
    width: 40%;
    font-size: 28px;
    color: #2C2B2E;
    line-height: 1.5;
}
#subsectA h3 span{
    color:#765FBE;
}
#subsectA p{
    width: 87%;
    font-size: 18px;
    color: #515A6A;
    margin-top: -10px;
}
#sublink{
    margin: 30px 0;
}
#subsectA a{
    width: 30%;
    padding: 10px 10px;
    border: 1px solid #332269;
}
#subsectA #event1{
    background-color: #332269;
    color: #F4F1FF;
    border-radius: 5px ;
}
#subsectA #event2{
    color: #2C2B2E;
    margin: 0 5%;
    border-radius: 5px ;

}
#subsectB{
    width: 35%;
    position: relative;
}
.section1 #dummy{
    width: 20%;
    height: 300px;
    position: absolute;
    top: 80px;
    left: 60%;

}
#subsectB #img{
    width: 90%;
    height: 150px;
    display: flex;
    margin: 50px auto;
    gap: 1em;
}
#img img{
    width: 100%;
    height: 190px;

}
#subsectB #img1{
    width: 90%;
    height: 100px;
    margin: 10px auto;

}
#img1 img{
    width: 100%;
    height: 150px;
}

/* section 2 */

.section2{
    width: 100%;
    height: 450px;
    background-color: #F5F0EB;
    display: flex;
    justify-content: center;
}
#subsectC{
    width: 50%;
    padding: 50px 0;
}
#subsectC h3{
    width: 40%;
    font-size: 28px;
    color: #2C2B2E;
    line-height: 1.5;
    margin-left: 75px;
    
}
#subsectC h3 span{
    color:#765FBE;
}
#subsectC p{
    width: 87%;
    font-size: 18px;
    color: #515A6A;
    margin-left: 75px;
}
#sublink1{
    margin: 50px 0;
    padding: 0px 70px;
}
#subsectC a{
    width: 30%;
    padding: 10px 10px;
}
#subsectC #event3{
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    border-radius: 5px ;


}
#subsectC #event4{
    color: #765FBE;
    margin: 0 5%;
    border-radius: 5px ;

}
#subsectD{
    width: 50%;
    padding: 50px 0;
}
.subD{
    width: 90%;
    height: 90px;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}
.subD1{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subD2{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.subD3{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.subD4{
    width: 25%;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fd1{
    background-color:rgba(255, 84, 3, 0.05);
    border: 1px solid #FF5403;
}
#fd2{
    background-color: rgba(218, 210, 246, 0.4);
    border: 1px solid #765FBE;
}
#fd3{
    background-color: rgba(77, 119, 255, 0.15);
    border: 1px solid #4D77FF;
}
#fd4{
    background-color: rgba(99, 183, 93, 0.1);
    border: 1px solid #63B75D;
}
#fd5{
    background-color: #E4E7EC;
    border: 1px solid #515A6A;
}
#fd6{
    background-color: rgba(253, 46, 179, 0.1);
    border: 1px solid #FD2EB3;
}
#fd7{
    background-color: rgba(251, 180, 72, 0.15);
    border: 1px solid #FBB448;
}
#fd8{
    background-color: rgba(250, 112, 112, 0.1);
    border: 1px solid #FA7070;
}
#fd9{
    background-color: rgba(218, 210, 246, 0.35);
    border: 1px solid #765FBE;
}
#fd10{
    background-color: rgba(68, 142, 246, 0.15);
    border: 1px solid #448EF6;
}
#fd11{
    background-color: rgba(0, 163, 136, 0.1);
    border: 1px solid #00A388;
}
#fd12{
    background-color: rgba(236, 119, 69, 0.1);
    border: 1px solid #EC7745;
}

/* section 3 */

.section3{
    width: 100%;
    background-color: #F4F1FF;
    padding: 70px 0;
}

.section3 h3{
    color: #332269;
    font-size: 25px;
    text-align: center;
    
}
.section3 p{
    color: #515A6A;
    width: 45%;
    margin: auto;
    font-size: 16px;
    text-align: center;

}
.subsectE{
    width:90%;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    margin: 50px auto;

}
.subsectE .subE{
    width: 21%;
    border: 1px solid;

}
.subE img{
    width: 100%;
    height: 300px;
}
.subEtxt{
    display: flex;
    border: 1px solid;
}
.subEtxt p{
    font-size: 10px;

}
.section3 #event5{
    width: 30%;
    padding: 10px 10px;
    color: #2C2B2E;
    margin: 0 45%;
    border: 1px solid #2C2B2E;
    border-radius: 5px ;

}

/* section 4 */

.section4{
    width: 100%;
    height: 2000px;
    background-color: #E5E5E5;
    padding: 60px 0;
    box-sizing: border-box;
}
.subsectF{
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.subA{
    width: 45%;

}
.subB{
    width:53%;   
    padding: 0 20px;
    box-sizing: border-box;
}
.sub-txt span{
    color: #765FBE;
}
.sub-txt h2{
    color: #2C2B2E;
    width: 45%;
    font-size: 25px;
}
.sub-txt p{
    color: #515A6A;
    width: 85%;
}
.subA img{
    width: 100%;
    height: 500px;
}

.subcat-1{
    display: flex;
}
.subcat-2{
    display: flex;

}
.subcat{
    width: 50%;
    display: flex;
    gap: 1em;
    margin: 15px 0;

}
.subcatimg{
    width: 15%;
}
.subcatimg img{
    width: 100%;
    margin: 15px 0;
}

.subcat-txt{
    width: 100%;
    color: #515A6A;
}
.subcat-txt h3{
    color: #2C2B2E;
    font-size: 15px;
}
.subcat-txt p{
    width: 95%;
    margin: -5px 0;
    font-size: 15px;

}
#event6{
    width: 30%;
    padding: 10px 10px;
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    position: relative;
    top: 40px;
    border-radius: 5px ;

}
.subC{
    width: 45%;
    height: 800px;
    border-radius:40px ;
    margin: 50px 0;
    padding: 50px 30px;
    box-sizing: border-box;
    position: relative;
}
.subC a{
    width: 30%;
    padding: 10px 10px;
    position: relative;
    top: 30px;
}
.subC #event7{
    color: #2C2B2E;
    border: 1px solid #2C2B2E;
    border-radius: 5px ;

}
.subC span{
    color: #765FBE;
}
.subC h3{
    color: #332269;
    width: 60%;
    line-height: 1.5;
}
.subC p{
    color: #515A6A;
}

.subC #event8{
    color: #2C2B2E;
    border-radius: 5px ;
}
#talent{
    background-color: #FBFFF1;
}
#hiring{
    background-color: #ECFFF4;
}
#sub-talent{
    width: 100%;
    height: 400px;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
}
#subcat-talent{
    width: 59%;
    height: 400px;
    border: 1px solid #6C3F13;
    border-radius: 10px;
}
#subcat-talent1{
    width: 40%;

}
#subcat-talent1 img{
    width: 50%;
    margin: 0 50px;
}
#sub-talent h4{
    color: #2C2B2E;
    font-size: 16px;
 
}
#sub-talent p {
    color: #515A6A;
    margin: -14px 0;
}
.subtalent1{
    display: flex;
    gap: 1em;
    height: 70px;
}
.subtalent-img{
    width: 20%;
    height: 50px;
    margin: 18px 0;
}
.subtalent-img img{
    width: 100%;
}
#subtalent2{
    width: 40%;
}
#subtalent2 img{
    width: 100%;
}
#eclipse{
    width: 30%;
    height: 200px;
    position: absolute;
    top:600px;
    left: 70%;
}
#eclipse img{
    width: 100%;
    height:200px ;
}
#eclipse1{
    width: 30%;
    height: 200px;
    position: absolute;
    top:600px;
    left: 0;
}
#eclipse1 img{
    width: 100%;
    height:200px ;
}
#hiring-img{
    width: 60%;
    height: 400px;
    position: absolute;
    top: 400px;
    left: 46%;
}
#hiring-img img{
    width: 80%;
    height: 400px;
    transform: rotate(-2deg);
}
.subsectG{
    width: 90%;
    height: 300px;
    margin: 450px auto;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subsectG p{
    width: 40%;
    padding: 0px 30px;
    color: #332269;
    text-align: center;
}
#subG{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}
#subG img{
    width: 20%;
}

/* footer */

.footer{
    width: 100%;
    height: 400px;
    background-color: #332269;
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
    box-sizing: border-box;

}
.foot{
    width: 45%;
}
#foot-img{
    width: 5%;
    height: 40px;
}
.foot h2{
    width: 60%;
    color: #F4F1FF;
}
#foot-input form{
    height: 50px;
}
form input{
    height: 45px;
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: transparent;
}
form button{
    width: 10%;
    height: 40px;
    background-color: #FFD2A6;
    border: 1px solid #FFD2A6;
}
.foot-link{
    display: flex;
}
#foot-link{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#foot-link a{
    padding: 8px 0;
    color: #FFFFFF;

}
.foot #span{
    justify-content: space-between;
    display: flex;
    margin: 40px 0;
    width: 85%;
    float: right;
    color: #DAD2F6;
}
.foot span{
    position: relative;
    top: 70px; 
    color: #DAD2F6;   
}

/* desktop 2 */
.desktop2{
    width: 100%;
    background-color: #F5F0EB;
}

.filter-item{
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 5%;

}
#filter-item{
    width: 100%;
    height: 100px;
    display: flex;
}
.filter{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
}
.item{
    width: 30%;
    height: 30px;
    border-radius: 100%;
    background-color: #D9D9D9;
}
.filter-item button{
    width:10%;
    height: 50px;
    background: transparent;
    border: 1px solid #FFD2A6;
    margin: 0 3%;
}
/* main */
.sub-main{
    width: 90%;
    margin: 0 5%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
}
.sub-main .subcat{
    width: 25%;
    height: 450px;
    display: inline-block;
    position: relative;
}
.subcat img{
    width: 100%;
}
.subcat #heart{
    height: 35px;
    width: 13%;
    position: absolute;
    left: 80%;
    top: 20px;
    border-radius: 100%;
    background-color: #2C2B2EE5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bi-heart{
    color: #f9f9f9;
}

/* desktop 13 */

.part1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
    margin: 50px 0;
    height: 250px;

}
.part1 #boxA{
    width: 35%;
    background-color: #FFD2A6;
    padding: 0 12px;
    box-sizing: border-box;
    border-radius: 10px;

}
.part1 #boxB{
    width: 50%;

}   
#boxB img{
    width: 100%;
    height: 245px;
}
/* part 2 */
.part2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.box hr{
    margin: 60px 0;
    border: 1px solid #CCCCCC;
}
#boxC{
    width: 65%;
}
#boxC .box{
    width: 100%;
    display: flex;
    border-top: 1px solid #CCCCCC;

}
.box .box-row{
    padding: 40px 0px;
    width: 50%;
    box-sizing: border-box;
}
.box-row h3{
    color: #332269;
}
.box-row p{
    color: #515A6A;
}


#about-event p{
    width: 95%;
}
.box-row .speaker-img{
    width: 95%;
    display: flex;
    gap: 1em;
}
.speaker-img .img-row{
    width: 35%;
}
.img-row img{
    width: 100%;
}
.img-row h3{
    font-size: 15px;
}
.img-row p{
    font-size: 14px;
}
.img-row span{
   float: right;
}
.box-row .map{
    width: 100%;
}

.map img{
    width: 90%;
}
.box-row #organizer{
    display: flex;
    gap: 0.5em;
}
#organizer-img{
    width: 30%;
}
#organizer-img img{
    width: 100%;
}
#organizer .organizer-social{
    display: flex;
}
.partners{
    display: flex;
    gap: 0.5em;
}
.partners-img{
    width: 25%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners-img img{
    width: 100%;

}
#date, #map, #partner{
    padding: 40px 30px;
    box-sizing: border-box;
}
#boxD{
    width: 25%;
}
#boxD p{
    color: #515A6A;
}
#boxD #span{
    background-color: #EB5757;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px 10px;
}
.ticket{
    margin: 30px 0;
    border: 1px solid #FFD2A6;
    border-radius: 10px;
}
.ticket .sub-ticket{
    padding: 0px 10px;
    padding-bottom: 20px;
}
.sub-ticket h3{
    color: #332269;
}
.sub-ticket p{
    color: #2C2B2E;
}
#qty label{
    color: #515A6A;
}

.qty-input button{
    width: 15%;
    height: 40px;
    border: 1px solid #332269;
    background-color: transparent;
    border-radius: 10px;
}
.qty-input input{
    height: 50px;
    width: 60%;
    outline: none;
    border-radius: 10px;
    border: 1px solid #FFD2A6;
}
#checkout{
    width: 95%;
    height: 50px;
    background-color: #332269;
    color: #FFFFFF;
    border: 1px solid #332269;
    border-radius:10px ;
    margin: 20px 0;
}

.sub-ticket span{
    float: right;
}
.ticket #total span{
    float: right;
}

/* signup */
#signup-form h3{
    color: #2C2B2E;
}
#signup-form h2{
    color: #765FBE;
    font-size: 30px;
}
.signup{
    width: 100%;
    display: flex;
}
#signup-form{
    width: 50%;
    padding: 80px 50px;
    background-color: #E5E5E5;
}
#signup-form input{
    border: 1px solid #FFD2A6;
}

#signup-form label{
    color: #515A6A;
}
#signup_form #name{
    display: flex;
    margin: 10px 0;
}
#signup_form #email{
    margin: 10px 0;
}
#signup_form #password{
    margin: 10px 0;
}
#signup_form #submit{
    margin: 10px 0;
}
#signup_form #recover{
    border: 1px solid;
}
#signup_form .form_input{
    width: 95%;
}
#name label{
    display: block;
}

#name .input{
    width: 100%;
}
.input input{
    width: 90%;
}
#form_input{
    position: relative; 
}
.eye{
    position: absolute;
    left: 90%;
    top: 0px;
    width: 5%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submit button{
    margin: 10px 0;
    width: 95%;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #765FBE;
    border: 1px solid #765FBE;
}
#submit a{
    color: #765FBE;
} 

#recover a{
    color:#765FBE;
}
#continue{
    width: 90%;
    margin: 20px 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}
#continue p{
    color: #B7B7B7;
}
#continue p::after{
    content: '';
    display: flex;
    width: 25%;
    height: 1px;
    background: #FFD2A6;
    position: absolute;
    top: 27px;
    left:10%

}
#continue p::before{
    content: '';
    display: flex;
    width: 25%;
    height: 1px;
    background: #FFD2A6;
    position: absolute;
    top: 27px;
    left:65%


}
/* #continue .line{
    width: 30%;
    height: 0;
    border: 1px solid;
} */

#social-handle{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin: 20px 10%;
}
#social-handle .cir{
    width: 13%;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #FFD2A6;
    background-color: #FEF1E3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cir img{
    width: 45%;
}
#signup-form1{
    background: linear-gradient(100.54deg, #ECE7FF -31.94%, #F9E4D0 102.02%);
    width: 50%;
    height: 900px;
    display: flex ;
    overflow: hidden;
}
#signup-form1 .img{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
#signup-form1 .img img{
    width: 90%;
}
#imgA{
    padding: 40px 0;
}
/* profile styles */
#profile-area{
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}


    /* desktop-34.styles begin */
#gifts-order{
    height: 200px;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}
#gift-pic{
    height: 150px;
    width: 120px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gift-text{
    width: 200px;
    text-align: center;
    font-family: 'Apercu';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #2C2B2E;
}
#dim-line{
    border: 1px solid #CCCCCC ;
    width: 70%;
    position: relative;
    left: 15%;
}
#d-connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
}
#d-text{
    /* font-family: 'Apercu'; */
    color: #515A6A;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}
#d-conet{
    position: relative;
    bottom: 20px;
    color: #332269;
    /* font-family: 'Apercu'; */
}
.d-container{
    width: 70%;
    height: 250px;
    position: relative;
    left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.d-contain1{
    width: 48%;
    height: 180px;
    position: relative;
    right: 0%;
    top: 10%;
}
.d-opt{
    height: 150px;
    width: 60%;
    position: relative;
    left: 20px;
    top: 20%;
}
#dim-lineST{
    border: 1px solid #CCCCCC ;
    height: 200px;
    position: relative;
    top: 10%;
}
.dim-lineX2{
    width: 70%;
    position: relative;
    left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lineX2{
    border: 1px solid #CCCCCC;
    width: 45%;
    position: relative;
    right: 0%;
}
.d-connt{
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    font-family: 'Apercu';
    color: #2C2B2E;
}
.connect{
    color: #515A6A;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.connect-a{
    color: #765FBE;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line:underline;
}
#text-btn{
    height: 50px;
    width: 20%;
    position: relative;
    left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
#button-1{
    border: 1px solid #332269;
    border-radius: 4px 4px 4px 4px;
    height: 30px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight:500;
    font-size: 14px;
    font-family: 'Apercu';
    font-style: normal;
    background-color: #332269;
    color: #FFFFFF;
}
#button-2{
    border: 1px solid #2C2B2E;
    border-radius: 4px 4px 4px 4px;
    height: 30px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight:500;
    font-size: 14px;
    font-family: 'Apercu';
    font-style: normal;
    color: #2C2B2E;
}
/* thisDesktop-styles ends */

/* ..........Desktop-39........... */
#profile{
    width: 40%;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ed-container{
    height: 120px;
    width: 60%;
    position: relative;
    left: 20px;
    bottom: 30px;
}
.ed-connt{
    line-height: 30px;
    position: relative;
    top: 20%;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Apercu';
    color: #2C2B2E;
}
#ed-connect{
    color: #515A6A;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 10px;
}
.ed-profile{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Apercu';
    color: #2C2B2E; 
    text-decoration-line:underline;
}
.order-container{
    width: 30%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.active-line{
    border: 1px solid #332269;
    position: relative;
    bottom: 1px;
}
#order-link1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#order-hilite{
    height: 29px;
    width: 90px;
    margin-top: 2px;
    background-color: #F4F1FF;
}
#order-link1 a{
    height: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B7B7B7;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
#ord-line{
    border: 1px solid #E4E7EC;
    width: 89%;
    margin-left: 5%;
}
#explore-events{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#explore-text{
    width: 400px;
    text-align: center;
    font-family: 'Apercu';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #969CA5;
}
#explore-btn{
    position: relative;
    top: 10%;
}

/* Desktop-17 */

.interest-container{
    width: 35%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 20px;
}
#active-line{
    border: 2px solid #765FBE;
}
#active-h1{
    border: 1px solid #765FBE;
}
#active-hi{
    border: 1px solid #DAD2F6;  
}
#active-hi-hi{
    border: 1px solid #CCCCCC;
}
#interest-link1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#interest-link1 a{
    height: 30px;
    width: 150px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #B7B7B7;
}
#x1-x1{
    color: #2C2B2E  !important;
}
#interest-a{
    color: #765FBE !important;
}
#interest-text{
    width: 40%;
    justify-content: space-around;
    margin-left: 5%;
    margin-top: 2%;
}
#interest-txt{
    font-size: 24px;
    font-weight: 500;
    color: #332269;
    display: flex;
    flex-direction: row;
}
#intxt{
    font-size: 14px;
    font-weight: 400;
    color: #515A6A;
}
#interest-form{
    width: 50%;
    height: 160px;
    margin-top:5%;
    margin-left: 5%;
}
#interest_form label{
    height: 150px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}
#in_locate{
    height: 100px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #515A6A;
    line-height: 14px;
    display: flex;
    flex-direction: column;
}
.text_input{
    border: 1px solid #FFD2A6;
    height: 40px;
    width: 410px;
    padding-left: 15px;
    margin-top: 8px;
}
.null-container{
    width: 80%;
    height: 400px;
    margin-left: 10%;
    margin-bottom: 10%;
}
#cream-line{
    border: 1px solid #FFD2A6;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}
.options-btn{
    border: transparent; 
    width: 100px;
    height: 28px;
    padding-bottom: 2px;
    position: relative;
    left: 30px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2C2B2E;
    background-color: #FFFFFF;
}
.bi-caret-left{
    color: #2C2B2E;
    font-size: 15px;
}
.options-btn-x{
    border: transparent;
    width: 100px;
    height: 28px;
    padding-bottom: 2px;
    position: relative;
    right: 30px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2C2B2E;
    background-color: #FFFFFF;
}
.bi-caret-right{
    color: #2C2B2E;
    font-size: 15px;
}



/* Desktop-16 */
#like-event{
    height: 600px;
    width: 65%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.likes-cat{
    width: 30%;
    display: flex;
    flex-direction: column;
}
#red-heart{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #2C2B2E;
    position: relative;
    left: 80%;
    top: 55px;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* t-ket */
#tiket-text{
    font-size: 16px;
    font-weight: bold;
    color: #2C2B2E;
}

.ticket-txt{
    font-size: 14px;
    font-weight: 400;
    color: #515A6A;
}
.tket-text{
    font-size: 13px;
    font-weight: 700;
    color: #2C2B2E;
}
#t-ket{
    height: 14px;
    width: 14px;
    position: relative;
    top: 2px;
    color: #515A6A;
}



/* Desktop-23*/
.acct-txt{
    margin-left: 5%;
    font-size: 20px;
    font-family: 'Apercu';
    font-weight: 500;
    color: #2C2B2E;
}

.account-container{
    width: 68%;
    height: 40px;
    margin-left: 5%;
}
#account-link1{
    width: 75%;
    position: relative;
    top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#account-hilite{
    height: 33px;
    width: 132px;
    background-color: #F4F1FF;
}
#account-link1 a{
    font-size: 14px;
    height: 30px;
    width: 140px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CCCCCC;
}
#body-sect{
    width: 50%;
    height: 250px;
    margin-left: 5%;
    margin-top: 1%;
}
.section-text{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    color: #515A6A;

}
#security_form{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#secure-border{
    height: 95px;

}
#label-txt{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #515A6A;
}
#secure_input{
    position: relative;
    width: 80%;
    top: 10px;
    border: 1px solid #FFD2A6;
    border-radius: 4px;
    padding-left: 16px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #B7B7B7;
}

#security_form .secure_input{
    width: 95%;
}

#btn-btn{
    height: 180px;
    position: relative;
}
#save_btn{
    border: 1px solid  #765FBE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #765FBE;
    border-radius: 4px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 5%;
}

/* Desktop-24 */
.payment-txt{

    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 5%;
    color: #515A6A;
}

#payment_btn{

    width: 158px;
    height: 40px;
    border: transparent;
    background: #332269;
    border-radius: 4px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 5%;
}

/* Desktop-25 */
.emailP-head-txt{
    margin-left: 5%;
    margin-top: 3%;
    line-height: 22px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;

    color: #332269;
}
.little-text{

    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #515A6A;
}
#li-li-txt{
    margin-left: 5%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
}
.check_txt{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.box-border{
    background: #765FBE;
}

.check_txt p{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #515A6A;
}
#null-space{
    border: transparent;
    height: 70px;
}

/* Desktop-18 */
#cream-container{
    width: 85%;
    height: 320px;
    margin-left: 8%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cream-order{
    border: 1px solid #FFD2A6;
    height: 300px;
    width: 350px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head-text{
    color:  #332269;        
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.child-div{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(99, 183, 93, 0.1);
    border: 1px solid #63B75D;
    border-radius: 8px;
    background: rgba(99, 183, 93, 0.1);
}
.child-div-2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(99, 183, 93, 0.1);
    border: 1px solid #FF5403;
    border-radius: 8px;
    background: rgba(255, 84, 3, 0.05);
}
.child-div-3{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(99, 183, 93, 0.1);
    border: 1px solid #765FBE;
    border-radius: 8px;
    background: rgba(218, 210, 246, 0.4);
}
.photo-content{
    display: flex;
    flex-direction: row;
}
.bold-txt{
    padding-left: 10px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: justify;
    color: #2C2B2E;
}
.gray-text{
    /* Desktop/Smallest Text */
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}


#cream-container-2{
    width: 85%;
    height: 320px;
    margin-left: 8%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cream-order{
    border: 1px solid #FFD2A6;
    height: 300px;
    width: 350px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.head-text{
    color:  #332269;        
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.child-div-4{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(251, 180, 72, 0.15);
    border: 1px solid #FBB448;
    border-radius: 8px;
}
.child-div-5{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(253, 46, 179, 0.05);
    border: 1px solid #FD2EB3;
    border-radius: 8px;
}
.child-div-6{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 16px;
    width: 350px;
    height: 112px;
    background: rgba(236, 119, 69, 0.1);
    border: 1px solid #EC7745;
    border-radius: 8px;
}
#p1-p1{
    color: #765FBE !important;
}
/* null-container00 */
 .null-area{
     height: 30px;
 }

 /* Desktop-21 */
#filters-container{
    height: 50px;
    width: 89%;
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#filters{
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#filter-btn{
    border:transparent;       
    width: 84px;
    height: 36px;
    background: #F4F1FF;
    border-radius: 8px;   
    /* Desktop/Buttons/Small Button Text */  
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px; 
    color: #2E394C;
    padding: 2px;
}
#div-line{
    width: 24px;
    height: 0px;
    border: 1px solid #B9BDC3;
    transform: rotate(90deg);
}
#filter-text{
    /* Desktop/Button */
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2E394C;
}
#search-area{
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FFD2A6;
    border-radius: 6px;        
    box-sizing: border-box;
    /* Auto layout */
    padding: 8px 12px;
    width: 320px;
    height: 50px;
}
.organize-search{
    display: flex;
    padding: 17px;
    position: relative;
    left: 11px;
    border: #FFFFFF;
    width: 268px;
    height: 10px;
    outline: none; 
    /* Desktop/Small Text */ 
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #515A6A;
}
.parent-container{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 1200px;
    height: 576px;
    margin-left: 6%;
    margin-top: 20px
}
.sect-row{
    height: 90px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
.sub-categories{
    height: 90px;
    width: 150px;
    position: relative;
    right: 35%;
}
.names{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
    color: #2C2B2E;
}   
.categories{    
    width: 160px;
    height: 24px;
    background: rgba(255, 84, 3, 0.05);
    border: 1px solid #FF5403;
    border-radius: 4px;    
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Desktop/Button */
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2C2B2E;
}
.btn-btn{
    height: 20px;
    width: 90px;        
    /* Desktop/Button */
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 4px;
}
.ff-btn{
    width: 100%;
    /* Desktop/Button */
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #332269;
    background: transparent;
    border-radius: 4px;
    color: #332269;
}
.filter-line{
    height: 0px;
    width: 100%;
    border: 1px solid #CCCCCC;
}   

/* Desktop-27_css */
.dex-tex{
    padding-left: 5%;
    margin-top: 2%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #515A6A;
}
#dex-span{
    color: #765FBE;
}
.dex-txt-container{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.dex-text-bi{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #515A6A;
}
#text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 410px;
    height: 147px;
    margin-left: 5%;
    margin-top:10px;
    
}
#text-input{
    width: 408px;
    height: 140px;
    outline: none;
    border: 1px solid #FFD2A6;
    border-radius: 4px;
    padding-left: 10px;
    padding-bottom: 20%;
}

/* Desktop-15 */
#active-x1{
    border: 1px solid #DAD2F7;
}
#active-xi{
    border: 1px solid #CCCCCC;
}
#active-xi-xi{
    border: 1px solid #CCCCCC;
}
#text-colour{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #2C2B2E !important;
}
#flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 5%;
}
#box-1{
    height: 50px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #2C2B2E;
    border: 1px solid #CBBDF8;
    border-radius: 4px;
}
#box-1-1{
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #2C2B2E;
    border: 1px solid #CBBDF8;
    border-radius: 4px;
}
#box-1-1x{
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #2C2B2E;
    border: 1px solid #CBBDF8;
    border-radius: 4px;
    background: #F4F1FF;
}
#flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-left: 5%;
}
#head-text{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px; 
    color: #2C2B2E; 
    margin-left: 5%;
}
#gold-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}

#gold-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}
#gold-container3{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
}
#gold-box{
    width: 120px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #2C2B2E;
    border: 1px solid #FFD2A6;
    border-radius: 6px;
}
#gold-box-1{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #2C2B2E;
    border: 1px solid #FFD2A6;
    border-radius: 6px;
}
#empty-space{
    border: transparent;
    height: 100px;
}
.options-btnxx{
    border: transparent; 
    width: 100px;
    height: 28px;
    position: relative;
    left: 30px;
    padding-bottom: 2px;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #B7B7B7;
    background-color: #FFFFFF;
}
.options-btnxx .bicaret-left{
    color: #B7B7B7 !important;
}

/* Desktop-19 */
#gold-box-1x{
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #2C2B2E;
    border: 1px solid #FFD2A6;
    border-radius: 6px;
    background: #FEF1E3;
}
#gold-box-x{
    width: 120px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #2C2B2E;
    border: 1px solid #FFD2A6;
    border-radius: 6px;
    background: #FEF1E3;
}
/* Desktop-36 */
#ff-btn{
    width: 120px;
    border: 1px solid  #332269;
    border-radius: 5px;
    position: absolute;
    right: 0;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#filter-btn{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2C2B2E;
    background: transparent;
}
/* Desktop-40 */
.options-btn-s{
    border: transparent;
    width: 100px;
    height: 28px;
    padding-bottom: 2px;
    position: relative;
    left: 38%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2C2B2E;
    background-color: #FFFFFF;
}
/* Desktop-47 */
#parent-div{
    margin-top: 2%;
    margin-left: 5%;
    height: 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#parent-txt{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#header-text{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #515A6A;
}
#paid-text{
    position: relative;
    bottom: 16%;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #515A6A;
}
.paid-tkt{
    width: 74px;
    height: 20px;
    position: relative;
    top: 5px;
}
#paid-txt{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #765FBE;
}
#btn-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22%;
    margin-top: 2%;
    margin-right: 5%;
}
#info-container{
    width: 94.5%;
    margin-top: 2%;
    margin-left: 5%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.t-info-container{
    padding: 15px;
    width: 600px;
    height: 460px;   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #FFD2A6;
    border-radius: 8px;
}
.event-area{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #332269;
}
#vacant-space{
    border: transparent;
    height: 100px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; 
} 
th{
    text-align: left;
    padding: 8px;
    height: 40px;
    background: #DAD2F7;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #2C2B2E;
}
td{ 
    text-align: left;
    line-height: 50px;
    padding: 8px; 
    border-bottom: 1px solid #FFD2A6;
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.pink-txt{
    font-family: 'Apercu';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #765FBE;
}