.btn{
    padding: 10px;
    border-radius: 5px;
    &-secondary{
        background-color: rgb(var(--v-theme-secondary)) !important;
        border: 1px solid rgb(var(--v-theme-secondary)) !important;
        color: #fff;
        &:hover{
            background-color: lighten(#332269, 5) !important;
        }


        &-alt{
            border: 1px solid rgb(var(--v-theme-secondary)) !important;
            color: #000;
            &:hover{
                background-color: rgb(var(--v-theme-secondary)) !important;
                color: #fff;
            }
        }
    }
    &-accent{
        background-color: $faded-orange !important;
        color: mix($faded-orange, #000, 40%);
    }
}