.input{
    padding: 7px 10px;
    border-radius: 7px;
    width: 100%;
    outline: none;
    border: 1px solid $faded-orange;
    &.password{
        border-radius: 7px 0 0 7px;
        border-right: none !important;
    }
    &-group{
        width: 100%;
        label{
            font-size: 0.9em;
            margin-bottom: 7px;
            display: block;
            color: $text-col;
        }
        .password-btn{
            background: transparent;
            border-radius: 0 7px 7px 0;
            border: 1px solid $faded-orange;
            border-left: none
        }
    }
}

.file, .text{
    &-upload{
        @extend .input;
        border-radius: 3px;
    }
}