$purple: ("100": rgb(244,241, 255), "200": rgb(224,215, 243), "300": rgb(218,210, 246), "400": rgb(126, 104, 192));
// $purple-100: ;
// $purple-200: rgb(224,215, 243);
// $purple-300: rgb(218,210, 246);
// $purple-400: rgb(126, 104, 192);
// @mixin border($color){
//     border-color: $color
// }

// $i: 100;

// @while $i < 500 {
//     .border-purple-#{$i}{
//         @include border($purple-#{$i});
//         color: red;
//     }
// }

@each $weight, $color in $purple{
    .border-purple-#{$weight}{
        border: 1px solid $color;
        &:hover{
            background-color: rgb(244,241, 255);
        }
    };
    .col-purple-#{$weight}{
        background-color: $color;
    }
    .text-purple-#{$weight}{
        color: $color;
    }
}