
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

$body-font: 'Catamaran', sans-serif;

body{
    font-family: $body-font !important;
}