<template>
    <div class="container ml-10">
        <p>Available tickets</p>
        <div class="pa-4 tickets rounded-lg">
            <div class="mb-4 ticket" v-for="(ticket, i) in tickets" :key="i" >
                <h4 class="text-uppercase mb-2 text-secondary">{{ ticket.name }}</h4>
                <p class="mb-2">{{ ticket.price }}</p>
                <div class="input-group my-4">
                    <label for="">Quantity</label>
                    <div class="d-flex gap-10">
                        <input type="number" class="input">
                        <button class="btn btn-secondary-alt">-</button>
                        <button class="btn btn-secondary-alt">+</button>
                    </div>
                </div>
                <v-divider></v-divider>
            </div>
            <button class="btn btn-secondary w-100 mb-4">Checkout</button>
            <v-divider />
            <div>
                <div class="my-4">
                    <h4 class="text-secondary">Price</h4>
                    <div v-for="(ticket, i) in tickets" :key="i" class="d-flex justify-space-between my-4">
                        <p>1 x {{ ticket.name }}</p>
                        <p>{{ ticket.price }}</p> 
                    </div>
                    <div class="d-flex justify-space-between my-4">
                        <p>Service Charge</p>
                        <p>1500</p>
                    </div>
                </div>
                <v-divider />
                <div class="d-flex justify-space-between my-4">
                        <h3 class="font-weight-medium">Total</h3>
                        <h3 class="font-weight-medium">149,500</h3>
                    </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

    export default defineComponent({
        props: {
            tickets: {
                type: Array as any,
                required: true
            }
        },
        setup(props){
            onMounted(() => {console.log(props.tickets)})
        }
    })
</script>

<style lang="scss" scoped>
.container{
    min-width: 360px;
    .tickets{
        border: 1px solid $faded-orange;
        .ticket{
            width: auto !important;
            height: auto !important;
            .btn{
                width: 46px !important;
            }
        }
    }
}


</style>