<template>
    <div class="my-8">
        <div class="evt-section">
            <h4 class="text-secondary my-4">Event Image</h4>

            <div class="input-group my-4">
                <label for="">Event banner</label>
                <upload-image :defaultSrc="store.eventData.details.banner_url" @change="store.setBanner"/>
                <span class="text-subtitle-2 text-red" v-if="v?.details.banner_url?.$error">{{v.details.banner_url.$errors[0].$message}}</span>
            </div>


            <div class="input-group my-4">
                <label for="">Event thumbnail</label>
                <upload-image :defaultSrc="store.eventData.details.thumb_url" @change="store.setThumb" size="sm"/>
                <span class="text-subtitle-2 text-red" v-if="v?.details.thumb_url?.$error">{{v.details.thumb_url.$errors[0].$message}}</span>
            </div>

        </div>

        <div class="evt-section">
            <h4 class="text-secondary my-4">Event Description</h4>
            <text-editor :content="store.eventData.details.description" @change="store.setDescription"/>
            <span class="text-subtitle-2 text-red" v-if="v?.details.description?.$error">{{v.details.description.$errors[0].$message}}</span>
        </div>
    </div>

</template>

<script lang="ts">
import { useCreateEvent } from '~~/stores/createEvent'
import useVuelidate from '@vuelidate/core';
import { required , minLength} from '@vuelidate/validators'
export default defineComponent({
    props: {
        isValidCheck: {
            type: Boolean,
            default: false
        }
    },
    emits: ['next'],
    setup(props, context){
        const store = useCreateEvent();
        const error = ref(false)
        const errors = ref<any[]>([])
        const logImage = (url: string, file: File) => {
            console.log(url, file)
        }

        const checkValidity = () => {
            console.log(store.eventData.details)
            $v.value.$validate()
            // console.log($v.value)
            console.log("Validity Check")
            console.log($v.value)
            if (!$v.value.$error){
                console.log("Valid")
                error.value = false
                errors.value = []
                context.emit("next", true)
            } else {
                console.log($v.value.$errors)
                console.log("Form not valid")
                error.value = $v.value.$error
                errors.value = $v.value.$errors
                context.emit("next", false)
            }
        }

        watch(() => props.isValidCheck, (checked) => {
            console.log("checking", checked)
            if(checked){
                checkValidity()
            }
        })

        const showDescription = (content: string) => {
            console.log('text content', content)
        }

        const rules = computed(() => {
            return {
                details: {
                    thumb_url: { required, minlength: minLength(2) },
                    banner_url: { required, minlength: minLength(2) },
                    description: { required, minlength: minLength(10) }
                }
            }
        })

        const details = computed(() => {
            return store.eventData.details
        })
        const $v = useVuelidate(rules, {details: details.value} )

        onMounted(() => {
            console.log(store.eventData)
            console.log($v.value)
        })

        return {
            logImage,
            showDescription,
            store,
            error,
            errors,
            v: $v,
            checkValidity
        }
    }
})
</script>