<template>
    <div class="my-8">

        <div class="evt-section">
            <h4 class="text-secondary my-4">Basic</h4>
            <div class="input-group my-4">
                <label for="">Event title</label>
                <input type="text" class="input" placeholder="Enter event title"
                    v-model="store.eventData.description.title">
                <span class="text-subtitle-2 text-red"
                    v-if="v.description.title.$error">{{ v.description.title.$errors[0].$message }}</span>
            </div>

            <!-- <Icon name="mdi:account-cowboy-hat-outline" size="2em" color="indigo" /> -->

            <div class="input-group my-4">
                <label for="">Event organizer (optional)</label>
                <input type="text" class="input" placeholder="Enter event organizer if available"
                    v-model="store.eventData.description.organizer">
                <span class="text-subtitle-2 text-red"
                    v-if="v.description.organizer.$error">{{ v.description.organizer.$errors[0].$message }}</span>
            </div>

            <div class="d-flex gap-20 my-4">
                <div class="input-group">
                    <label for="category">Select Event category</label>
                    <select name="category" id="category" class="input" v-model="store.eventData.description.category">
                        <option value="Music">Music</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Wedding Ceremony">Wedding Ceremony</option>
                        <option value="Cinema">Cinema</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Funfest">Funfest</option>
                        <option value="Festival">Festival</option>
                        <option value="Beach hangout">Beach hangout</option>
                        <option value="Tech Hangout">Tech Hangout</option>
                        <option value="Hackathon">Hackathon</option>
                        <option value="Web3">Web3</option>
                        <option value="Crypto meetup">Crypto meetup</option>
                        <option value="Outdoor">Outdoor</option>
                        <option value="Others">Others</option>
                    </select>
                    <!-- <input type="text" class="input" placeholder="Select Category"> -->
                    <span class="text-subtitle-2 text-red"
                        v-if="v.description.category.$error">{{ v.description.category.$errors[0].$message }}</span>
                </div>

                <!-- <div class="input-group">
                        <label for="">Event format</label>
                        <input type="text" class="input" placeholder="Select Format" v-model="store.eventData.description.format">
                        <span class="text-subtitle-2 text-red" v-if="v.description.format.$error">{{v.description.format.$errors[0].$message}}</span>
                    </div> -->
            </div>
        </div>

        <div class="evt-section">
            <h4 class="text-secondary my-4">Location</h4>

            <div class="d-flex gap-20 my-4">
                <button :class="`btn border-purple-400 ${store.eventLocation.type === 'PHYSICAL' && 'col-purple-100'}`"
                    @click="store.eventLocation.type = 'PHYSICAL'">Physical</button>
                <button :class="`btn border-purple-400 ${store.eventLocation.type === 'VIRTUAL' && 'col-purple-100'}`"
                    @click="store.eventLocation.type = 'VIRTUAL'">Virtual</button>
            </div>

            <div class="physical" v-if="store.eventLocation.type === 'PHYSICAL'">
                <div class="input-group">
                    <label for="">Event Location</label>
                    <input type="text" class="input" placeholder="Search for location or address"
                        v-model="store.eventLocation.physical.address">
                </div>

                <!-- <FormInputRegionPicker @value="store.setLocation" :default="store.eventLocation.physical" class="my-4" /> -->
                <!-- <div class="d-flex gap-20 w-100">
                        <div class="input-group">
                            <label for="">City</label>
                            <input type="text" class="input" placeholder="Input your city" v-model="store.eventLocation.physical.city">
                        </div>
                        <div class="input-group">
                            <label for="">Zip Code</label>
                            <input type="text" class="input" placeholder="Your Zip code" v-model="store.eventLocation.physical.zipCode">
                        </div>
                    </div> -->
            </div>

            <div class="virtual" v-if="store.eventLocation.type === 'VIRTUAL'">
                <div class="input-group my-4">
                    <label for="medium">Select a Virtual Event medium</label>
                    <select name="medium" id="medium" class="input" v-model="store.eventLocation.virtual.medium">
                        <option value="Zoom">Zoom</option>
                        <option value="Google Meet">Google Meet</option>
                        <option value="telegram">Telegram</option>
                        <option value="Telegram">Twitter</option>
                        <option value="Instagram">Instagram</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Others">Others</option>
                    </select>
                    <!-- <input type="text" class="input" placeholder="Select a medium to host events"> -->
                </div>
                <div class="input-group my-4">
                    <label for="">External link to join</label>
                    <input type="text" class="input" placeholder="Enter external url"
                        v-model="store.eventLocation.virtual.link">
                </div>
            </div>

        </div>

        <div class="evt-section">
            <h4 class="text-secondary my-4">Date and Time</h4>

            <div class="d-flex gap-20">
                <button class="btn btn-secondary-alt" :class="`${'col-purple-100' & store.eventData.frequency == 'SINGLE'}`"
                    @click="store.eventData.frequency = 'SINGLE'">Single Event </button>
                <button class="btn btn-secondary-alt"
                    :class="`${'col-purple-100' & store.eventData.frequency == 'RECURRING'}`"
                    @click="store.eventData.frequency = 'RECURRING'">Recurring Event</button>
            </div>

            <div class="d-flex my-4 gap-20">
                <div class="input-group">
                    <label for="">Start date</label>
                    <input type="date" name="" id="" class="input" v-model="store.eventData.date.startDate">
                    <span class="text-subtitle-2 text-red"
                        v-if="v.date.startDate.$error">{{ v.date.startDate.$errors[0].$message }}</span>
                </div>
                <div class="input-group">
                    <label for="">Start time</label>
                    <input type="time" name="" id="" class="input" v-model="store.eventData.date.startTime">
                    <span class="text-subtitle-2 text-red"
                        v-if="v.date.startTime.$error">{{ v.date.startTime.$errors[0].$message }}</span>
                </div>
            </div>

            <div class="d-flex my-4 gap-20">
                <div class="input-group">
                    <label for="">End date</label>
                    <input type="date" name="" id="" class="input" v-model="store.eventData.date.endDate">
                    <span class="text-subtitle-2 text-red"
                        v-if="v.date.endDate.$error">{{ v.date.endDate.$errors[0].$message }}</span>
                </div>
                <div class="input-group">
                    <label for="">End time</label>
                    <input type="time" name="" id="" class="input" v-model="store.eventData.date.endTime">
                    <span class="text-subtitle-2 text-red"
                        v-if="v.date.endTime.$error">{{ v.date.endTime.$errors[0].$message }}</span>
                </div>
            </div>

            <div class="input-group">
                <label for="">Time zone</label>
                <!-- <input type="datetime-local" name="" id="" class="input" v-model="store.eventData.date.timeZone"> -->
                <select name="" id="" class="input" v-model="store.eventData.date.timeZone">
                    <option value="Americas">America (GMT+7)</option>
                    <option value="China">China (GMT+5)</option>
                    <option value="Nigeria">Nigeria (GMT+1)</option>
                    <option value="India">India (GMT+4)</option>
                    <option value="Paris"> Paris (GMT+1)</option>
                </select>
                <span class="text-subtitle-2 text-red"
                    v-if="v.date.timeZone.$error">{{ v.date.timeZone.$errors[0].$message }}</span>
            </div>
        </div>

        <!-- <input type="text" class="input" v-model=""> -->

        <!-- <div v-if="error">
                <span class="text-red" v-for="error in errors">{{ error.$property + error.$message }}</span>
            </div> -->
    </div>
</template>

<script>
import { useCreateEvent } from '~~/stores/createEvent'
import useValidate from "@vuelidate/core"
import { required, minLength } from "@vuelidate/validators"
export default {
    emits: ['next'],
    props: {
        isValidCheck: {
            type: Boolean,
            default: false
        }
    },
    setup(props, context) {
        const store = useCreateEvent();

        const error = ref(false)
        const errors = ref([])

        // Form validation
        const rules = computed(() => {
            return {
                description: {
                    title: { required, minLength: minLength(4) },
                    organizer: { minLength: minLength(4) },
                    category: { required, minLength: minLength(4) }
                },
                date: {
                    startDate: { required, minLength: minLength(4) },
                    startTime: { required, minLength: minLength(4) },
                    endDate: { required, minLength: minLength(4) },
                    endTime: { required, minLength: minLength(4) },
                    timeZone: { required, minLength: minLength(4) }
                }
            }
        })

        const $v = useValidate(rules, { description: store.eventData.description, date: store.eventData.date })

        const checkValidity = () => {
            $v.value.$validate()
            console.log("Validity Check")
            if (!$v.value.$error) {
                error.value = false
                errors.value = []
                context.emit("next", true)
            } else {
                console.log("Form not valid")
                error.value = $v.value.$error
                errors.value = $v.value.$errors
                context.emit("next", false)
            }
        }

        watch(() => props.isValidCheck, (checked) => {
            console.log("checking", checked)
            if (checked) {
                checkValidity()
            }
        })

        onMounted(() => {
            console.log(store.$state)
            console.log($v.value)
        })
        return {
            // logEvent,
            store,
            v: $v,
            error,
            errors,
        }
    },
}
</script>
