<template>
    <div class="preview my-8">
        <div class="d-flex gap-20">
            <div class="details pa-4 rounded-sm">
                <h2 class="text-secondary mb-2">{{ store.eventData.description.title }}</h2>
                <p class="mb-2">{{ store.eventLocation.virtual.medium }}</p>
                <p class="mb-2"><v-icon color="info" icon="$calendar"></v-icon> {{ formattedDate + '    ' + formattedTime }}</p>

                <p class="mb-2" v-if="store.eventData.bookings?.tickets[0]">{{ store.eventData.bookings.tickets[0].price }}
                </p>

                <v-divider color="#ff7e00" />

                <p class="my-2" v-html="store.eventData.details.description"></p>
            </div>
            <div class="banner">
                <img class="w-100 h-100" :src="store.eventData.details.banner_url" alt="No pic">
            </div>
        </div>
        <div class="my-10">
            <p class="text-secondary my-2">Who can see your event?</p>
            <div class="d-flex my-4 align-start">
                <input type="radio" name="Group" class="mr-2 mt-1">
                <div>
                    <h4 class="text-secondary">Public</h4>
                    <span>Search on eventday and search engines</span>
                </div>
            </div>
            <div class="d-flex my-4 align-start">
                <input type="radio" name="Group" class="mr-2 mt-1">
                <div>
                    <h4 class="text-secondary">Private</h4>
                    <span>Only available to a selected audience</span>
                </div>
            </div>
        </div>
        <div>
            <p class="text-secondary">Select audience</p>
            <div class="d-flex my-2 gap-20">
                <button class="btn border-purple-400">Anyone with Link</button>
                <button class="btn border-purple-400">People with password</button>
            </div>
        </div>
       <div class="py-5 text-end">
        <v-btn marign-top="20px" @click="publish" width="50%" color="indigo" size="large" rounded :disabled="loading" :loading="loading">
            <Icon name="mdi:publish" size="1.5em" color="white" padding="5px" />
            Publish
        </v-btn>
       </div>
        
    </div>
</template>

<script lang="ts">
import { useCreateEvent } from '~~/stores/createEvent'
import { nanoid } from 'nanoid';
import { useFormattedDate, convertTo12HourFormat } from '../../formattedDate';

export default defineComponent({
    setup() {
        const store = useCreateEvent()
        const router = useRouter()
        const originalDate = ref();
        const loading = ref(false)
        // const eventId = ref('');

        const formData = new FormData();
        onMounted(() => {
            originalDate.value = store.eventData.date.startDate
        })

        const publish = async () => {
           loading.value= true
            const dataToBePublished = {
                eventId: nanoid(),
                title: store.eventData.description.title,
                description: store.eventData.details.description,
                organizer: store.eventData.description.organizer,
                category: store.eventData.description.category,
                meetType: store.eventLocation.type,
                frequency: store.eventData.frequency,
                startDate: store.eventData.date.startDate,
                endDate: store.eventData.date.endDate,
                visibility: "PUBLIC",
                schedulePublish: true,
                publishDate: store.eventData.date.startDate,
                password: "pass1",
                audience: "ANYONE",
                thumbnail: store.images.thumbnail,
                banner: store.images.banner,
                ticket: store.eventData.bookings.tickets,
                location: (store.eventLocation.type == 'VIRTUAL') ? store.eventLocation.virtual.link  : store.eventLocation.physical.address
            }
 
            console.log(dataToBePublished)


            for (let [key, value] of Object.entries(dataToBePublished)) {
                if (Array.isArray(value)) {
                    formData.append(key, JSON.stringify(value))

                }
                else {
                    // @ts-ignore
                    formData.append(key, value)
                }

            }

            // if (store.eventLocation.type == 'VIRTUAL') {
            //     formData.append('meetLink', store.eventLocation.virtual.link)
            // }
            // else {
            //     //@ts-ignore
            //     formData.append('location', store.eventLocation.physical)
            // }

            // console.log(JSON.parse(formData.get("ticket")))
            console.log(formData)
            console.log(JSON.stringify(formData))

            fetch('https://backend-5eii.onrender.com/publish', {
                method: "POST",
                credentials: 'include',
                body: formData,
            }).then((res) => res.json())
                .then((data) => {
                    loading.value=false
                    console.log(data)
                })
                .catch((error) => {
                    console.log(error)
                })
        }

        const formattedDate = useFormattedDate(originalDate);
        const formattedTime = convertTo12HourFormat(store.eventData.date.startTime)
        
        return {
            store,
            publish,
            formattedDate,
            formattedTime,
            loading
        }
    }
})
</script>

<style lang="scss" scoped>
.preview {
    margin-left: 15%;
    max-width: 900px;

    .details {
        background-color: #FEF1E3;
        border: 1px solid $faded-orange
    }

    .banner {
        height: 220px;
        width: 550px;
        flex-shrink: 0;
    }
}
</style>