<template>
    <div class="my-8">
        <div class="d-flex align-center flex-column" v-if="store.eventData.bookings.tickets.length < 1">
            <div class="imgbox">
                <img src="~/assets/images/icons/no-content/Group3.png">
            </div>
            <p class="my-4 text-center">Create one or more tickets for for the event. i.e. Regular, Bronze, Silver, Gold.</p>
            <div class="d-flex gap-20 my-4">
                <button class="btn btn-secondary-alt" @click="ticket = !ticket">Create ticket</button>
            </div>
        </div>
        <!-- <v-dialog
            v-model="section"
            max-width="450px"
            >
            <DialogEventSection @next="addSection"/>
        </v-dialog> -->

        <v-dialog
            max-width="450px"
            v-model="ticket"
        >
            <DialogEventTicket @done="addTicket" />
        </v-dialog>
        <div class="ctrls d-flex justify-space-between pr-5 mt-10" v-if="store.eventData.bookings.tickets?.length > 0 ">
            <p>Showing {{ store.eventData.bookings.tickets?.length }} different tickets</p>
            <div>
                <button class="btn btn-secondary" @click="ticket = !ticket">Create a new ticket</button>
            </div>
        </div>
        <div class="table pr-5">
            <TableEventSection v-if="store.eventData.bookings.tickets?.length > 0 " 
                :dataSource="store.eventData.bookings.tickets"/>
        </div>
        
        <!-- <button class="btn btn-secondary" @click="checkValidity">Check Validity</button> -->

        <div v-if="error">
            <span v-for="error in errors">{{  error.$property + error.$message }}</span>
        </div>
    </div>
</template>

<style  scoped>

.table, .ctrls{
    max-width: 1024px;
    width: calc(100% - 15%);
    margin-left: 15%;
}

</style>

<script lang="ts">
import { defineComponent, type Ref } from 'vue'
import { type Ticket } from '~~/interfaces/eventCreate'
import { useCreateEvent } from '~~/stores/createEvent'
import useVuelidate from '@vuelidate/core'
import { required, minLength } from "@vuelidate/validators"

export default defineComponent({
    props: {
        isValidCheck: {
            type: Boolean,
            default: false
        }
    },
    emits: ['next'],
    setup(props, context){
        // const section: <boolean> = ref(false)
        const ticket: Ref<boolean> = ref(false)
        const showTable: Ref<boolean> = ref(false)
        const store = useCreateEvent();
        const error = ref(false)
        const errors = ref<any[]>([])
        const logImage = (url: string, file: File) => {
            console.log(url, file)
        }

        const checkValidity = () => {
            console.log(store.eventData.bookings.tickets)
            $v.value.$validate()
            // console.log($v.value)
            console.log("Validity Check")
            console.log($v.value)
            if (!$v.value.$error){
                console.log("Valid")
                error.value = false
                errors.value = []
                context.emit("next", true)
            } else {
                console.log($v.value.$errors)
                console.log("Form not valid")
                error.value = $v.value.$error
                errors.value = $v.value.$errors
                context.emit("next", false)
            }
        }

        watch(() => props.isValidCheck, (checked) => {
            console.log("checking", checked)
            if(checked){
                checkValidity()
            }
        })

        const rules = computed(() => {
            return {tickets: { required , notEmpty: notEmpty}}
        })

        const notEmpty = (value: []) => value.length > 0

        const tickets = computed(() => {
            return store.eventData.bookings.tickets
        })

        const $v = useVuelidate(rules, {tickets: tickets.value})

        const showDescription = (content: string) => {
            console.log('text content', content)
        }

        const initialState = {
            name: '',
            capacity: '',
            tickets: []
        }

        const addTicket = (ticket_data: Ticket) => {
            store.eventData.bookings.tickets.push(ticket_data)
            ticket.value = false
        }


        return{
            // section,
            ticket,
            showTable,
            // finish,
            // addSection,
            // sectionData,
            addTicket,
            store,
            v: $v,
            checkValidity,
            error,
            errors
        }
    },
})
</script>
