<template>
    <div class="d-flex my-2">
        <input :type="type === 'Check' ? 'checkbox' : 'radio'" class="mr-2" @change="change">
        <p>{{ action }}</p>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
    props: {
        action: {
            type: String,
            default: "Do nothing"
        },
        type: {
            type: String,
            default: "Check"
        }
    },
    emits: ['change'],
    setup(props, context) {
        const change = () => {
            context.emit('change')
        }

        return {
            change
        }
    },
})
</script>
