<template>
            <div class="d-flex gap-10">
                <div class="input-group w-100">
                    <label for="">Country</label>
                    <select class="input" v-model="location.country" @change="setStates">
                        <option  v-for="country in countries" :key="country.code" :value="country.name">{{ country.name }}</option>
                    </select>
                </div>
                <div class="input-group w-100">
                    <label for="">State</label>
                    <select class="input" v-model="location.state" @change="emitChanges">
                        <option :value="state" v-for="state in states" :key="state">{{ state }}</option>
                    </select>
                </div>
            </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { getCountries, getStates} from 'country-state-picker'

export default defineComponent({
    emits: ['value'],
    props:{
        default: {
            type: Object,
            default: null
        }
    },
    setup(props, context) {
        const countries = getCountries()
        const states = ref<string>('')

        const location = ref({
            country: '',
            state: ''
        })


        const setStates = () => {
            location.value.state = ''
            let state = countries.filter((el: any) => el.name === location.value.country);
            let code = state[0].code
            // console.log(code)
            // console.log(getStates(code))
            states.value = getStates(code)
            emitChanges();
        }

        const emitChanges = () => {
            context.emit('value', {state: location.value.state, country: location.value.country})
        }

        onMounted(() => {
            if (props.default){
                location.value.country = props.default.country;
                location.value.state = props.default.state
            }
        })

        return{
            countries,
            location,
            states,
            setStates,
            emitChanges
        }
        
    },
})
</script>
